TjBot-VisualRecog-Flows/Tab10-Train-Foto.json
[{"id":"e04e5e2f.eeaf5","type":"comment","z":"2679c699.253b4a","name":"Take Photo Training - Demo Flow","info":"","x":150,"y":40,"wires":[]},{"id":"6dd4680d.b17aa8","type":"camerapi-takephoto","z":"2679c699.253b4a","filemode":"0","filename":"","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"2","rotation":"180","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","quality":"80","imageeffect":"none","exposuremode":"auto","iso":"0","agcwait":"0.3","led":"1","awb":"cloudy","name":"Take It","x":290,"y":300,"wires":[["2cb9ce0d.c2cd42","ad5d488f.f85fd8","4dd53fcb.64938"]]},{"id":"93836530.bf6cc8","type":"inject","z":"2679c699.253b4a","name":"Take Foto","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":240,"wires":[["6dd4680d.b17aa8"]]},{"id":"2cb9ce0d.c2cd42","type":"debug","z":"2679c699.253b4a","name":"Train Take Foto","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":480,"y":240,"wires":[]},{"id":"988859fe.ad4e68","type":"ui_template","z":"2679c699.253b4a","group":"3c2c5891.29ded8","name":"Show Pic","order":2,"width":0,"height":0,"format":"<div layout=\"row\" layout-align=\"space-between\">\n    <img src=\"data:image/jpg;base64,{{msg.payload}}\"\n        width='290' \n        height='220' \n        id='img'\n        alt=' Getting Image'\n    >\n</div>","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":660,"y":300,"wires":[[]]},{"id":"7db46f29.a352b","type":"ui_button","z":"2679c699.253b4a","name":"","group":"3c2c5891.29ded8","order":3,"width":0,"height":0,"passthru":false,"label":"Take Picture","color":"","bgcolor":"","icon":"fa-photo","payload":"","payloadType":"str","topic":"","x":110,"y":300,"wires":[["6dd4680d.b17aa8"]]},{"id":"ad5d488f.f85fd8","type":"base64","z":"2679c699.253b4a","name":"convert base64","action":"","property":"payload","x":480,"y":300,"wires":[["988859fe.ad4e68"]]},{"id":"687890ac.3dce","type":"ui_dropdown","z":"2679c699.253b4a","name":"","label":"Class","place":"Select option","group":"1626a9f1.86f406","order":2,"width":0,"height":0,"passthru":true,"options":[{"label":"Olaf Hahn","value":"oh","type":"str"}],"payload":"","topic":"","x":390,"y":100,"wires":[["da8f7e5d.2702e"]]},{"id":"1359eeed.be07b1","type":"function","z":"2679c699.253b4a","name":"Uniqe name","func":"var now = new Date();  // the current datetime as a Date object\nvar iso = now.toISOString();  // converted to YYYY-MM-DDThh:mm:ss.dddZ format\nvar utc = iso.replace(/^(.*)T(.*)Z$/, \"$1 $2\");  // with the 'T' and 'Z' removed\nvar obj = flow.get('class');\n\n// set objectname and filename\nmsg.filename = 'Picture ' + obj + ' ' + utc + '.jpg';\nmsg.objectname = msg.filename;\n\n// set bucket for the trainingset\nmsg.bucket = 'tjbot-pictures-' +  obj;\n\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":360,"wires":[["fa1a2387.f29f4"]]},{"id":"da8f7e5d.2702e","type":"change","z":"2679c699.253b4a","name":"Set Class","rules":[{"t":"set","p":"class","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"not running","tot":"str"},{"t":"set","p":"directory","pt":"flow","to":"/home/pi","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":100,"wires":[["33cb4abb.ebcd66","a7488262.f8c53","32426bca.0d2894"]]},{"id":"879e387.c7d32c8","type":"inject","z":"2679c699.253b4a","name":"Init","topic":"","payload":"oh","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":100,"wires":[["b6ba99e5.13a808"]]},{"id":"4dd53fcb.64938","type":"switch","z":"2679c699.253b4a","name":"Class set ?","property":"class","propertyType":"flow","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":470,"y":360,"wires":[["1359eeed.be07b1"]]},{"id":"8cc7d9f.1902928","type":"debug","z":"2679c699.253b4a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":950,"y":360,"wires":[]},{"id":"e59e01d7.e9e1","type":"cos-qry","z":"2679c699.253b4a","name":"Qry Buckets","list":"0","bucket":"oh-cos-bucket","maxkeys":50,"cosconfig":"f9345544.094b68","x":290,"y":1100,"wires":[["e57bc463.c90678"]]},{"id":"a0b9e582.116af8","type":"inject","z":"2679c699.253b4a","name":"Init","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":1100,"wires":[["e59e01d7.e9e1"]]},{"id":"fa1a2387.f29f4","type":"cos-put","z":"2679c699.253b4a","name":"Put Object","bucket":"xyz-test-bucket","create":"1","objectname":"Test","mode":"1","filepath":"","filename":"","contentType":"image/jpeg","geturl":true,"cosconfig":"f9345544.094b68","x":790,"y":360,"wires":[["8cc7d9f.1902928"]]},{"id":"76e50fc5.7d43f","type":"cos-qry","z":"2679c699.253b4a","name":"Qry Objects","bucket":"oh-cos-bucket","maxkeys":50,"cosconfig":"f9345544.094b68","x":470,"y":620,"wires":[["437c8a96.c47e64","5dcf485b.297398"]]},{"id":"437c8a96.c47e64","type":"debug","z":"2679c699.253b4a","name":"Train Foto Qry","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":660,"y":560,"wires":[]},{"id":"fcd6d0a8.48cc8","type":"comment","z":"2679c699.253b4a","name":"Take Photo and store ","info":"","x":120,"y":180,"wires":[]},{"id":"85c73c5c.bafa4","type":"ui_button","z":"2679c699.253b4a","name":"","group":"1626a9f1.86f406","order":4,"width":0,"height":0,"passthru":true,"label":"Train Faces","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":110,"y":620,"wires":[["637bdc70.83cae4","76e2bef0.6dcf4"]]},{"id":"e1477fa4.50cc8","type":"inject","z":"2679c699.253b4a","name":"Train","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":560,"wires":[["637bdc70.83cae4"]]},{"id":"637bdc70.83cae4","type":"function","z":"2679c699.253b4a","name":"Bucket name","func":"var obj = flow.get('class');\n\n// set bucket for the trainingset\nmsg.bucket = 'tjbot-pictures-' +  obj;\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":620,"wires":[["76e50fc5.7d43f"]]},{"id":"a4fd2ebd.234db","type":"link in","z":"2679c699.253b4a","name":"show training msg","links":["10016997.0cbfc6","33cb4abb.ebcd66","a04bb9d6.1b2de8","7e5a1ca5.c97c34"],"x":55,"y":500,"wires":[["1c26d4c.bf6442b"]]},{"id":"10016997.0cbfc6","type":"link out","z":"2679c699.253b4a","name":"jump train msg","links":["a4fd2ebd.234db"],"x":395,"y":560,"wires":[]},{"id":"1c26d4c.bf6442b","type":"ui_text","z":"2679c699.253b4a","group":"1626a9f1.86f406","order":6,"width":0,"height":0,"name":"","label":"Training","format":"{{msg.payload}}","layout":"row-spread","x":180,"y":500,"wires":[]},{"id":"76e2bef0.6dcf4","type":"change","z":"2679c699.253b4a","name":"running","rules":[{"t":"set","p":"payload","pt":"msg","to":"is running","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":560,"wires":[["10016997.0cbfc6"]]},{"id":"33cb4abb.ebcd66","type":"link out","z":"2679c699.253b4a","name":"jump train msg","links":["a4fd2ebd.234db"],"x":655,"y":60,"wires":[]},{"id":"7b174a1.1ccc1b4","type":"comment","z":"2679c699.253b4a","name":"Train out of a collection","info":"","x":120,"y":440,"wires":[]},{"id":"685e24d4.37498c","type":"link in","z":"2679c699.253b4a","name":"loop","links":["55d97e1d.dbaa6","f2ffdcbe.0d58c"],"x":55,"y":720,"wires":[["77baf44.ba2c80c"]]},{"id":"55d97e1d.dbaa6","type":"link out","z":"2679c699.253b4a","name":"jump loop","links":["685e24d4.37498c"],"x":895,"y":620,"wires":[]},{"id":"77baf44.ba2c80c","type":"switch","z":"2679c699.253b4a","name":"","property":"x","propertyType":"flow","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":170,"y":720,"wires":[["bb1a1a1b.a09d78"],["5693d61b.1bb978"]]},{"id":"a04bb9d6.1b2de8","type":"link out","z":"2679c699.253b4a","name":"jump train msg","links":["a4fd2ebd.234db"],"x":815,"y":960,"wires":[]},{"id":"c230b855.9f8fa8","type":"change","z":"2679c699.253b4a","name":"trained","rules":[{"t":"set","p":"payload","pt":"msg","to":"trained","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":960,"wires":[["a04bb9d6.1b2de8"]]},{"id":"bc31c72e.59f7a8","type":"cos-get","z":"2679c699.253b4a","name":"get foto","bucket":"bucket","objectname":"object","mode":"0","filepath":"filepath","filename":"filename","geturl":false,"cosconfig":"f9345544.094b68","x":500,"y":680,"wires":[["6b717d2d.0102d4","8470f093.6c613"]]},{"id":"6b717d2d.0102d4","type":"function","z":"2679c699.253b4a","name":"counter","func":"flow.set('x', flow.get('x') - 1);\n\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":680,"wires":[["f2ffdcbe.0d58c"]]},{"id":"bb1a1a1b.a09d78","type":"function","z":"2679c699.253b4a","name":"get object","func":"var obj = flow.get('class');\nvar keys = flow.get('keys');\nvar dir = flow.get('directory') + '/' + obj + '/';\nvar x = flow.get('x')-1;\nmsg.keys = keys;\nmsg.x = x;\nmsg.dir = dir;\n\n// Set environment for download\nmsg.objectname = keys[x].Key;\nmsg.filename = keys[x].Key;\nmsg.filepath = dir;\nmsg.bucket = 'tjbot-pictures-' +  obj;\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":680,"wires":[["bc31c72e.59f7a8"]]},{"id":"f2ffdcbe.0d58c","type":"link out","z":"2679c699.253b4a","name":"jump loop","links":["685e24d4.37498c"],"x":775,"y":680,"wires":[]},{"id":"8470f093.6c613","type":"debug","z":"2679c699.253b4a","name":"Train Foto Get Foto","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":690,"y":720,"wires":[]},{"id":"ca4b8164.e546f","type":"exec","z":"2679c699.253b4a","command":"zip ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Zip Fotos","x":500,"y":760,"wires":[["c944975b.ef9278"],[],[]]},{"id":"5693d61b.1bb978","type":"function","z":"2679c699.253b4a","name":"zip name","func":"var obj = flow.get(\"class\");\n\nmsg.payload = '-m ' + obj + '.zip' + ' /home/pi/' +  obj + '/*.*';\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":760,"wires":[["ca4b8164.e546f"]]},{"id":"9cd42573.eb3558","type":"exec","z":"2679c699.253b4a","command":"mkdir ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"mkdir","x":770,"y":620,"wires":[["55d97e1d.dbaa6"],[],[]]},{"id":"5dcf485b.297398","type":"function","z":"2679c699.253b4a","name":"class","func":"var obj = flow.get('class');\nflow.set('keys', msg.payload);\nflow.set('x', msg.found);\n\nmsg.payload = obj;\n\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":620,"wires":[["9cd42573.eb3558"]]},{"id":"99db57d8.ab2c18","type":"exec","z":"2679c699.253b4a","command":"rmdir","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":550,"y":820,"wires":[["ad6d01c.0bae9"],[],[]]},{"id":"c944975b.ef9278","type":"function","z":"2679c699.253b4a","name":"Class","func":"\nmsg.payload = flow.get('class');\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":820,"wires":[["99db57d8.ab2c18"]]},{"id":"e57bc463.c90678","type":"function","z":"2679c699.253b4a","name":"Parse","func":"var i;\nvar arr = [];\n\nfor (i in msg.payload) {\n    if (msg.payload[i].Name.search(\"tjbot-pictures\") != -1) {\n     arr.push(msg.payload[i].Name);   \n    }\n}\n\nmsg.options = arr;\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":1100,"wires":[["d184b46e.8bcca8"]]},{"id":"d184b46e.8bcca8","type":"ui_dropdown","z":"2679c699.253b4a","name":"","label":"Collection","place":"Select option","group":"e3287b8.9c1d988","order":1,"width":0,"height":0,"passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":600,"y":1100,"wires":[["696982ba.786c1c"]]},{"id":"6ce82903.46dd58","type":"ui_dropdown","z":"2679c699.253b4a","name":"","label":"Fotos","place":"Select option","group":"e3287b8.9c1d988","order":2,"width":0,"height":0,"passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":590,"y":1180,"wires":[["f5e050f3.d244c"]]},{"id":"786241b8.498de","type":"cos-qry","z":"2679c699.253b4a","name":"Qry Objects","list":"1","bucket":"oh-cos-bucket","maxkeys":50,"cosconfig":"f9345544.094b68","x":290,"y":1180,"wires":[["d1102fc0.7bfb5"]]},{"id":"696982ba.786c1c","type":"change","z":"2679c699.253b4a","name":"Bucket","rules":[{"t":"set","p":"bucket","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"qrybucket","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":130,"y":1180,"wires":[["786241b8.498de"]]},{"id":"d1102fc0.7bfb5","type":"function","z":"2679c699.253b4a","name":"Parse","func":"var i;\nvar arr = [];\n\nfor (i in msg.payload) {\n    arr.push(msg.payload[i].Key);   \n}\n\nmsg.options = arr;\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":1180,"wires":[["6ce82903.46dd58"]]},{"id":"2190e749.f4de98","type":"ui_template","z":"2679c699.253b4a","group":"e3287b8.9c1d988","name":"Show Pic","order":3,"width":0,"height":0,"format":"<div layout=\"row\" layout-align=\"space-between\">\n    <img src=\"data:image/jpg;base64,{{msg.payload}}\"\n        width='290' \n        height='220' \n        id='img'\n        alt=' Getting Image'\n    >\n</div>","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":620,"y":1260,"wires":[[]]},{"id":"b17089bb.768e38","type":"base64","z":"2679c699.253b4a","name":"convert ","action":"","property":"payload","x":460,"y":1260,"wires":[["2190e749.f4de98"]]},{"id":"f5e050f3.d244c","type":"function","z":"2679c699.253b4a","name":"get object","func":"// Set environment for download\nmsg.objectname = msg.payload;\nmsg.bucket = flow.get('qrybucket');\nreturn msg;","outputs":1,"noerr":0,"x":140,"y":1260,"wires":[["57f799e2.b0f798"]]},{"id":"57f799e2.b0f798","type":"cos-get","z":"2679c699.253b4a","name":"get foto","bucket":"bucket","objectname":"object","mode":"1","filepath":"/home/pi/","filename":"filename","geturl":false,"cosconfig":"f9345544.094b68","x":300,"y":1260,"wires":[["b17089bb.768e38"]]},{"id":"efbc66e2.3ecee8","type":"comment","z":"2679c699.253b4a","name":"Show existing Fotos","info":"","x":130,"y":1060,"wires":[]},{"id":"30d8eb.fb25c716","type":"inject","z":"2679c699.253b4a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":1380,"wires":[["202df7db.297688"]]},{"id":"202df7db.297688","type":"function","z":"2679c699.253b4a","name":"set name","func":"msg.params={'name':'tjbot'};\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":1380,"wires":[["441e0534.dd266c"]]},{"id":"441e0534.dd266c","type":"file in","z":"2679c699.253b4a","name":"positive","filename":"/home/pi/Pictures/oh_positive.zip","format":"","chunk":false,"sendError":true,"x":440,"y":1380,"wires":[["cbd9ff92.af2ca"]]},{"id":"cbd9ff92.af2ca","type":"change","z":"2679c699.253b4a","name":"set positives","rules":[{"t":"set","p":"params.retrievers_positive_examples","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1380,"wires":[["3f515354.39bcfc"]]},{"id":"3f515354.39bcfc","type":"file in","z":"2679c699.253b4a","name":"negative","filename":"/home/pi/Pictures/retrievers_negative.zip","format":"","chunk":false,"sendError":true,"x":440,"y":1420,"wires":[["da7a0138.526d1"]]},{"id":"da7a0138.526d1","type":"change","z":"2679c699.253b4a","name":"set negative","rules":[{"t":"set","p":"params.negative_examples","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1420,"wires":[["7270fc2e.d040f4"]]},{"id":"7270fc2e.d040f4","type":"visual-recognition-util-v3","z":"2679c699.253b4a","name":"create first classifier","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"createClassifier","x":560,"y":1480,"wires":[["985e7df7.1a931"]]},{"id":"985e7df7.1a931","type":"debug","z":"2679c699.253b4a","name":"Train Foto First Classifier","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"result","x":810,"y":1480,"wires":[]},{"id":"a65b1503.007ec8","type":"comment","z":"2679c699.253b4a","name":"first classifier","info":"","x":110,"y":1320,"wires":[]},{"id":"9c881b26.0ff918","type":"ui_text","z":"2679c699.253b4a","group":"1626a9f1.86f406","order":5,"width":0,"height":0,"name":"","label":"Update training for","format":"{{msg.payload}}","layout":"row-spread","x":890,"y":100,"wires":[]},{"id":"c650e1d9.c2bfd","type":"visual-recognition-util-v3","z":"2679c699.253b4a","name":"delete All classifiers","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"deleteAllClassifiers","x":510,"y":1740,"wires":[["fc082272.4cc61"]]},{"id":"ff43232a.9c88f","type":"inject","z":"2679c699.253b4a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":1740,"wires":[["c650e1d9.c2bfd"]]},{"id":"fc082272.4cc61","type":"debug","z":"2679c699.253b4a","name":"","active":true,"console":"false","complete":"result","x":770,"y":1680,"wires":[]},{"id":"265a9fab.20c66","type":"visual-recognition-util-v3","z":"2679c699.253b4a","name":"retrieve classifiers list","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"retrieveClassifiersList","x":520,"y":1620,"wires":[["fc082272.4cc61"]]},{"id":"b7f8d6d4.4ed0a8","type":"visual-recognition-util-v3","z":"2679c699.253b4a","name":"retrieve classifier details","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"retrieveClassifierDetails","x":530,"y":1660,"wires":[["fc082272.4cc61"]]},{"id":"a994ac24.c16be","type":"visual-recognition-util-v3","z":"2679c699.253b4a","name":"delete a classifier","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"deleteClassifier","x":510,"y":1700,"wires":[["fc082272.4cc61"]]},{"id":"f078f9f3.927108","type":"inject","z":"2679c699.253b4a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":1620,"wires":[["265a9fab.20c66"]]},{"id":"c6a9bb01.135ba8","type":"function","z":"2679c699.253b4a","name":"set classifier_id","func":"msg.params={'classifier_id':'dogs_1784804271'};\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":1660,"wires":[["b7f8d6d4.4ed0a8"]]},{"id":"fdece25a.d45da","type":"function","z":"2679c699.253b4a","name":"set classifier_id","func":"msg.params={'classifier_id':'retrievers2_2143367605'};\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":1700,"wires":[["a994ac24.c16be"]]},{"id":"cb9300d6.6d632","type":"inject","z":"2679c699.253b4a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":1660,"wires":[["c6a9bb01.135ba8"]]},{"id":"7c14f55c.3e3a4c","type":"inject","z":"2679c699.253b4a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":1700,"wires":[["fdece25a.d45da"]]},{"id":"b6ba99e5.13a808","type":"function","z":"2679c699.253b4a","name":"Setup","func":"var arr = [];\n\narr.push({\"Olaf Hahn\":\"oh\"});\narr.push({\"Magdalena Hahn\":\"mh\"});\narr.push({\"Paul Hahn\":\"ph\"});\narr.push({\"Husky\":\"husky\"});\narr.push({\"Dalmatian\":\"dalmatian\"});\narr.push({\"Beagle\":\"beagle\"});\narr.push({\"Golden-retriever\":\"golden-retriever\"});\narr.push({\"Cats\":\"cats\"});\n\n\nflow.set(\"knownclasses\",arr);\n\nmsg.options = arr;\nmsg.payload = \"oh\";\n\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":100,"wires":[["687890ac.3dce"]]},{"id":"a7488262.f8c53","type":"function","z":"2679c699.253b4a","name":"Get name","func":"var kf = flow.get(\"knownclasses\");\nvar f = flow.get(\"class\");\nvar name = \"\";\n\n// Get the name to the key\nfor (var i in kf) {\n    for (var y in kf[i]) {\n        if (kf[i][y] == f) {\n            name = y;\n        }\n    }\n}\n\nmsg.payload = name;\n\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":100,"wires":[["9c881b26.0ff918"]]},{"id":"f41ffe13.6ea8d","type":"comment","z":"2679c699.253b4a","name":"classifier work","info":"","x":110,"y":1580,"wires":[]},{"id":"32426bca.0d2894","type":"visual-recognition-util-v3","z":"2679c699.253b4a","name":"retrieve classifiers list","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"retrieveClassifiersList","x":740,"y":140,"wires":[["7e1cfb85.1b2ad4"]]},{"id":"7e1cfb85.1b2ad4","type":"function","z":"2679c699.253b4a","name":"Parse","func":"var i;\nvar arr = [];\nvar first = \"\";\n\nfor (i in msg.result.classifiers) {\n    arr.push(msg.result.classifiers[i].name); \n    if (first === \"\") {\n        first = msg.result.classifiers[i].name;\n    }\n}\n\nmsg.options = arr;\nmsg.payload = first;\n\nflow.set(\"classifiers\", msg.result.classifiers);\n\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":140,"wires":[["67dd684.f23d998"]]},{"id":"67dd684.f23d998","type":"ui_dropdown","z":"2679c699.253b4a","name":"","label":"Model","place":"Select option","group":"1626a9f1.86f406","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":1070,"y":140,"wires":[["1af54335.1c109d"]]},{"id":"1af54335.1c109d","type":"change","z":"2679c699.253b4a","name":"Model","rules":[{"t":"set","p":"model","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":140,"wires":[[]]},{"id":"ad6d01c.0bae9","type":"function","z":"2679c699.253b4a","name":"Zip-Filename","func":"msg.filename = \"/home/pi/\" + flow.get(\"class\") + \".zip\";\n\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":900,"wires":[["41a95958.faffc8"]]},{"id":"41a95958.faffc8","type":"file in","z":"2679c699.253b4a","name":"Zip upload","filename":"/home/pi/oh.zip","format":"","chunk":false,"sendError":true,"x":310,"y":900,"wires":[["3b4c066c.226aaa"]]},{"id":"36ab5a9.c1613a6","type":"visual-recognition-util-v3","z":"2679c699.253b4a","name":"update classifier","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"updateClassifier","x":480,"y":960,"wires":[["86e83495.451858","c230b855.9f8fa8"]]},{"id":"86e83495.451858","type":"debug","z":"2679c699.253b4a","name":"Train Foto Classifier Update","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"result","x":780,"y":920,"wires":[]},{"id":"3b4c066c.226aaa","type":"function","z":"2679c699.253b4a","name":"Model and Name","func":"var i;\nvar arr = [];\nvar classifiers = flow.get(\"classifiers\");\nvar model = flow.get(\"model\");\nvar face_positive = flow.get(\"class\")+\"_positive_examples\";\nvar classifier_id;\n\nmsg.params={'name':'tjbot'};\nmsg.params[\"owners\"]=\"me\";\n\nfor (i in classifiers) {\n    if (classifiers[i].name === model) {\n        classifier_id = classifiers[i].classifier_id;\n    }\n}\n\nmsg.params[\"classifier_id\"]=classifier_id;\nmsg.params[face_positive] = msg.payload;\n//msg.params.retrievers_positive_examples = msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":900,"wires":[["36ab5a9.c1613a6","c7931bde.452cb8"]]},{"id":"c7931bde.452cb8","type":"debug","z":"2679c699.253b4a","name":"Train Foto Upload Zip","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":760,"y":860,"wires":[]},{"id":"4a96ef7f.6c195","type":"comment","z":"2679c699.253b4a","name":"Status of model","info":"","x":120,"y":1820,"wires":[]},{"id":"5b2cf72c.8f5428","type":"inject","z":"2679c699.253b4a","name":"Check","topic":"","payload":"","payloadType":"date","repeat":"30","crontab":"","once":true,"onceDelay":"5","x":140,"y":1860,"wires":[["5f99ccc.3abba34"]]},{"id":"c4d02d25.364c6","type":"visual-recognition-util-v3","z":"2679c699.253b4a","name":"retrieve classifiers list","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"retrieveClassifierDetails","x":540,"y":1860,"wires":[["8cd346d8.731088"]]},{"id":"5f99ccc.3abba34","type":"function","z":"2679c699.253b4a","name":"set classifier_id","func":"var i;\nvar classifiers = flow.get(\"classifiers\");\nvar model = flow.get(\"model\");\nvar classifier;\n\nfor (i in classifiers) {\n    if (classifiers[i].name == model) {\n        classifier = classifiers[i].classifier_id;\n    }\n}\nmsg.params = {};\nmsg.params[\"classifier_id\"]=classifier;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":320,"y":1860,"wires":[["c4d02d25.364c6"]]},{"id":"d3b846af.618808","type":"ui_text","z":"2679c699.253b4a","group":"1626a9f1.86f406","order":3,"width":0,"height":0,"name":"","label":"Status","format":"{{msg.payload}}","layout":"row-spread","x":870,"y":1860,"wires":[]},{"id":"8cd346d8.731088","type":"function","z":"2679c699.253b4a","name":"status","func":"msg.payload = msg.result.status;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":730,"y":1860,"wires":[["d3b846af.618808"]]},{"id":"8462ae0f.0434a","type":"inject","z":"2679c699.253b4a","name":"Default","topic":"","payload":"/home/pi/Pictures/","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":120,"y":2000,"wires":[["625e1541.054e7c"]]},{"id":"27287c62.654c24","type":"function","z":"2679c699.253b4a","name":"Parse","func":"var i;\nvar str = msg.payload;\nvar path = flow.get(\"lspath\");\nvar list = msg.payload.replace(/\\n|\\r/g, \"\");\nlist = list.split(\",\");\n\nfor (i in list) {\n    list[i] = list[i].replace(path,\"\").trim();\n    console.log(str);\n}\n\n//while (str.length && str.indexOf(\",\") > 0) {\n//    arr.push(str.slice(0, str.indexOf(\",\")).replace(path,\"\"));\n//    str = str.substr(str.indexOf(\",\")+1);\n//}\n\nmsg.options = list;\n\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":2000,"wires":[["505971d6.75b0d"]]},{"id":"8a4b6bd2.a1d478","type":"ui_button","z":"2679c699.253b4a","name":"","group":"a0b8f2a8.12a22","order":4,"width":0,"height":0,"passthru":false,"label":"Upload","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":180,"y":2120,"wires":[["e0768449.1ad648"]]},{"id":"505971d6.75b0d","type":"ui_dropdown","z":"2679c699.253b4a","name":"","label":"Files","place":"Select option","group":"a0b8f2a8.12a22","order":2,"width":0,"height":0,"passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":770,"y":2000,"wires":[["2f58fad5.e79116"]]},{"id":"1ad7d097.8fe09f","type":"exec","z":"2679c699.253b4a","command":"ls","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":510,"y":2000,"wires":[["27287c62.654c24"],[],[]]},{"id":"fbd52b64.695be8","type":"function","z":"2679c699.253b4a","name":"Set LS","func":"flow.set (\"lspath\", msg.payload);\nflow.set (\"lsobj\", \"\");\n\nmsg.payload = \" -m \" + msg.payload + \"*.jpg\";\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":2000,"wires":[["1ad7d097.8fe09f"]]},{"id":"2172f784.35d178","type":"ui_template","z":"2679c699.253b4a","group":"a0b8f2a8.12a22","name":"Show Pic","order":3,"width":0,"height":0,"format":"<div layout=\"row\" layout-align=\"space-between\">\n    <img src=\"data:image/jpg;base64,{{msg.payload}}\"\n        width='290' \n        height='220' \n        id='img'\n        alt=' Getting Image'\n    >\n</div>","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":700,"y":2060,"wires":[[]]},{"id":"e611c381.a49b9","type":"base64","z":"2679c699.253b4a","name":" base64","action":"","property":"payload","x":560,"y":2060,"wires":[["2172f784.35d178"]]},{"id":"2f58fad5.e79116","type":"function","z":"2679c699.253b4a","name":"Filename","func":"msg.filename = flow.get(\"lspath\") + msg.payload;\nflow.set(\"lsobj\", msg.filename);\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":2060,"wires":[["73e32671.b39658"]]},{"id":"73e32671.b39658","type":"file in","z":"2679c699.253b4a","name":"Load Pic","filename":"","format":"","chunk":false,"sendError":false,"x":420,"y":2060,"wires":[["e611c381.a49b9"]]},{"id":"625e1541.054e7c","type":"ui_dropdown","z":"2679c699.253b4a","name":"","label":"Path","place":"Select option","group":"a0b8f2a8.12a22","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"/Pictures/","value":"/home/pi/Pictures/","type":"str"},{"label":"/","value":"/home/pi/","type":"str"}],"payload":"","topic":"","x":250,"y":2000,"wires":[["fbd52b64.695be8"]]},{"id":"12c71143.ca2aff","type":"comment","z":"2679c699.253b4a","name":"Local Files","info":"","x":100,"y":1960,"wires":[]},{"id":"ee24ec83.f9cdc","type":"function","z":"2679c699.253b4a","name":"Uniqe name","func":"var now = new Date();  // the current datetime as a Date object\nvar iso = now.toISOString();  // converted to YYYY-MM-DDThh:mm:ss.dddZ format\nvar utc = iso.replace(/^(.*)T(.*)Z$/, \"$1 $2\");  // with the 'T' and 'Z' removed\nvar obj = flow.get('class');\n\n// set objectname and filename\nmsg.filename = 'Picture ' + obj + ' ' + utc + '.jpg';\nmsg.objectname = msg.filename;\n\n// set bucket for the trainingset\nmsg.bucket = 'tjbot-pictures-' +  obj;\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":2180,"wires":[["3614ef9d.884ba"]]},{"id":"2dddf610.4b322a","type":"switch","z":"2679c699.253b4a","name":"Class set ?","property":"class","propertyType":"flow","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":2180,"wires":[["ee24ec83.f9cdc"]]},{"id":"13d9989e.90e517","type":"debug","z":"2679c699.253b4a","name":"Train Foto Put","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":780,"y":2180,"wires":[]},{"id":"3614ef9d.884ba","type":"cos-put","z":"2679c699.253b4a","name":"Put Object","bucket":"xyz-test-bucket","create":"1","objectname":"Test","mode":"1","filepath":"","filename":"","contentType":"image/jpeg","geturl":true,"cosconfig":"f9345544.094b68","x":590,"y":2180,"wires":[["13d9989e.90e517"]]},{"id":"36237c8.6d64f84","type":"function","z":"2679c699.253b4a","name":"Filename","func":"msg.filename = flow.get(\"lsobj\", msg.filename);\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":2120,"wires":[["cd807800.189c88"]]},{"id":"cd807800.189c88","type":"file in","z":"2679c699.253b4a","name":"Load Pic","filename":"","format":"","chunk":false,"sendError":false,"x":600,"y":2120,"wires":[["2dddf610.4b322a"]]},{"id":"e0768449.1ad648","type":"switch","z":"2679c699.253b4a","name":"lsobj set ?","property":"lsobj","propertyType":"flow","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":320,"y":2120,"wires":[["36237c8.6d64f84"]]},{"id":"3c2c5891.29ded8","type":"ui_group","z":"","name":"Photo Capture","tab":"665d59d9.043d38","order":3,"disp":true,"width":"6","collapse":false},{"id":"1626a9f1.86f406","type":"ui_group","z":"","name":"Train Model","tab":"665d59d9.043d38","order":1,"disp":true,"width":"6","collapse":false},{"id":"f9345544.094b68","type":"cos-config","z":"","apiKeyId":"CHdBkuCV3ANCygdWFVgwL5N9gPjJl_a62GKK2HEFzERr","location":"us-geo","ibmAuthEndpoint":"https://iam.ng.bluemix.net/oidc/token","endpoint":"s3-api.us-geo.objectstorage.softlayer.net","serviceInstanceId":"crn:v1:bluemix:public:iam-identity::a/19f662d586832d82b96df0d107630ba9::serviceid:ServiceId-d1857c2b-1fbf-4412-af20-18a15427cf68","hmac":true,"accesskeyid":"39eee12e53534ae5927484a0288e9605","accesskey":"adfc0ac958f67eb697fb4e6f6ac41066834d5dd06878532d","name":"Qry"},{"id":"e3287b8.9c1d988","type":"ui_group","z":"","name":"Display Collection of Fotos","tab":"665d59d9.043d38","order":4,"disp":true,"width":"7","collapse":false},{"id":"a0b8f2a8.12a22","type":"ui_group","z":"","name":"Local Pictures","tab":"665d59d9.043d38","disp":true,"width":"6","collapse":false},{"id":"665d59d9.043d38","type":"ui_tab","z":"","name":"Training Fotos","icon":"dashboard","order":5}]