TjBot-VisualRecog-Flows/Tab9-Classify.json
[{"id":"a3749c16.c2c07","type":"comment","z":"bed1450.85b47b8","name":"Custom Classfy Photo - Demo Flow","info":"","x":160,"y":40,"wires":[]},{"id":"30ee9346.c8dc7c","type":"inject","z":"bed1450.85b47b8","name":"Init","topic":"","payload":"oh","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"1","x":110,"y":84,"wires":[["86a7711e.31761"]]},{"id":"c15d2ff.edcbdd","type":"camerapi-takephoto","z":"bed1450.85b47b8","filemode":"0","filename":"","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"2","rotation":"180","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","quality":"80","imageeffect":"none","exposuremode":"auto","iso":"0","agcwait":"0.3","led":"1","awb":"cloudy","name":"Take It","x":270,"y":264,"wires":[["e2a01591.82d438","8a26088c.f0f3e8","a24a8d37.a78b5"]]},{"id":"d270b1eb.9afd5","type":"inject","z":"bed1450.85b47b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":284,"wires":[["c15d2ff.edcbdd"]]},{"id":"e2a01591.82d438","type":"debug","z":"bed1450.85b47b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":470,"y":224,"wires":[]},{"id":"daa35d6b.7184d","type":"ui_template","z":"bed1450.85b47b8","group":"4dd50c00.e62164","name":"Show Pic","order":0,"width":0,"height":0,"format":"<div layout=\"row\" layout-align=\"space-between\">\n    <img src=\"data:image/jpg;base64,{{msg.payload}}\"\n        width='290' \n        height='220' \n        id='img'\n        alt=' Getting Image'\n    >\n</div>","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":680,"y":264,"wires":[[]]},{"id":"9d25633d.48fe7","type":"ui_button","z":"bed1450.85b47b8","name":"","group":"4dd50c00.e62164","order":0,"width":0,"height":0,"passthru":false,"label":"Take Picture","color":"","bgcolor":"","icon":"fa-photo","payload":"","payloadType":"str","topic":"","x":110,"y":244,"wires":[["c15d2ff.edcbdd"]]},{"id":"8a26088c.f0f3e8","type":"base64","z":"bed1450.85b47b8","name":"convert base64","action":"","property":"payload","x":500,"y":264,"wires":[["daa35d6b.7184d"]]},{"id":"f277c605.d1fc68","type":"comment","z":"bed1450.85b47b8","name":"Take Photo to classify","info":"","x":120,"y":204,"wires":[]},{"id":"71eb440c.dcf6ac","type":"inject","z":"bed1450.85b47b8","name":"Default","topic":"","payload":"/home/pi/Pictures/","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":120,"y":444,"wires":[["c5b71f93.6c7de"]]},{"id":"c5b71f93.6c7de","type":"ui_dropdown","z":"bed1450.85b47b8","name":"","label":"Path","place":"Select option","group":"8492157f.e41d68","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"/Pictures/","value":"/home/pi/Pictures/","type":"str"},{"label":"/","value":"/home/pi/","type":"str"}],"payload":"","topic":"","x":250,"y":444,"wires":[["65257fef.b147a"]]},{"id":"65257fef.b147a","type":"function","z":"bed1450.85b47b8","name":"Set LS","func":"flow.set (\"lspath\", msg.payload);\nflow.set (\"lsobj\", \"\");\n\nmsg.payload = \" -m \" + msg.payload + \"*.jpg\";\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":444,"wires":[["100a0c3.fe7b5f4"]]},{"id":"100a0c3.fe7b5f4","type":"exec","z":"bed1450.85b47b8","command":"ls","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":510,"y":444,"wires":[["6990f063.4a7de"],[],[]]},{"id":"6990f063.4a7de","type":"function","z":"bed1450.85b47b8","name":"Parse","func":"var i;\nvar str = msg.payload;\nvar path = flow.get(\"lspath\");\nvar list = msg.payload.replace(/\\n|\\r/g, \"\");\nlist = list.split(\",\");\n\nfor (i in list) {\n    list[i] = list[i].replace(path,\"\").trim();\n    console.log(str);\n}\n\nmsg.options = list;\n\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":444,"wires":[["487c6840.a773d8"]]},{"id":"487c6840.a773d8","type":"ui_dropdown","z":"bed1450.85b47b8","name":"","label":"Files","place":"Select option","group":"8492157f.e41d68","order":2,"width":0,"height":0,"passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":790,"y":444,"wires":[["25f32089.33bef"]]},{"id":"25f32089.33bef","type":"function","z":"bed1450.85b47b8","name":"Filename","func":"msg.filename = flow.get(\"lspath\") + msg.payload;\nflow.set(\"lsobj\", msg.filename);\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":504,"wires":[["d62719f.006dce8"]]},{"id":"d62719f.006dce8","type":"file in","z":"bed1450.85b47b8","name":"Load Pic","filename":"","format":"","chunk":false,"sendError":false,"x":420,"y":504,"wires":[["6520f6ee.ecc248","962bb675.d24e18"]]},{"id":"6520f6ee.ecc248","type":"base64","z":"bed1450.85b47b8","name":" base64","action":"","property":"payload","x":560,"y":504,"wires":[["e34b28f9.07fcc8"]]},{"id":"e34b28f9.07fcc8","type":"ui_template","z":"bed1450.85b47b8","group":"8492157f.e41d68","name":"Show Pic","order":3,"width":0,"height":0,"format":"<div layout=\"row\" layout-align=\"space-between\">\n    <img src=\"data:image/jpg;base64,{{msg.payload}}\"\n        width='290' \n        height='220' \n        id='img'\n        alt=' Getting Image'\n    >\n</div>","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":700,"y":504,"wires":[[]]},{"id":"b6cc2ed.a0617d","type":"comment","z":"bed1450.85b47b8","name":"Load Photo ","info":"","x":90,"y":404,"wires":[]},{"id":"4ea207b6.486118","type":"link in","z":"bed1450.85b47b8","name":"Classify","links":["a24a8d37.a78b5","962bb675.d24e18"],"x":75,"y":644,"wires":[["32049321.6e094c","ab3e851f.ddbdd8"]]},{"id":"a24a8d37.a78b5","type":"link out","z":"bed1450.85b47b8","name":"Jump Classify","links":["4ea207b6.486118"],"x":435,"y":304,"wires":[]},{"id":"962bb675.d24e18","type":"link out","z":"bed1450.85b47b8","name":"Jump Classify","links":["4ea207b6.486118"],"x":515,"y":544,"wires":[]},{"id":"ef21403d.d921c","type":"comment","z":"bed1450.85b47b8","name":"Get Classifier Infos ","info":"","x":110,"y":604,"wires":[]},{"id":"ab3e851f.ddbdd8","type":"visual-recognition-v3","z":"bed1450.85b47b8","name":"Faces","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"detectFaces","lang":"en","x":330,"y":644,"wires":[["f7453e7a.0b7e6","409d4eb4.096eb"]]},{"id":"f7453e7a.0b7e6","type":"debug","z":"bed1450.85b47b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":536.9826431274414,"y":593.9895858764648,"wires":[]},{"id":"99013d96.cc835","type":"visual-recognition-v3","z":"bed1450.85b47b8","name":"Detect","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"classifyImage","lang":"en","x":356.9826431274414,"y":733.9895858764648,"wires":[["3eb5ad3c.fa4c32","7723a659.64eec8","f2df707.03a5b9"]]},{"id":"3eb5ad3c.fa4c32","type":"debug","z":"bed1450.85b47b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":516.9826431274414,"y":693.9895858764648,"wires":[]},{"id":"32049321.6e094c","type":"function","z":"bed1450.85b47b8","name":"set classifier","func":"var model = flow.get(\"model\");\nvar classifiers = flow.get(\"classifiers\");\nvar classifier;\nvar i;\n\nfor (i in classifiers) {\n    if (classifiers[i].name == model) {\n        classifier = classifiers[i].classifier_id;\n    }\n}\nmsg.params = {};\nmsg.params[\"classifier_ids\"] = classifier + \",default\";\n\nreturn msg;","outputs":1,"noerr":0,"x":196.9826431274414,"y":733.9895858764648,"wires":[["99013d96.cc835"]]},{"id":"86a7711e.31761","type":"visual-recognition-util-v3","z":"bed1450.85b47b8","name":"retrieve classifiers list","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"retrieveClassifiersList","x":300,"y":84,"wires":[["d2a20f4.3e82bf"]]},{"id":"d2a20f4.3e82bf","type":"function","z":"bed1450.85b47b8","name":"Parse","func":"var i;\nvar arr = [];\nvar first = \"\";\n\nfor (i in msg.result.classifiers) {\n    arr.push(msg.result.classifiers[i].name); \n    if (first === \"\") {\n        first = msg.result.classifiers[i].name;\n    }\n}\n\nmsg.options = arr;\nmsg.payload = first;\n\nflow.set(\"classifiers\", msg.result.classifiers);\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":84,"wires":[["d8b91398.e206c"]]},{"id":"d8b91398.e206c","type":"ui_dropdown","z":"bed1450.85b47b8","name":"","label":"Model","place":"Select option","group":"5d90458f.3d511c","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":630,"y":84,"wires":[["81d86f65.76a98"]]},{"id":"81d86f65.76a98","type":"change","z":"bed1450.85b47b8","name":"Model","rules":[{"t":"set","p":"model","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":84,"wires":[[]]},{"id":"7723a659.64eec8","type":"function","z":"bed1450.85b47b8","name":"extract","func":"var msg1, msg2;\nvar msg3, msg4;\n\nvar name = \"\";\nvar score = 0;\n\nif (msg.result.images.length) {\n    name = msg.result.images[0].classifiers[0].classes[0].class;\n    score = msg.result.images[0].classifiers[0].classes[0].score*100;\n}\n\nmsg1 = {payload : name};\nmsg2 = {payload : score};\n\nreturn [msg1,msg2];","outputs":2,"noerr":0,"x":516.9826431274414,"y":733.9895858764648,"wires":[["ee972c33.a7894"],["9463c241.0c062"]]},{"id":"ee972c33.a7894","type":"ui_text","z":"bed1450.85b47b8","group":"98fc3379.d4572","order":2,"width":0,"height":0,"name":"","label":"Custom Classifier","format":"{{msg.payload}}","layout":"row-spread","x":716.9826431274414,"y":713.9895858764648,"wires":[]},{"id":"9463c241.0c062","type":"ui_gauge","z":"bed1450.85b47b8","name":"","group":"98fc3379.d4572","order":3,"width":0,"height":0,"gtype":"gage","title":"confidence","label":"units","format":"{{value | number:1}}%","min":0,"max":"100","colors":["#ca3838","#e6e600","#39ca38"],"seg1":"","seg2":"","x":696.9826431274414,"y":753.9895858764648,"wires":[]},{"id":"270124fa.09260c","type":"ui_template","z":"bed1450.85b47b8","group":"98fc3379.d4572","name":"Rest","order":4,"width":"6","height":"7","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":676.9826431274414,"y":793.9895858764648,"wires":[[]]},{"id":"f2df707.03a5b9","type":"template","z":"bed1450.85b47b8","name":"set","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <body>\n       <form action=\"/classify\" method=\"post\" enctype=\"multipart/form-data\">\n           <input type=\"file\" name=\"pic\" accept=\"image/*\"><br>\n           <input type=\"submit\" value=\"Submit\">\n       </form>\n       <div>Classifications:</div>\n       <div>\n           {{#result}}\n           <table>\n           <tr>\n               <th>Class</th>\n               <th>Score</th>\n               <th>Type</th>\n           </tr>\n           {{#images}}\n           {{#.}}\n           {{#classifiers}}\n           {{#.}}\n           {{#classes}}\n           {{#.}}\n               <tr>\n                   <td>{{class}}</td>\n                   <td>{{score}}</td>\n                   <td>{{&type_hierarchy}}</td>\n               </tr>\n           {{/.}}\n           {{/classes}}\n           {{/.}}\n           {{/classifiers}}\n           {{/.}}\n           {{/images}}\n           </table>\n           {{/result}}\n       </div>\n    </body>\n</html>","output":"str","x":536.9826431274414,"y":793.9895858764648,"wires":[["270124fa.09260c"]]},{"id":"948a1f65.87afd","type":"ui_text","z":"bed1450.85b47b8","group":"98fc3379.d4572","order":1,"width":0,"height":0,"name":"","label":"Face Classifier","format":"{{msg.payload}}","layout":"row-spread","x":706.9826431274414,"y":613.9895858764648,"wires":[]},{"id":"409d4eb4.096eb","type":"function","z":"bed1450.85b47b8","name":"extract","func":"var msg1, msg2;\n\nvar name = \"\";\nvar score = 0;\n\nif (msg.result.images.length) {\n    if (msg.result.images[0].images) {\n        name = msg.result.images[0].classifiers[0].classes[0].class;\n        score = msg.result.images[0].classifiers[0].classes[0].score*100;\n    }\n}\n\nmsg1 = {payload : name};\nmsg2 = {payload : score};\n\nreturn [msg1,msg2];","outputs":2,"noerr":0,"x":536.9826431274414,"y":633.9895858764648,"wires":[["948a1f65.87afd"],[]]},{"id":"4dd50c00.e62164","type":"ui_group","z":"","name":"Get Picture","tab":"58f75c42.ddbbe4","order":2,"disp":true,"width":"6","collapse":false},{"id":"8492157f.e41d68","type":"ui_group","z":"","name":"Local Images","tab":"58f75c42.ddbbe4","order":3,"disp":true,"width":"6","collapse":false},{"id":"5d90458f.3d511c","type":"ui_group","z":"","name":"Selection","tab":"58f75c42.ddbbe4","order":1,"disp":true,"width":"6","collapse":false},{"id":"98fc3379.d4572","type":"ui_group","z":"","name":"Results","tab":"58f75c42.ddbbe4","disp":true,"width":"6","collapse":false},{"id":"58f75c42.ddbbe4","type":"ui_tab","z":"","name":"TJBot Classify","icon":"dashboard","order":4}]