TjBot-ChatBot/Tab7-Chatbot.json
[{"id":"12c12ae7.9c95f5","type":"comment","z":"1bcc3352.634a7d","name":"Chatbot Init","info":"Initalize the chatbot","x":90,"y":40,"wires":[]},{"id":"ff847b56.cf06b8","type":"inject","z":"1bcc3352.634a7d","name":"Inject a 'bot' user response","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":280,"y":307.25,"wires":[["4952013d.a26d1"]]},{"id":"4952013d.a26d1","type":"function","z":"1bcc3352.634a7d","name":"Test Message","func":"msg.payload = {\n    \"message\":(new Date(msg.payload)).toUTCString(),\n    \"user\":\"bot\"\n    \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":518,"y":307.25,"wires":[["ad9d51ca.b3249"]]},{"id":"ad9d51ca.b3249","type":"ui_template","z":"1bcc3352.634a7d","group":"bc14123b.b2199","name":"","order":2,"width":"10","height":"8","format":"<style>\n    #chat-box {\n        overflow-y: scroll;\n    }\n    .chat-message {\n        border-bottom: 1px solid #fff;\n    }\n    .chat-user {\n        padding: 5px 5px;\n        display: inline-block;\n        width: 50px;\n        vertical-align: top;\n    }\n    .chat-user-you {\n        background: #fac172;\n    }\n    .chat-user-bot {\n        background: #808000;\n    }\n    .chat-user-tjbot {\n        background: #89D5C9;\n    }\n    .chat-data {\n        padding: 5px 5px;\n        width: calc(100% - 80px);\n        display: inline-block;\n        vertical-align: top;\n        background: rgba(255,255,255,0.4);\n    }\n</style>\n<div id=\"chat-box\">\n    \n</div>\n<script>\n    (function(scope) {\n        scope.$watch('msg.payload', function(data) {\n            if (data.user && data.message) {\n                var entry = $('<div>',{class:'chat-message'}).addClass('chat-user-'+data.user);\n                $('<span class=\"chat-user\"></span>').text(data.user).appendTo(entry);\n                $('<span class=\"chat-data\"></span>').text(data.message).appendTo(entry);\n                entry.appendTo('#chat-box');\n                $(\"#chat-box\").scrollTop($('#chat-box').prop(\"scrollHeight\"));\n            }\n        })\n    })(scope);\n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":733,"y":408.25,"wires":[[]]},{"id":"175b8b5f.1e26e5","type":"function","z":"1bcc3352.634a7d","name":"Handle message","func":"var msg2 = null;\nif (msg.payload !== '') {\n    // If this is a non-blank message, send a\n    // message back to the text input to clear\n    // it\n    msg2 = {socketid: msg.socketid, payload:''};\n}\n\nif (msg.chatbot === true) {\n    msg.payload = {\n        message: msg.payload,\n        user: \"tjbot\"\n    };\n} else {\n    msg.payload = {\n        message: msg.payload,\n        user: \"you\"\n    };\n}\nreturn [msg, msg2];","outputs":"2","noerr":0,"x":475,"y":416.25,"wires":[["ad9d51ca.b3249"],["f4a584b6.7bd338"]]},{"id":"76ca091e.d49a28","type":"ui_text","z":"1bcc3352.634a7d","group":"bc14123b.b2199","order":3,"width":"1","height":"1","name":"","label":"Chat","format":"","layout":"row-left","x":1165,"y":203.25,"wires":[]},{"id":"f4a584b6.7bd338","type":"delay","z":"1bcc3352.634a7d","name":"Wait","pauseType":"delay","timeout":"10","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":224,"y":486.25,"wires":[["a190b5c5.7c22b8"]]},{"id":"a190b5c5.7c22b8","type":"ui_text_input","z":"1bcc3352.634a7d","name":"chat input","label":"","group":"bc14123b.b2199","order":4,"width":"9","height":"1","passthru":false,"mode":"text","delay":"0","topic":"","x":387,"y":486.25,"wires":[["c2839811.f3cc08","85cfc4ca.876768"]]},{"id":"7f88c1c8.6a4fc","type":"comment","z":"1bcc3352.634a7d","name":"Chatbot Receiver","info":"Gets any message from the chat-ui and sends \nit to the conversation service","x":101.5,"y":669.25,"wires":[]},{"id":"a0936e7e.122b5","type":"watson-conversation-v1","z":"1bcc3352.634a7d","name":"EN Conv","workspaceid":"5d37ed79-5aab-4393-9dde-4156dc048074","multiuser":false,"context":false,"empty-payload":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/conversation/api","timeout":"","optout-learning":false,"x":487.5,"y":739.25,"wires":[["95bca2db.e3902","df80f1cd.cf95e"]]},{"id":"b78ded58.ef1f2","type":"debug","z":"1bcc3352.634a7d","name":"Bot Send Message","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":254,"y":370.5,"wires":[]},{"id":"d10bc380.b5246","type":"debug","z":"1bcc3352.634a7d","name":"","active":true,"console":"false","complete":"false","x":423.5,"y":1228.25,"wires":[]},{"id":"aab6fa1.b0b0208","type":"function","z":"1bcc3352.634a7d","name":"Get LatLong","func":"var latlong;\nvar session = flow.get(\"session\");\nvar lang = flow.get(\"lang\");\n\nmsg.oldpayload = msg.payload;\n\nmsg.weather=false;\nfor (var v in session.latlong) {\n    if (session.latlong[v].city === session.context.city) {\n        latlong = session.latlong[v].latlong;\n        msg.weather = true;\n    }\n}\n\nmsg.language = lang;\n\nmsg.location = latlong;\nmsg.payload = latlong;\n\nreturn msg;","outputs":"1","noerr":0,"x":213.5,"y":1277.25,"wires":[["d10bc380.b5246","e5593272.331f3"]]},{"id":"b7cf2d07.0735b","type":"weather_insights","z":"1bcc3352.634a7d","name":"Forecast","host":"twcservice.mybluemix.net","service":"/forecast/daily/10day.json","geocode":"","units":"m","language":"","x":451.5,"y":1345.25,"wires":[["3e7773e7.9db61c"]]},{"id":"e5593272.331f3","type":"switch","z":"1bcc3352.634a7d","name":"Weather?","property":"weather","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","outputs":2,"x":415.5,"y":1277.25,"wires":[["14ba1dba.2be9f2"],["b7cf2d07.0735b"]]},{"id":"3e7773e7.9db61c","type":"function","z":"1bcc3352.634a7d","name":"Parse Weather","func":"var session = flow.get(\"session\");\nvar lang = flow.get(\"lang\");\nvar weatherpayload = msg.payload;\nvar weathertext = \"\";\nvar code;\nvar weather = msg.forecasts;\n\n\nif (lang == \"en\") { \n    msg.voice = \"en-GB_KateVoice\";\n    weathertext = \"The Weather in \";\n    weathertext = weathertext + session.context.city + \" will be on \";\n}\nif (lang == \"de\") { \n    msg.voice = \"de-DE_BirgitVoice\";\n    weathertext = \"Das Wetter in \";\n    weathertext = weathertext + session.context.city + \" wird am \";\n}\n\nif (weather.length > 0 ) {\n    var notfound = true;\n    var i = 0;\n    while (i< weather.length && notfound) {\n        if(weather[i].fcst_valid_local.substring(0,10) == session.context.date) {\n            notfound = false;\n        } else {\n            i = i + 1;\n        }\n    }\n    \n    if (notfound) {\n        i = 0;\n    }\n    var narrative = weather[i].narrative; \n    var dow = weather[i].dow;\n    weathertext = weathertext + dow + \" \" + narrative;\n    if (typeof weather[i].day !== \"undefined\") {\n        code = weather[i].day.icon_code;\n    } else if (typeof weather[i].night !== \"undefined\") {\n        code = weather[i].night.icon_code;\n    }\n} else {\n    weathertext = \"No Weather found!\";\n}\n\n// Test RegEx\nvar newweather = weathertext;\nvar reg = weathertext.match(/(?:\\d*\\.)?\\d+([A-C])/g);\nfor (var v=0; v < reg.length; v++) {\n    var str = \"\";\n    if (lang == \"de\") {\n        str = reg[v].slice(0,reg[v].length-1) + \" Grad\";\n    } else {\n        str = reg[v].slice(0,reg[v].length-1) + \" degrees\";\n    }\n    newweather = newweather.replace(reg[v],str);\n}\n\n// save to context\nsession.context.weathertext = newweather;\nsession.context.weathercode = code;\nsession.output.push(newweather);\n\nmsg.additional_context = {\n//    context : {\n        weather : weathertext,\n        uv : msg.forecasts[0].uv_desc,\n        temp : msg.forecasts[0].temp\n//    }\n};\n\nflow.set(\"session\", session);\n\n// restore old payload elements\nmsg.payload = msg.oldpayload;\nmsg.session = session;\nmsg.forecasts = weather;\n\nreturn msg;","outputs":1,"noerr":0,"x":642.5,"y":1346.25,"wires":[["a66120c1.bba01","100b5413.0f805c"]]},{"id":"14ba1dba.2be9f2","type":"function","z":"1bcc3352.634a7d","name":"Restore","func":"msg.payload = msg.oldpayload;\n\nreturn msg;","outputs":1,"noerr":0,"x":606.5,"y":1270.25,"wires":[["a66120c1.bba01"]]},{"id":"a11d343a.d13df8","type":"change","z":"1bcc3352.634a7d","name":"Update payload","rules":[{"t":"set","p":"discoveryparams.query","pt":"msg","to":"payload.input.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":243.00000095367432,"y":1551.2500109672546,"wires":[["7083abc5.047f04"]]},{"id":"7083abc5.047f04","type":"watson-discovery-v1","z":"1bcc3352.634a7d","name":"Discovery","environmentname":"","environment_id":"bd82267f-9072-4fb5-87c8-702290f19dba","collection_id":"849081ac-432d-4f4b-900b-20743e48e694","configurationname":"","configuration_id":"","collection_name":"","count":"1","passages":false,"nlp_query":false,"query":"","filter":"","aggregation":"","return":"","description":"","size":0,"discovery-method":"query","default-endpoint":false,"service-endpoint":"","x":432.0000009536743,"y":1551.2500109672546,"wires":[["c4a16b8.9652998"]]},{"id":"c4a16b8.9652998","type":"function","z":"1bcc3352.634a7d","name":"Postprocessing","func":"var question = msg.search_results.results[0].Question\nvar answer = msg.search_results.results[0].Answer\nvar score = msg.search_results.results[0].score\n\nmsg.payload = 'I found this question that is similar to yours (confidence ' + score.toFixed(2) + '): ' + question;\nnode.send(msg);\n\nmsg.payload = 'And this is the answer: ' + answer;\nnode.send(msg);\n\nreturn ;","outputs":1,"noerr":0,"x":636.0000009536743,"y":1551.2500109672546,"wires":[["4188550a.116edc","2207c3f7.779a5c"]]},{"id":"80d1ebaa.f1fff8","type":"link out","z":"1bcc3352.634a7d","name":"Sender","links":["baa2b77b.606fa8"],"x":1189.5,"y":812.25,"wires":[]},{"id":"baa2b77b.606fa8","type":"link in","z":"1bcc3352.634a7d","name":"Sender","links":["80d1ebaa.f1fff8","2207c3f7.779a5c","a66120c1.bba01","9b29694b.a6fad8"],"x":65,"y":416.5,"wires":[["b78ded58.ef1f2","8fb670f2.6f2e9"]]},{"id":"94b2c257.24b1","type":"link out","z":"1bcc3352.634a7d","name":"Discovery","links":["20501711.eeac58"],"x":1035.5,"y":835.25,"wires":[]},{"id":"20501711.eeac58","type":"link in","z":"1bcc3352.634a7d","name":"Discovery","links":["94b2c257.24b1"],"x":79,"y":1551.25,"wires":[["a11d343a.d13df8"]]},{"id":"4188550a.116edc","type":"debug","z":"1bcc3352.634a7d","name":"","active":true,"console":"false","complete":"payload","x":862.0000114440918,"y":1485.0000114440918,"wires":[]},{"id":"2207c3f7.779a5c","type":"link out","z":"1bcc3352.634a7d","name":"Sender","links":["baa2b77b.606fa8"],"x":804.0000009536743,"y":1551.2500109672546,"wires":[]},{"id":"496be135.e50b","type":"comment","z":"1bcc3352.634a7d","name":"Discovery Questions","info":"","x":111.75,"y":1501.5,"wires":[]},{"id":"239227fc.ad01f8","type":"link out","z":"1bcc3352.634a7d","name":"Chatbot","links":["11317b8e.41f344"],"x":702,"y":532.75,"wires":[]},{"id":"11317b8e.41f344","type":"link in","z":"1bcc3352.634a7d","name":"Chatbot","links":["239227fc.ad01f8","599116fb.f5fdd8"],"x":71,"y":765.5,"wires":[["71393cc9.021c24"]]},{"id":"c2839811.f3cc08","type":"change","z":"1bcc3352.634a7d","name":"chatbot","rules":[{"t":"set","p":"chatbot","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":557,"y":486,"wires":[["175b8b5f.1e26e5"]]},{"id":"71543f76.102a5","type":"inject","z":"1bcc3352.634a7d","name":"Init","topic":"","payload":"Hello","payloadType":"str","repeat":"","crontab":"","once":true,"x":115,"y":90.5,"wires":[["8d23bd6a.0d44c"]]},{"id":"742a82a8.7a388c","type":"comment","z":"1bcc3352.634a7d","name":"Coversation Action","info":"","x":593,"y":671,"wires":[]},{"id":"e4cd0842.abee48","type":"switch","z":"1bcc3352.634a7d","name":"","property":"session.action","propertyType":"flow","rules":[{"t":"eq","v":"greeting","vt":"str"},{"t":"eq","v":"turn_off","vt":"str"},{"t":"eq","v":"turn_on","vt":"str"},{"t":"eq","v":"get_hum","vt":"str"},{"t":"eq","v":"get_temp","vt":"str"},{"t":"eq","v":"discover","vt":"str"},{"t":"eq","v":"get_weather","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":8,"x":882,"y":816,"wires":[["7310ddf7.4a8734"],["b5f8dbdf.fabf28"],["b5f8dbdf.fabf28"],["80d1ebaa.f1fff8"],["80d1ebaa.f1fff8"],["94b2c257.24b1"],["3e68a2f0.ddde5e"],["80d1ebaa.f1fff8"]]},{"id":"b7db9a95.83eeb8","type":"debug","z":"1bcc3352.634a7d","name":"Bot Conv Parser","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":909,"y":692.75,"wires":[]},{"id":"8d23bd6a.0d44c","type":"change","z":"1bcc3352.634a7d","name":"default Lang","rules":[{"t":"set","p":"payload","pt":"msg","to":"de","tot":"str"},{"t":"set","p":"lang","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":297,"y":90.25,"wires":[["d5f0b9fd.4711e8"]]},{"id":"d5f0b9fd.4711e8","type":"ui_dropdown","z":"1bcc3352.634a7d","name":"Language","label":"Language","place":"Select option","group":"bc14123b.b2199","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"de","value":"de","type":"str"},{"label":"en","value":"en","type":"str"}],"payload":"","topic":"","x":485,"y":90.5,"wires":[["a48dfad5.77e538"]]},{"id":"a48dfad5.77e538","type":"change","z":"1bcc3352.634a7d","name":"set lang","rules":[{"t":"set","p":"lang","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":649,"y":90.75,"wires":[["781e67ae.9664e8","81f10140.a2117"]]},{"id":"781e67ae.9664e8","type":"debug","z":"1bcc3352.634a7d","name":"ChatBot Lang","active":false,"console":"false","complete":"payload","x":835,"y":90.75,"wires":[]},{"id":"599116fb.f5fdd8","type":"link out","z":"1bcc3352.634a7d","name":"","links":["11317b8e.41f344"],"x":975,"y":152.75,"wires":[]},{"id":"81f10140.a2117","type":"function","z":"1bcc3352.634a7d","name":"Init Chatbot","func":"// insert the supported cities\nvar latlong = [];\nvar cities = [];\nvar conv;\n\nlatlong.push ({ \"city\" : \"Linz\", \"latlong\": \"48.2950649,14.0527468\" });\nlatlong.push ({ \"city\": \"Wien\", \"latlong\": \"48.2206849,16.3800599\"});\nlatlong.push ({ \"city\": \"Vienna\", \"latlong\": \"48.2206849,16.3800599\"});\nlatlong.push ({ \"city\": \"Graz\", \"latlong\": \"47.0735897,15.4417898\"});\nlatlong.push ({ \"city\": \"Salzburg\", \"latlong\": \"47.80281,13.05643\"});\nlatlong.push ({ \"city\": \"Bregenz\", \"latlong\": \"47.50708,9.7519903\"});\nlatlong.push ({ \"city\": \"Innsbruck\", \"latlong\": \"47.2854551,11.37879\"});\nlatlong.push ({ \"city\": \"Klagenfurt\", \"latlong\": \"46.641325,14.312755\"});\nlatlong.push ({ \"city\": \"St. Pölten\",\"latlong\": \"48.19378,15.647015\"});\nlatlong.push ({ \"city\": \"Eisenstadt\",\"latlong\": \"47.838855,16.5343751\"});\nlatlong.push ({ \"city\": \"München\",\"latlong\": \"48.135125,11.581981\"});\nlatlong.push ({ \"city\": \"Berlin\",\"latlong\": \"52.520007,13.404954\"});\nlatlong.push ({ \"city\": \"Hamburg\",\"latlong\": \"53.551085,9.993682\"});\n\nfor (var i=0; i<latlong.length; i++) {\n    cities.push(latlong[i].city);\n}\n\n// new session params \nvar session = {\n    \"latlong\" : latlong, \n    \"cities\" : cities,\n    \"action\" : \"\",\n    \"output\" : \"\",\n    \"context\" : {\n        \"cities\" : cities,\n        \"temp\" : \"-.-\",\n        \"hum\" : \"-%\", \n        \"city\" : null,\n        \"when\" : null,\n        \"date\" : null, \n        \"day\" : null,\n        \"light\" : \"\",\n        \"colour\" : null\n    }\n}\n\n// save the session\nflow.set(\"conversation\", conv);\nflow.set(\"session\", session);\n\n// default\nmsg.payload = \"Hi\";\nreturn msg;","outputs":1,"noerr":0,"x":829,"y":152,"wires":[["599116fb.f5fdd8","a72b44ae.f49de8"]]},{"id":"98e9b11f.30a6a","type":"comment","z":"1bcc3352.634a7d","name":"Chatbot UI","info":"User Interface for the Chatbot - based on NodeRedUI","x":80,"y":259.25,"wires":[]},{"id":"965c7aeb.7a2908","type":"comment","z":"1bcc3352.634a7d","name":"Action Weather","info":"Enhance the output with the Weather informations","x":101,"y":1198.25,"wires":[]},{"id":"71393cc9.021c24","type":"function","z":"1bcc3352.634a7d","name":"rest conv","func":"// get the flow params\nvar conversation = flow.get(\"conversation\");\nvar session = flow.get(\"session\");\n\nsession.context.temp = global.get(\"temp\") || \"-.-\";\nsession.context.hum = global.get(\"hum\") || \"-%\";\nvar params = session.context;\n\n// set params for the next conversation\nif (conversation) {\n    params = {\n        \"context\" : conversation.context\n    };\n    \n    params.context.cities = session.context.cities;\n    params.context.temp = session.context.temp;\n    params.context.colour = session.context.colour;\n    params.context.hum = session.context.hum;\n    params.context.city = session.context.city;\n    params.context.when = session.context.when;\n} \n\n// insert here the additional infos for the parm\n// session.city\n// session.temp\n// session.when\n// session.hum\n\n// save new values     \nmsg.params = params;\n\n// save the new session params\nflow.set(\"session\", session);\nmsg.session = session;\n\nreturn msg;","outputs":1,"noerr":0,"x":183,"y":765.25,"wires":[["944aca51.668178","6432ea66.0bd4c4"]]},{"id":"944aca51.668178","type":"debug","z":"1bcc3352.634a7d","name":"Bot before conv","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":370,"y":700.75,"wires":[]},{"id":"85cfc4ca.876768","type":"change","z":"1bcc3352.634a7d","name":"Bot Answer","rules":[{"t":"set","p":"answer","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":569,"y":532,"wires":[["239227fc.ad01f8"]]},{"id":"95bca2db.e3902","type":"function","z":"1bcc3352.634a7d","name":"parse conv","func":"// get the current session\nvar session = flow.get(\"session\");\nvar lang = flow.get(\"lang\");\n\n// save conversation\nflow.set(\"conversation\", msg.payload);\n\n// save output textmessages\nsession.output = msg.payload.output.text;\n\n// init working variables\nvar intent;\nif (msg.payload.intents && msg.payload.intents.length) {\n    intent = msg.payload.intents[0].intent;\n} else {\n    intent = \"\";\n}\nvar entities = msg.payload.entities;\n\n// save special context\n// msg.discover = msg.payload.context.discovery;\n\n// parse entities and set vars\nif (entities && entities.length){\n    for (var i = 0;i < entities.length;i++) {\n        switch (entities[i].entity) {\n            case \"city\":\n                intent = \"get_weather\";\n                session.context.city = entities[i].value;\n                break;\n            case \"sys-date\":\n                intent = \"get_weather\";\n                session.context.date = entities[i].value;\n                break;\n            case \"day\":\n                intent = \"get_weather\";\n                session.context.day = entities[i].value;\n                break;\n            case \"colour\":\n                intent = \"turn_on\";\n                session.context.colour = entities[i].value;\n                break;\n            default:\n                break;\n        }\n    }\n}\n\n// define aditional values\nswitch (intent) {\n    case \"greeting\":\n        session.action = \"greeting\";\n        break;\n    case \"turn_off\":\n        session.action = \"turn_off\";\n        if (lang == \"de\") {\n            session.output.push(\"Klar. Ich habe das Licht ausgeschaltet.\");\n        } else {\n            session.output.push(\"Ok. The lights are turned off now.\");\n        }\n        break;\n    case \"turn_on\":\n        if (session.context.colour) {\n            session.action = \"turn_on\";\n            if (lang == \"de\") {\n                session.output.push(\"Gerne. Das Licht mit der Farbe \" + session.context.colour + \" ist nun für Sie eingeschaltet.\");\n            } else {\n                session.output.push(\"Fine. The \" + session.context.colour + \" light is now switched on.\");\n            }\n        } else {\n            session.action = \"next_question\";\n        }\n        break;\n    case \"get_temp\":\n        session.action = \"get_temp\";\n        break;\n    case \"get_hum\":\n        session.action = \"get_hum\";\n        break;\n    case \"get_weather\":\n        if (session.context.city) {\n            if (session.context.day || session.context.date) {\n            session.action = \"get_weather\";\n            } else {\n            session.action = \"next_question\";\n            }\n        } else {\n            session.action = \"next_question\";\n        }\n        break;\n    default:\n        break;\n}\n\nflow.set(\"session\", session);\n\n// enhance msg object\nmsg.intent = intent;\nmsg.session = session;\n\nreturn msg;","outputs":1,"noerr":0,"x":676,"y":739.25,"wires":[["b7db9a95.83eeb8","e4cd0842.abee48"]]},{"id":"a72b44ae.f49de8","type":"change","z":"1bcc3352.634a7d","name":"Clear","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1012,"y":203,"wires":[["76ca091e.d49a28"]]},{"id":"8fb670f2.6f2e9","type":"function","z":"1bcc3352.634a7d","name":"Postprocessing","func":"var session = flow.get(\"session\");\nvar output = session.output;\n\n// send out all text messages\nfor (var t in output) {\n    msg.payload = output[t];\n    msg.chatbot = true;\n    node.send(msg);\n}\n\nreturn ;","outputs":1,"noerr":0,"x":222,"y":416.25,"wires":[["175b8b5f.1e26e5"]]},{"id":"381f9d93.4d1bf2","type":"link in","z":"1bcc3352.634a7d","name":"Weather","links":["3e68a2f0.ddde5e"],"x":77,"y":1276.5,"wires":[["aab6fa1.b0b0208"]]},{"id":"3e68a2f0.ddde5e","type":"link out","z":"1bcc3352.634a7d","name":"Weather","links":["381f9d93.4d1bf2"],"x":1034,"y":888.75,"wires":[]},{"id":"a66120c1.bba01","type":"link out","z":"1bcc3352.634a7d","name":"","links":["baa2b77b.606fa8"],"x":803,"y":1271.75,"wires":[]},{"id":"100b5413.0f805c","type":"debug","z":"1bcc3352.634a7d","name":"Weather out","active":true,"console":"false","complete":"true","x":852,"y":1346.75,"wires":[]},{"id":"7310ddf7.4a8734","type":"function","z":"1bcc3352.634a7d","name":"reset","func":"var session = flow.get(\"session\");\n\nsession.context.city = \"\";\nsession.context.colour = \"\";\n\nflow.set(\"session\", session);\n\nreturn msg;","outputs":1,"noerr":0,"x":1045,"y":750,"wires":[["80d1ebaa.f1fff8"]]},{"id":"df80f1cd.cf95e","type":"debug","z":"1bcc3352.634a7d","name":"Bot after conv","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":686,"y":793.75,"wires":[]},{"id":"f5b88307.7103a","type":"watson-conversation-v1","z":"1bcc3352.634a7d","name":"DE Conv","workspaceid":"03543a5d-b3cd-40b4-8406-86826a5ff4f2","multiuser":false,"context":false,"empty-payload":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/conversation/api","timeout":"","optout-learning":false,"x":485.5,"y":793.25,"wires":[["df80f1cd.cf95e","95bca2db.e3902"]]},{"id":"6432ea66.0bd4c4","type":"switch","z":"1bcc3352.634a7d","name":"Language","property":"lang","propertyType":"flow","rules":[{"t":"eq","v":"en","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":348,"y":765.25,"wires":[["a0936e7e.122b5"],["f5b88307.7103a"]]},{"id":"58eee7aa.b49dd8","type":"comment","z":"1bcc3352.634a7d","name":"Action Light","info":"Switch on / off and colour of the lights.","x":104,"y":904,"wires":[]},{"id":"321c12.aac713ee","type":"link in","z":"1bcc3352.634a7d","name":"Lights","links":["b5f8dbdf.fabf28"],"x":73,"y":970,"wires":[["28436888.b770d8","9b29694b.a6fad8"]]},{"id":"b5f8dbdf.fabf28","type":"link out","z":"1bcc3352.634a7d","name":"Lights","links":["321c12.aac713ee"],"x":1034,"y":783,"wires":[]},{"id":"9b29694b.a6fad8","type":"link out","z":"1bcc3352.634a7d","name":"Sender","links":["baa2b77b.606fa8"],"x":491,"y":970,"wires":[]},{"id":"64853af8.59a694","type":"function","z":"1bcc3352.634a7d","name":"SenseHAT","func":"// get the Images\nvar senseHATImages = global.get(\"senseHATImages\");\nvar loop = true;\nvar sImage = \"\";\nvar image = [];\n\n// get the right image \nfor (var i = 0; i < senseHATImages.length && loop; i++) {\n    // set the image to be displayed\n    if (senseHATImages[i].name == msg.payload) {\n        loop = false;\n        sImage = senseHATImages[i].sImage;\n        image = senseHATImages[i].image;\n    }\n}\n\nmsg.payload = sImage;\nmsg.image = image;\nmsg.speed = 5;\n\nreturn msg;","outputs":1,"noerr":0,"x":366,"y":1036,"wires":[["4de4874b.b04588"]]},{"id":"4de4874b.b04588","type":"rpi-sensehat out","z":"1bcc3352.634a7d","name":"","x":545,"y":1036,"wires":[]},{"id":"28436888.b770d8","type":"function","z":"1bcc3352.634a7d","name":"set light","func":"var session = flow.get(\"session\");\n\nswitch (session.action) {\n    case \"turn_off\":\n        msg.payload = \"no_light\";\n        break;\n    case \"turn_on\":\n        var colour = session.context.colour;\n        switch (colour) {\n            case \"blue\":\n            case \"blau\":\n                msg.payload = \"blue_light\";\n                break;\n            case \"red\":\n            case \"rot\":\n                msg.payload = \"red_light\";\n                break;\n            case \"green\":\n            case \"grün\":\n                msg.payload = \"green_light\";\n                break;\n            case \"yellow\":\n            case \"gelb\":\n                msg.payload = \"yellow_light\";\n                break;\n            case \"white\":\n            case \"weiß\":\n                msg.payload = \"white_light\";\n                break;\n            case \"orange\":\n                msg.payload = \"orange_light\";\n                break;\n            default: \n                msg.payload = \"no_light\";\n                break;\n        }\n        break;\n    default: \n        msg.payload = \"no_light\";\n        break;\n}\nreturn msg;","outputs":1,"noerr":0,"x":205,"y":1037,"wires":[["64853af8.59a694","cc1b274.032e8d8"]]},{"id":"cc1b274.032e8d8","type":"debug","z":"1bcc3352.634a7d","name":"","active":true,"console":"false","complete":"true","x":346,"y":1086,"wires":[]},{"id":"821fc544.227678","type":"ui_button","z":"1bcc3352.634a7d","name":"","group":"bc14123b.b2199","order":0,"width":0,"height":0,"passthru":false,"label":"Restart","color":"","bgcolor":"","icon":"","payload":"Hello","payloadType":"str","topic":"","x":111.18055725097656,"y":150.39583587646484,"wires":[["8d23bd6a.0d44c"]]},{"id":"bc14123b.b2199","type":"ui_group","z":"","name":"Chat Group","tab":"3f6194ff.ce1a6c","disp":false,"width":"10","collapse":false},{"id":"3f6194ff.ce1a6c","type":"ui_tab","z":"","name":"TjBot Chat","icon":"dashboard","order":2}]