TjBot-Motion-Detect/TjBot-Motion-Collect.json
[{"id":"7a968e35.33afe","type":"comment","z":"c178a46b.85c658","name":"Motion Training - Demo Flow","info":"","x":140,"y":40,"wires":[]},{"id":"82fb3710.f54b98","type":"rpi-sensehat in","z":"c178a46b.85c658","name":"Motions","motion":true,"env":false,"stick":false,"x":90,"y":680,"wires":[["9333920c.409a2"]]},{"id":"1326919a.5345be","type":"function","z":"c178a46b.85c658","name":"Store Motions","func":"// Get Motion Array\nvar motion = flow.get('motion') || [];\nvar acceleration = flow.get('acceleration') || [];\nvar qyroscope = flow.get('qyroscope') || [];\nvar orientation = flow.get('orientation') || [];\nvar compass = flow.get('compass') || [];\nvar timestamp = flow.get('timestamp' || []);\nvar figure = flow.get('figure');\nvar userid = flow.get('userid');\nvar motionset = flow.get('motionset');\nvar dat = new Date();\n\n// Enhance Metadata\nmsg.payload.device = \"tjbot-01\";\nmsg.payload.userid = userid;\nmsg.payload.figure = figure;\nmsg.payload.motionset = motionset;\nmsg.payload.timestamp = Math.floor(dat);\nmsg.payload.date = dat.toJSON();\n\n// Push and store values\nmotion.push(msg.payload);\nacceleration.push(msg.payload.acceleration);\nqyroscope.push(msg.payload.qyroscope);\norientation.push(msg.payload.orientation);\ncompass.push(msg.payload.compass);\ntimestamp.push(msg.payload.timestamp);\n\n// Store Environment\nflow.set('motion',motion);\nflow.set('acceleration', acceleration);\nflow.set('qyroscope', qyroscope);\nflow.set('orientation', orientation);\nflow.set('compass',compass);\nflow.set('timestamp',timestamp);\nflow.set('recorded', true);\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":640,"wires":[["ee3a1dcf.bb328","337c6e7e.feac22"]]},{"id":"e453b8b2.6bdff8","type":"debug","z":"c178a46b.85c658","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":830,"y":700,"wires":[]},{"id":"621b176.c9945e8","type":"ui_button","z":"c178a46b.85c658","name":"Start","group":"f7cbd584.50c6c8","order":4,"width":0,"height":0,"passthru":true,"label":"Start Monitoring","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":430,"y":400,"wires":[["498c51d5.1a9fc","3c105dce.fa2c92"]]},{"id":"a977df0e.78d3f","type":"ui_button","z":"c178a46b.85c658","name":"Stop","group":"f7cbd584.50c6c8","order":5,"width":0,"height":0,"passthru":true,"label":"Stop Monitoring","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":430,"y":340,"wires":[["498c51d5.1a9fc"]]},{"id":"7bc09037.c2096","type":"ui_text","z":"c178a46b.85c658","group":"f7cbd584.50c6c8","order":6,"width":0,"height":0,"name":"","label":"Motion Detection","format":"{{msg.payload}}","layout":"row-spread","x":950,"y":340,"wires":[]},{"id":"b8fd0e15.780d8","type":"template","z":"c178a46b.85c658","name":"Set Message","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Is running: {{payload}} !","output":"str","x":770,"y":340,"wires":[["7bc09037.c2096"]]},{"id":"498c51d5.1a9fc","type":"change","z":"c178a46b.85c658","name":"Set Motion","rules":[{"t":"set","p":"store","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":340,"wires":[["b8fd0e15.780d8"]]},{"id":"9333920c.409a2","type":"switch","z":"c178a46b.85c658","name":"Store ?","property":"store","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":260,"y":680,"wires":[["1326919a.5345be"],["1dc6b37.699674d"]]},{"id":"1dc6b37.699674d","type":"switch","z":"c178a46b.85c658","name":"Recorded ?","property":"recorded","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":430,"y":760,"wires":[["a53c749f.e01018"]]},{"id":"a53c749f.e01018","type":"change","z":"c178a46b.85c658","name":"","rules":[{"t":"set","p":"recorded","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"motion","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":760,"wires":[["e453b8b2.6bdff8","84491cfa.2bc7f","445ba71c.9d9288"]]},{"id":"b5c32997.28d218","type":"file","z":"c178a46b.85c658","name":"Motions FileWrite","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"true","x":410,"y":920,"wires":[[]]},{"id":"6f461f2.89af6e","type":"ui_text","z":"c178a46b.85c658","group":"f7cbd584.50c6c8","order":7,"width":0,"height":0,"name":"","label":"Recoded elements:","format":"{{msg.payload}}","layout":"row-spread","x":210,"y":520,"wires":[]},{"id":"3c105dce.fa2c92","type":"change","z":"c178a46b.85c658","name":"None","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"recorded","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":440,"wires":[["d646378a.98cba8"]]},{"id":"54ca9fbe.68103","type":"link in","z":"c178a46b.85c658","name":"Store ","links":["84491cfa.2bc7f"],"x":75,"y":920,"wires":[["15516641.df899a"]]},{"id":"84491cfa.2bc7f","type":"link out","z":"c178a46b.85c658","name":"Jump Store","links":["54ca9fbe.68103"],"x":795,"y":760,"wires":[]},{"id":"15516641.df899a","type":"function","z":"c178a46b.85c658","name":"Store File","func":"var motionset = flow.get('motionset');  // the current datetime as a Date object\nvar iso = motionset.toISOString();  // converted to YYYY-MM-DDThh:mm:ss.dddZ format\nvar utc = iso.replace(/^(.*)T(.*)Z$/, \"$1 $2\");  // with the 'T' and 'Z' removed\nvar figure = flow.get('figure');\n\nif (figure == \"/\") {\n    figure = \"FS\";\n} else if (figure == \"|\") {\n    figure = \"HL\";\n} else if (figure == \"\\\\\") {\n    figure = \"BS\";\n}\n\nmsg.filename = 'Motions ' + figure + ' ' + utc + '.json';\n\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":920,"wires":[["b5c32997.28d218","1a941f83.91c1e"]]},{"id":"24f08b19.87d464","type":"ui_dropdown","z":"c178a46b.85c658","name":"","label":"Figure","place":"Select option","group":"f7cbd584.50c6c8","order":3,"width":0,"height":0,"passthru":true,"options":[{"label":"/","value":"/","type":"str"},{"label":"O","value":"O","type":"str"},{"label":"X","value":"X","type":"str"},{"label":"Horicontal Line","value":"HL","type":"str"},{"label":"Vertrical Line","value":"VL","type":"str"}],"payload":"","topic":"","x":510,"y":220,"wires":[["7c16b930.767488","d12edd24.2f94"]]},{"id":"7c16b930.767488","type":"change","z":"c178a46b.85c658","name":"Set Figure","rules":[{"t":"set","p":"figure","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":220,"wires":[["8a1f1ec6.7ecb9"]]},{"id":"3eb67257.25fdee","type":"function","z":"c178a46b.85c658","name":"Init Environment","func":"// Set defaults for choice \n//     {\"/\":\"/\"}\nvar figures = [\"/\",\"O\",\"X\",\"-\",\"+\"];\n\n// store --> every event into array\nflow.set('store',false);\n\n// recorded --> the set is ready to save\nflow.set('recorded', false);\n\n// Array of recorded elements\nflow.set('motions',[]);\nflow.set('acceleration',[]);\nflow.set('qyroscope', []);\nflow.set('orientation', []);\nflow.set('compass',[]);\nflow.set('timestamp',[]);\nflow.set('userid',1);\nflow.set('figures', figures);\nflow.set('curfig',0);\n\n// Set Figure to default\nmsg.options = figures;\nmsg.payload = \"/\";\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":220,"wires":[["24f08b19.87d464","4f117dab.025864"]]},{"id":"957a4b67.9ebc88","type":"comment","z":"c178a46b.85c658","name":"Handle Motions","info":"","x":100,"y":620,"wires":[]},{"id":"9747dd8a.d6a0d","type":"comment","z":"c178a46b.85c658","name":"Store training","info":"","x":90,"y":860,"wires":[]},{"id":"acd154e8.f6b858","type":"link in","z":"c178a46b.85c658","name":"Show recorded Elements","links":["d646378a.98cba8","8a1f1ec6.7ecb9","1e5e7b3a.d19285"],"x":75,"y":520,"wires":[["6f461f2.89af6e"]]},{"id":"d646378a.98cba8","type":"link out","z":"c178a46b.85c658","name":"Jump show","links":["acd154e8.f6b858"],"x":675,"y":440,"wires":[]},{"id":"8a1f1ec6.7ecb9","type":"link out","z":"c178a46b.85c658","name":"Jump show","links":["acd154e8.f6b858"],"x":795,"y":220,"wires":[]},{"id":"445ba71c.9d9288","type":"change","z":"c178a46b.85c658","name":"Set length","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.length","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":820,"wires":[["1e5e7b3a.d19285"]]},{"id":"1e5e7b3a.d19285","type":"link out","z":"c178a46b.85c658","name":"Jump show","links":["acd154e8.f6b858"],"x":935,"y":820,"wires":[]},{"id":"1a941f83.91c1e","type":"function","z":"c178a46b.85c658","name":"Reset Arrays","func":"flow.set('motions',[]);\nflow.set('acceleration',[]);\nflow.set('qyroscope', []);\nflow.set('orientation', []);\nflow.set('compass',[]);\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":980,"wires":[[]]},{"id":"bd53347e.8d6418","type":"ui_numeric","z":"c178a46b.85c658","name":"","label":"UserId","group":"f7cbd584.50c6c8","order":2,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"100","step":1,"x":690,"y":160,"wires":[["1df04d22.1cd693"]]},{"id":"4f117dab.025864","type":"function","z":"c178a46b.85c658","name":"Gen UserID","func":"msg.payload = Math.floor(Math.random() * Math.floor(100));\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":160,"wires":[["bd53347e.8d6418"]]},{"id":"1df04d22.1cd693","type":"change","z":"c178a46b.85c658","name":"Set userid","rules":[{"t":"set","p":"userid","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":160,"wires":[[]]},{"id":"f790fe8b.e8fdd","type":"inject","z":"c178a46b.85c658","name":"Send On","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":100,"wires":[["1018a270.b0b65e"]]},{"id":"9d490bc0.f2c318","type":"change","z":"c178a46b.85c658","name":"Motions","rules":[{"t":"set","p":"motions","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":100,"wires":[[]]},{"id":"98638a1b.6a8b58","type":"inject","z":"c178a46b.85c658","name":"Send Off","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":120,"y":220,"wires":[["1018a270.b0b65e","3eb67257.25fdee","a977df0e.78d3f"]]},{"id":"1018a270.b0b65e","type":"ui_switch","z":"c178a46b.85c658","name":"","label":"Send Motions","group":"f7cbd584.50c6c8","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":340,"y":100,"wires":[["9d490bc0.f2c318"]]},{"id":"5f43468.b3780b8","type":"rpi-sensehat in","z":"c178a46b.85c658","name":"Joystick","motion":false,"env":false,"stick":true,"x":90,"y":360,"wires":[["73eb29c.97568d8"]]},{"id":"73eb29c.97568d8","type":"function","z":"c178a46b.85c658","name":"start / stop","func":"// get store \nvar store = flow.get(\"store\");\n\n// get the values from the SenseHAT\nvar key = msg.payload.key;\nvar state = msg.payload.state;\n\n// ret messages\nvar msg1 = null;\nvar msg2 = null;\nvar msg3 = null;\n\nif (key === \"ENTER\" && state === 1) {\n    if (store === true) {\n        msg2 = { payload: false };\n        flow.set(\"store\", false);\n    } else {\n        msg3 = { payload: true };\n        flow.set(\"store\", true);\n        flow.set(\"motionset\", new Date());\n    }\n} else if (key === \"UP\" && state === 1) {\n    var figures = flow.get('figures');\n    var curfig = flow.get('curfig') + 1;\n    if (curfig > figures.length) {\n        curfig = 0;\n    }\n    flow.set('curfig', curfig);\n    msg1 = { payload: figures[curfig] };\n}\n\nreturn [msg1, msg2, msg3];","outputs":3,"noerr":0,"x":250,"y":360,"wires":[["24f08b19.87d464"],["a977df0e.78d3f"],["621b176.c9945e8"]]},{"id":"337c6e7e.feac22","type":"debug","z":"c178a46b.85c658","name":"IoT Sent Motions","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":650,"y":600,"wires":[]},{"id":"390b3cf7.540c84","type":"wiotp out","z":"c178a46b.85c658","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"787dd67f.06a908","deviceType":"","deviceId":"","event":"motions","format":"json","qos":"","name":"Sent2IoTF","x":810,"y":640,"wires":[]},{"id":"ee3a1dcf.bb328","type":"switch","z":"c178a46b.85c658","name":"Send ?","property":"motions","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":620,"y":640,"wires":[["390b3cf7.540c84"]]},{"id":"d3dcad88.93297","type":"rpi-sensehat out","z":"c178a46b.85c658","name":"","x":870,"y":280,"wires":[]},{"id":"d12edd24.2f94","type":"function","z":"c178a46b.85c658","name":"HAT Msg","func":"var rotation = global.get(\"rotation\");\n\nif (rotation) {\n    msg.payload = rotation + \"\\n\" + msg.payload;\n}\n\nmsg.speed = 4;\n\nreturn msg;","outputs":1,"noerr":0,"x":676,"y":279.5,"wires":[["d3dcad88.93297"]]},{"id":"f7cbd584.50c6c8","type":"ui_group","z":"","name":"Motion Training","tab":"6fc1724b.5eed0c","order":3,"disp":true,"width":"6","collapse":false},{"id":"787dd67f.06a908","type":"wiotp-credentials","z":"","name":"","org":"bgn6wt","serverName":"","devType":"TjBot","devId":"tjbot-01","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"6fc1724b.5eed0c","type":"ui_tab","z":"","name":"Training Motions","icon":"dashboard","order":3}]