TjBot-Other/TjBot-Flows-Demo/Display-IP.json
[{"id":"dc1ecf6c.62adb","type":"rpi-sensehat in","z":"45c7ca54.757704","name":"","motion":false,"env":false,"stick":true,"x":112.69998168945312,"y":103.30000305175781,"wires":[["4e59a043.fcd11"]]},{"id":"73556e04.42418","type":"exec","z":"45c7ca54.757704","command":"ip -4 -o addr list wlan0","addpay":false,"append":"","useSpawn":"","timer":"","name":"get ip","x":420,"y":104,"wires":[["47f4e8a5.e48798"],[],[]]},{"id":"70c3a426.1a3dcc","type":"debug","z":"45c7ca54.757704","name":"","active":true,"console":"false","complete":"false","x":772,"y":59.5,"wires":[]},{"id":"aae7f25f.7de16","type":"rpi-sensehat out","z":"45c7ca54.757704","name":"","x":771,"y":110.30001831054688,"wires":[]},{"id":"47f4e8a5.e48798","type":"function","z":"45c7ca54.757704","name":"Extract","func":"var s = msg.payload;\nvar x = s.substring(17,32);\nmsg.payload=x;\nreturn msg;","outputs":1,"noerr":0,"x":573.60009765625,"y":90.70005798339844,"wires":[["70c3a426.1a3dcc","aae7f25f.7de16"]]},{"id":"4e59a043.fcd11","type":"switch","z":"45c7ca54.757704","name":"","property":"payload.state","propertyType":"msg","rules":[{"t":"eq","v":"2","vt":"num"}],"checkall":"true","outputs":1,"x":278.0999755859375,"y":103.70001220703125,"wires":[["73556e04.42418"]]},{"id":"eff8ff1d.2d315","type":"comment","z":"45c7ca54.757704","name":"Get IP and Display on SenseHAT","info":"When Joystick moved - display IP","x":154.5,"y":41,"wires":[]}]