TjBot-Other/TjBot-Flows-Demo/Mic-Speak.json
[{"id":"64dcee51.11b5","type":"comment","z":"c3a16b6.9259498","name":"MicroPi Node Pack - Demo Flow","info":"","x":150,"y":40,"wires":[]},{"id":"c7f28a50.ab54f8","type":"speakerpi-output","z":"c3a16b6.9259498","choose":"streambased","filename":"","channels":"1","bitdepth":"16","samplerate":"16000","name":"","x":720,"y":300,"wires":[]},{"id":"3a592333.fbfe5c","type":"microPi","z":"c3a16b6.9259498","name":"microPi","filename":"/home/pi/audio/demo.wav","domain":"http://localhost:1880/getAudio","rate":"16000","bitwidth":"16","endian":"little","encoding":"signed-integer","channels":"1","silence":"5","debug":"false","mode":"","x":260,"y":160,"wires":[["22e2dde3.040952","4d5dbdc7.802ed4"],["402d5b20.91bd94"],["f5eac648.392b28"]]},{"id":"bfcf685e.578528","type":"inject","z":"c3a16b6.9259498","name":"record","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":90,"y":140,"wires":[["3a592333.fbfe5c"]]},{"id":"bf572285.cbbb","type":"inject","z":"c3a16b6.9259498","name":"stop","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"x":90,"y":180,"wires":[["3a592333.fbfe5c"]]},{"id":"22e2dde3.040952","type":"debug","z":"c3a16b6.9259498","name":"Raw L16 Wave Stream","active":false,"tosidebar":true,"console":false,"complete":"true","x":520,"y":120,"wires":[]},{"id":"402d5b20.91bd94","type":"debug","z":"c3a16b6.9259498","name":"Wav File as a Buffer and metadata","active":true,"tosidebar":true,"console":false,"complete":"true","x":560,"y":160,"wires":[]},{"id":"f5eac648.392b28","type":"debug","z":"c3a16b6.9259498","name":"Status Messages","active":false,"tosidebar":true,"console":false,"complete":"true","x":510,"y":200,"wires":[]},{"id":"434fdddd.d6d2c4","type":"comment","z":"c3a16b6.9259498","name":"Micropi","info":"","x":70,"y":100,"wires":[]},{"id":"8e4c21a6.8f8fd","type":"microphone","z":"c3a16b6.9259498","name":"microphone","x":110,"y":480,"wires":[["772a45fa.6d565c"]]},{"id":"772a45fa.6d565c","type":"wav-filewriter","z":"c3a16b6.9259498","name":"","path":"","mode":"700","x":330,"y":480,"wires":[["d81a78ce.003868"]]},{"id":"be8e9262.1b823","type":"comment","z":"c3a16b6.9259498","name":"Microphone and Wav-Filewriter","info":"","x":150,"y":440,"wires":[]},{"id":"d81a78ce.003868","type":"debug","z":"c3a16b6.9259498","name":"Wav File as a Buffer","active":true,"tosidebar":true,"console":false,"complete":"true","x":580,"y":480,"wires":[]},{"id":"4d5dbdc7.802ed4","type":"change","z":"c3a16b6.9259498","name":"","rules":[{"t":"set","p":"speech","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":300,"wires":[["c7f28a50.ab54f8"]]},{"id":"ce64c8d5.cb1a78","type":"inject","z":"c3a16b6.9259498","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":360,"wires":[["2aa51efd.3452f2"]]},{"id":"2aa51efd.3452f2","type":"speakerpi-output","z":"c3a16b6.9259498","choose":"givenfile","filename":"micropi.wav","channels":"1","bitdepth":"8","samplerate":"11025","name":"","x":520,"y":360,"wires":[]}]