TjBot-Other/TjBot-Flows-Demo/SenseHAT.json
[
    {
        "id": "bce21295.990a9",
        "type": "tab",
        "label": "SenseHAT",
        "disabled": true,
        "info": ""
    },
    {
        "id": "6138a6da.b788e8",
        "type": "comment",
        "z": "bce21295.990a9",
        "name": "TJBot - Send IoTF ",
        "info": "",
        "x": 110,
        "y": 40,
        "wires": []
    },
    {
        "id": "3bc73fdb.5488",
        "type": "rpi-sensehat in",
        "z": "bce21295.990a9",
        "name": "Environment",
        "motion": false,
        "env": true,
        "stick": false,
        "x": 91,
        "y": 142,
        "wires": [
            [
                "91b8be8f.7db46",
                "d86308fd.260b68",
                "ec748b5.e9f2278"
            ]
        ]
    },
    {
        "id": "91b8be8f.7db46",
        "type": "debug",
        "z": "bce21295.990a9",
        "name": "Environment",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 313,
        "y": 81,
        "wires": []
    },
    {
        "id": "d86308fd.260b68",
        "type": "function",
        "z": "bce21295.990a9",
        "name": "Split msg",
        "func": "var msg1 = {payload: msg.payload.temperature};\nvar msg2 = {payload: msg.payload.humidity};\nvar msg3 = {payload: msg.payload.pressure};\n\nreturn [msg1, msg2, msg3];",
        "outputs": "3",
        "noerr": 0,
        "x": 303,
        "y": 142.5,
        "wires": [
            [
                "b986c19a.ec331"
            ],
            [
                "8aa922ac.9cfb"
            ],
            [
                "d59dac1f.ee7cc"
            ]
        ]
    },
    {
        "id": "9acda6f3.c600f8",
        "type": "ui_gauge",
        "z": "bce21295.990a9",
        "name": "Temperature",
        "group": "4864f5c1.5a2a7c",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "°C",
        "format": "{{value | number:2}}",
        "min": "-20",
        "max": "+50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 710,
        "y": 80,
        "wires": []
    },
    {
        "id": "7d0684b9.0d329c",
        "type": "ui_gauge",
        "z": "bce21295.990a9",
        "name": "Humidity",
        "group": "4864f5c1.5a2a7c",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Humidity",
        "label": "%",
        "format": "{{value | number:1}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 699,
        "y": 140.5,
        "wires": []
    },
    {
        "id": "d59dac1f.ee7cc",
        "type": "ui_gauge",
        "z": "bce21295.990a9",
        "name": "Pressure",
        "group": "4864f5c1.5a2a7c",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Pressure",
        "label": "mbar",
        "format": "{{value | number:0}}",
        "min": 0,
        "max": "2000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 504,
        "y": 186.5,
        "wires": []
    },
    {
        "id": "ec748b5.e9f2278",
        "type": "function",
        "z": "bce21295.990a9",
        "name": "Set IoTF TempHumPres",
        "func": "\nvar device = global.get(\"device\");\n\nvar sensor =\n    {\"d\":\n        {\n            \"device\" : device,\n            \"sensor\" : \"SenseHAT\",\n            \"sensortype\" : \"environment\",\n            \"timestamp\" : new Date(),\n            \"temperature\":msg.payload.temperature,\n            \"humidity\": msg.payload.humidity,\n            \"pressure\" : msg.payload.pressure\n        }\n    }; \n\nmsg.payload = JSON.stringify(sensor);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 240,
        "wires": [
            [
                "c7e6791b.925e58"
            ]
        ]
    },
    {
        "id": "c7e6791b.925e58",
        "type": "wiotp out",
        "z": "bce21295.990a9",
        "authType": "d",
        "qs": "false",
        "qsDeviceId": "",
        "deviceKey": "442a10c0.1bc67",
        "deviceType": "",
        "deviceId": "",
        "event": "Environment",
        "format": "json",
        "qos": "",
        "name": "Send IoTF ",
        "x": 570,
        "y": 240,
        "wires": []
    },
    {
        "id": "279f7914.cb4316",
        "type": "rpi-sensehat in",
        "z": "bce21295.990a9",
        "name": "Motion",
        "motion": true,
        "env": false,
        "stick": false,
        "x": 90,
        "y": 720,
        "wires": [
            [
                "fe9fe25a.f3cae",
                "26d2f079.4534a"
            ]
        ]
    },
    {
        "id": "2eaf2dd7.72fba2",
        "type": "rpi-sensehat in",
        "z": "bce21295.990a9",
        "name": "Joystick",
        "motion": false,
        "env": false,
        "stick": true,
        "x": 81,
        "y": 420,
        "wires": [
            [
                "c5d58f2f.c01ff",
                "c6a95ad0.9fec38",
                "c0ef8b0a.073f48"
            ]
        ]
    },
    {
        "id": "516a3c6d.ac9214",
        "type": "debug",
        "z": "bce21295.990a9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 746,
        "y": 666,
        "wires": []
    },
    {
        "id": "c5d58f2f.c01ff",
        "type": "debug",
        "z": "bce21295.990a9",
        "name": "Joystick",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 282,
        "y": 361,
        "wires": []
    },
    {
        "id": "c6a95ad0.9fec38",
        "type": "function",
        "z": "bce21295.990a9",
        "name": "Set IoTF Joystick",
        "func": "var device = global.get(\"device\");\n\nvar sensor =\n    {\"d\":\n        {\n            \"device\" : device,\n            \"sensor\" : \"SenseHAT\", \n            \"sensortype\" : \"joystick\",\n            \"timestamp\" : new Date(),\n            \"key\":msg.payload.key,\n            \"state\" : msg.payload.state\n        }\n    }; \n\nmsg.payload = JSON.stringify(sensor);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 312,
        "y": 420,
        "wires": [
            [
                "aecbf8fb.ee0008"
            ]
        ]
    },
    {
        "id": "aecbf8fb.ee0008",
        "type": "wiotp out",
        "z": "bce21295.990a9",
        "authType": "d",
        "qs": "false",
        "qsDeviceId": "",
        "deviceKey": "442a10c0.1bc67",
        "deviceType": "",
        "deviceId": "",
        "event": "Joystick",
        "format": "json",
        "qos": "",
        "name": "Send IoTF ",
        "x": 522,
        "y": 419,
        "wires": []
    },
    {
        "id": "5a8392dc.ada65c",
        "type": "function",
        "z": "bce21295.990a9",
        "name": "Set IoTF Motion",
        "func": "var device = global.get(\"device\");\n\nvar sensor =\n    {\"d\":\n        {\n            \"device\" : device,\n            \"sensor\" : \"SenseHAT\", \n            \"sensortype\" : \"motion\",\n            \"timestamp\" : new Date(),\n            \"acceleration\":msg.payload.acceleration,\n            \"gyroscope\":msg.payload.gyroscope,\n            \"orientation\":msg.payload.orientation,\n            \"compass\":msg.payload.compass\n        }\n    }; \n\nmsg.payload = JSON.stringify(sensor);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 538,
        "y": 720,
        "wires": [
            [
                "f644924b.5515e",
                "516a3c6d.ac9214"
            ]
        ]
    },
    {
        "id": "f644924b.5515e",
        "type": "wiotp out",
        "z": "bce21295.990a9",
        "authType": "d",
        "qs": "false",
        "qsDeviceId": "",
        "deviceKey": "442a10c0.1bc67",
        "deviceType": "",
        "deviceId": "",
        "event": "Motion",
        "format": "json",
        "qos": "",
        "name": "Send IoTF ",
        "x": 745,
        "y": 720,
        "wires": []
    },
    {
        "id": "91f07c12.9f96f",
        "type": "inject",
        "z": "bce21295.990a9",
        "name": "ON",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 110,
        "y": 620,
        "wires": [
            [
                "d690d1a6.78454"
            ]
        ]
    },
    {
        "id": "64864026.5720e",
        "type": "inject",
        "z": "bce21295.990a9",
        "name": "OFF",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 110,
        "y": 660,
        "wires": [
            [
                "d690d1a6.78454"
            ]
        ]
    },
    {
        "id": "e96eca52.bafb28",
        "type": "debug",
        "z": "bce21295.990a9",
        "name": "Setup Motion",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 540,
        "y": 640,
        "wires": []
    },
    {
        "id": "d690d1a6.78454",
        "type": "change",
        "z": "bce21295.990a9",
        "name": "Enable / Disable Motion",
        "rules": [
            {
                "t": "set",
                "p": "motion-start-stop",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 640,
        "wires": [
            [
                "e96eca52.bafb28"
            ]
        ]
    },
    {
        "id": "fe9fe25a.f3cae",
        "type": "switch",
        "z": "bce21295.990a9",
        "name": "Is motion enabled?",
        "property": "motion-start-stop",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 304,
        "y": 720,
        "wires": [
            [
                "5a8392dc.ada65c"
            ]
        ]
    },
    {
        "id": "85ba1139.9172e",
        "type": "comment",
        "z": "bce21295.990a9",
        "name": "Motion is disabled on startup",
        "info": "",
        "x": 140,
        "y": 560,
        "wires": []
    },
    {
        "id": "b986c19a.ec331",
        "type": "change",
        "z": "bce21295.990a9",
        "name": "Global Temp",
        "rules": [
            {
                "t": "set",
                "p": "temp",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 513,
        "y": 80,
        "wires": [
            [
                "9acda6f3.c600f8"
            ]
        ]
    },
    {
        "id": "8aa922ac.9cfb",
        "type": "change",
        "z": "bce21295.990a9",
        "name": "Global Hum",
        "rules": [
            {
                "t": "set",
                "p": "hum",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 513,
        "y": 141,
        "wires": [
            [
                "7d0684b9.0d329c"
            ]
        ]
    },
    {
        "id": "a20a665d.ddd118",
        "type": "rpi-sensehat out",
        "z": "bce21295.990a9",
        "name": "",
        "x": 661,
        "y": 479,
        "wires": []
    },
    {
        "id": "da61807b.c7fc9",
        "type": "function",
        "z": "bce21295.990a9",
        "name": "HAT Msg",
        "func": "var hostname = global.get(\"device\") || \"\";\nvar ip = global.get(\"IP\") || \"\";\nvar rotation = global.get(\"rotation\");\n\nif (rotation) {\n    msg.payload = rotation + \"\\n\" + hostname + \" : \" + msg.ip;\n} else {\n    msg.payload = hostname + \" : \" + ip;\n}\nmsg.speed = 4;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 476,
        "y": 479,
        "wires": [
            [
                "a20a665d.ddd118"
            ]
        ]
    },
    {
        "id": "c0ef8b0a.073f48",
        "type": "switch",
        "z": "bce21295.990a9",
        "name": "Enter Click",
        "property": "payload.key",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ENTER",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 290,
        "y": 479,
        "wires": [
            [
                "da61807b.c7fc9"
            ]
        ]
    },
    {
        "id": "26d2f079.4534a",
        "type": "debug",
        "z": "bce21295.990a9",
        "name": "Motion",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 273.1909942626953,
        "y": 792.7049026489258,
        "wires": []
    },
    {
        "id": "8a866888.526108",
        "type": "comment",
        "z": "bce21295.990a9",
        "name": "Joystick usage",
        "info": "",
        "x": 101,
        "y": 322,
        "wires": []
    },
    {
        "id": "4323b304.c878ec",
        "type": "inject",
        "z": "bce21295.990a9",
        "name": "",
        "topic": "",
        "payload": "start",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 110,
        "y": 1120,
        "wires": [
            [
                "82fa18a5.c08338",
                "97e44a56.00d798",
                "e25a49dd.8e4928"
            ]
        ]
    },
    {
        "id": "70e0ce7d.ca96a",
        "type": "function",
        "z": "bce21295.990a9",
        "name": "Eye",
        "func": "var xPos = flow.get(\"xPos\");\nvar yPos = flow.get(\"yPos\");\n\nvar eyeArr = Array();\nvar ret = Array();\n\nvar off = [ \n\"e\",\"e\",\"e\",\"e\",\"e\",\"e\",\"e\",\"e\",\n\"e\",\"e\",\"e\",\"e\",\"e\",\"e\",\"e\",\"e\",\n\"e\",\"e\",\"e\",\"e\",\"e\",\"e\",\"e\",\"e\",\n\"e\",\"e\",\"e\",\"e\",\"e\",\"e\",\"e\",\"e\",\n\"e\",\"e\",\"e\",\"e\",\"e\",\"e\",\"e\",\"e\",\n\"e\",\"e\",\"e\",\"e\",\"e\",\"e\",\"e\",\"e\",\n\"e\",\"e\",\"e\",\"e\",\"e\",\"e\",\"e\",\"e\",\n\"e\",\"e\",\"e\",\"e\",\"e\",\"e\",\"e\",\"e\"\n];\n\nvar eye = [ \n\"e\",\"e\",\"w\",\"w\",\"w\",\"w\",\"e\",\"e\",\n\"e\",\"w\",\"w\",\"w\",\"w\",\"w\",\"w\",\"e\",\n\"w\",\"w\",\"w\",\"w\",\"w\",\"w\",\"w\",\"w\",\n\"w\",\"w\",\"w\",\"w\",\"w\",\"w\",\"w\",\"w\",\n\"w\",\"w\",\"w\",\"w\",\"w\",\"w\",\"w\",\"w\",\n\"w\",\"w\",\"w\",\"w\",\"w\",\"w\",\"w\",\"w\",\n\"e\",\"w\",\"w\",\"w\",\"w\",\"w\",\"w\",\"e\",\n\"e\",\"e\",\"w\",\"w\",\"w\",\"w\",\"e\",\"e\"\n];\n\n// what to do \nswitch(msg.payload) {\n    case \"up\":\n        if (yPos > 0) {\n            yPos = yPos - 1;\n        }\n        break;\n    case \"down\":\n        if (yPos < 6 ) {\n            yPos = yPos + 1;\n        }\n        break;\n    case \"left\":\n        if (xPos > 0) {\n            xPos = xPos - 1;\n        }\n        break;\n    case \"right\":\n        if (xPos < 6) {\n            xPos = xPos + 1;\n        }\n        break;\n    case \"off\":\n        xPos = 0;\n        yPos = 0;\n        eye = off;\n        global.set(\"eyeShow\", false);\n        break;\n    case \"start\":\n        xPos = 3;\n        yPos = 3;\n        global.set(\"eyeShow\", true);\n        break; \n    case \"wink\":\n        break;\n}\n\nif (msg.payload != \"off\" && !global.get(\"eyeShow\")) {\n    return null;    \n}\n\n// set the eye in the position \neye[yPos*8+xPos] = \"b\";\neye[yPos*8+xPos+1] = \"b\";\neye[(yPos+1)*8+xPos] = \"b\";\neye[(yPos+1)*8+xPos+1] = \"b\";\n\n// store the eye\neyeArr.push(eye);\n\n// if wink -- change eye\nif (msg.payload == \"wink\") {\n    // close eye\n    var cEye = eye.slice();\n    for (var i = 0; i < 4; i++) {\n        for (var x = 0; x < 8; x++) {\n            cEye[i*8+x] = \"o\";\n            cEye[(7-i)*8+x] = \"o\";\n        }\n        eyeArr.push(cEye.slice());\n    }\n    \n    eyeArr.push(eyeArr[4].slice());\n    eyeArr.push(eyeArr[3].slice());\n    eyeArr.push(eyeArr[2].slice());\n    eyeArr.push(eyeArr[1].slice());\n    eyeArr.push(eyeArr[0].slice());\n}\n\n// convert all eyes\nvar delay = 0;\nfor (var a=0; a < eyeArr.length; a++) {\n    \n    // turn into string\n    var sImage = \"\";\n    var first = true;\n    var aEye = eyeArr[a];\n    var rotation = global.get(\"rotation\");\n    \n    for (var y = 0; y < 8; y++) {\n        for (var x = 0; x < 8; x++) {\n            if (first === true) {\n                if (rotation){\n                    sImage = rotation + \"\\n\";\n                }\n                sImage = sImage + x + \",\" + y;\n                first = false;\n            } else {\n                sImage = sImage + \",\" + x + \",\" + y;\n            }\n            switch (aEye[y*8+x]) {\n                case \"r\":\n                    sImage = sImage + \",red\";\n                    break;\n                case \"g\":\n                    sImage = sImage + \",green\";\n                    break;\n                case \"b\":\n                    sImage = sImage + \",blue\";\n                    break;\n                case \"y\":\n                    sImage = sImage + \",yellow\";\n                    break;\n                case \"o\":\n                    sImage = sImage + \",210,105,30\";\n                    break;\n                case \"w\":\n                    sImage = sImage + \",white\";\n                    break;\n                default:\n                    sImage = sImage + \",off\";\n                    break;\n            }    \n        }\n    }\n    ret.push( {payload : sImage, delay: delay});\n    delay = delay + global.get(\"eyeDelay\");\n}\n\nflow.set(\"xPos\", xPos);\nflow.set(\"yPos\", yPos);\n\nreturn [ret];",
        "outputs": 1,
        "noerr": 0,
        "x": 450,
        "y": 980,
        "wires": [
            [
                "a0d55f59.3568e"
            ]
        ]
    },
    {
        "id": "a0d55f59.3568e",
        "type": "delay",
        "z": "bce21295.990a9",
        "name": "",
        "pauseType": "delayv",
        "timeout": "300",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 600,
        "y": 980,
        "wires": [
            [
                "69f0852c.9c8eac",
                "29d86436.af416c"
            ]
        ]
    },
    {
        "id": "a8307707.6a38e8",
        "type": "inject",
        "z": "bce21295.990a9",
        "name": "",
        "topic": "",
        "payload": "off",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 110,
        "y": 1160,
        "wires": [
            [
                "82fa18a5.c08338"
            ]
        ]
    },
    {
        "id": "4ab3b682.05a308",
        "type": "inject",
        "z": "bce21295.990a9",
        "name": "",
        "topic": "",
        "payload": "up",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 110,
        "y": 1220,
        "wires": [
            [
                "82fa18a5.c08338"
            ]
        ]
    },
    {
        "id": "a700e407.d4c398",
        "type": "inject",
        "z": "bce21295.990a9",
        "name": "",
        "topic": "",
        "payload": "down",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 110,
        "y": 1260,
        "wires": [
            [
                "82fa18a5.c08338"
            ]
        ]
    },
    {
        "id": "6498b7ef.7350f8",
        "type": "inject",
        "z": "bce21295.990a9",
        "name": "",
        "topic": "",
        "payload": "left",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 110,
        "y": 1300,
        "wires": [
            [
                "82fa18a5.c08338"
            ]
        ]
    },
    {
        "id": "5901b2cc.fba6ac",
        "type": "inject",
        "z": "bce21295.990a9",
        "name": "",
        "topic": "",
        "payload": "right",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 110,
        "y": 1340,
        "wires": [
            [
                "82fa18a5.c08338"
            ]
        ]
    },
    {
        "id": "1ce82a52.911126",
        "type": "inject",
        "z": "bce21295.990a9",
        "name": "",
        "topic": "",
        "payload": "wink",
        "payloadType": "str",
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 110,
        "y": 1380,
        "wires": [
            [
                "82fa18a5.c08338",
                "97e44a56.00d798",
                "e25a49dd.8e4928"
            ]
        ]
    },
    {
        "id": "69f0852c.9c8eac",
        "type": "rpi-sensehat out",
        "z": "bce21295.990a9",
        "name": "",
        "x": 790,
        "y": 980,
        "wires": []
    },
    {
        "id": "29d86436.af416c",
        "type": "debug",
        "z": "bce21295.990a9",
        "name": "eye",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 770,
        "y": 920,
        "wires": []
    },
    {
        "id": "5cf4d787.8d76f8",
        "type": "comment",
        "z": "bce21295.990a9",
        "name": "Eye Emulation and endpoint",
        "info": "",
        "x": 140,
        "y": 880,
        "wires": []
    },
    {
        "id": "a38dd7cb.d87fd8",
        "type": "inject",
        "z": "bce21295.990a9",
        "name": "",
        "topic": "",
        "payload": "surprised",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 120,
        "y": 1520,
        "wires": [
            [
                "885052c9.ce3ac"
            ]
        ]
    },
    {
        "id": "885052c9.ce3ac",
        "type": "function",
        "z": "bce21295.990a9",
        "name": "SenseHAT",
        "func": "// get the Images\nvar senseHATImages = global.get(\"senseHATImages\");\nvar loop = true;\nvar sImage = \"\";\nvar image = [];\n\n// get the right image \nfor (var i = 0; i < senseHATImages.length && loop; i++) {\n    // set the image to be displayed\n    if (senseHATImages[i].name == msg.payload) {\n        loop = false;\n        sImage = senseHATImages[i].sImage;\n        image = senseHATImages[i].image;\n    }\n}\n\nmsg.payload = sImage;\nmsg.image = image;\nmsg.speed = 5;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 358,
        "y": 1640,
        "wires": [
            [
                "f9099e28.2592",
                "949698d8.7558b8"
            ]
        ]
    },
    {
        "id": "f9099e28.2592",
        "type": "rpi-sensehat out",
        "z": "bce21295.990a9",
        "name": "",
        "x": 560,
        "y": 1640,
        "wires": []
    },
    {
        "id": "2023eeb5.443232",
        "type": "inject",
        "z": "bce21295.990a9",
        "name": "",
        "topic": "",
        "payload": "smily",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 110,
        "y": 1559,
        "wires": [
            [
                "885052c9.ce3ac"
            ]
        ]
    },
    {
        "id": "b40fbe62.aeae3",
        "type": "inject",
        "z": "bce21295.990a9",
        "name": "",
        "topic": "",
        "payload": "frusty",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 110,
        "y": 1599,
        "wires": [
            [
                "885052c9.ce3ac"
            ]
        ]
    },
    {
        "id": "d22a3290.5bb84",
        "type": "inject",
        "z": "bce21295.990a9",
        "name": "",
        "topic": "",
        "payload": "nutreal",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 110,
        "y": 1639,
        "wires": [
            [
                "885052c9.ce3ac"
            ]
        ]
    },
    {
        "id": "f669e794.38bbd8",
        "type": "inject",
        "z": "bce21295.990a9",
        "name": "no light",
        "topic": "",
        "payload": "no_light",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 110,
        "y": 1680,
        "wires": [
            [
                "885052c9.ce3ac"
            ]
        ]
    },
    {
        "id": "b5fdfca6.ddeea",
        "type": "inject",
        "z": "bce21295.990a9",
        "name": "red light",
        "topic": "",
        "payload": "red_light",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 110,
        "y": 1720,
        "wires": [
            [
                "885052c9.ce3ac"
            ]
        ]
    },
    {
        "id": "28a6b257.33001e",
        "type": "inject",
        "z": "bce21295.990a9",
        "name": "Blue light",
        "topic": "",
        "payload": "blue_light",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 119,
        "y": 1761,
        "wires": [
            [
                "885052c9.ce3ac"
            ]
        ]
    },
    {
        "id": "6adaee2e.3b4e2",
        "type": "comment",
        "z": "bce21295.990a9",
        "name": "SenseHAT Faces",
        "info": "",
        "x": 100,
        "y": 1480,
        "wires": []
    },
    {
        "id": "949698d8.7558b8",
        "type": "debug",
        "z": "bce21295.990a9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 580,
        "y": 1580,
        "wires": []
    },
    {
        "id": "b4f8e2f0.5465a",
        "type": "http request",
        "z": "bce21295.990a9",
        "name": "Control Eye",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 530,
        "y": 1260,
        "wires": [
            [
                "474c6ac0.216e24"
            ]
        ]
    },
    {
        "id": "474c6ac0.216e24",
        "type": "debug",
        "z": "bce21295.990a9",
        "name": "Eye Control",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 710,
        "y": 1260,
        "wires": []
    },
    {
        "id": "aff85159.17c26",
        "type": "http in",
        "z": "bce21295.990a9",
        "name": "",
        "url": "/eye",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 1040,
        "wires": [
            [
                "257fc3fc.6ccfdc",
                "b4a1e789.981888"
            ]
        ]
    },
    {
        "id": "257fc3fc.6ccfdc",
        "type": "template",
        "z": "bce21295.990a9",
        "name": "page",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{ \"Eye\":  {{req.query.eye}} }",
        "x": 270,
        "y": 1040,
        "wires": [
            [
                "dab4b89b.298678"
            ]
        ]
    },
    {
        "id": "dab4b89b.298678",
        "type": "change",
        "z": "bce21295.990a9",
        "name": "Set Headers",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "headers.content-type",
                "pt": "msg",
                "to": "application/json",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 1040,
        "wires": [
            [
                "97debdc6.31108"
            ]
        ]
    },
    {
        "id": "97debdc6.31108",
        "type": "http response",
        "z": "bce21295.990a9",
        "name": "",
        "x": 590,
        "y": 1040,
        "wires": []
    },
    {
        "id": "82fa18a5.c08338",
        "type": "function",
        "z": "bce21295.990a9",
        "name": "set eye URL",
        "func": "msg.url = global.get(\"appurl\") + \"/\" + \"eye?eye=\" + msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 1260,
        "wires": [
            [
                "b4f8e2f0.5465a"
            ]
        ]
    },
    {
        "id": "b4a1e789.981888",
        "type": "change",
        "z": "bce21295.990a9",
        "name": "eye control",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.eye",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 980,
        "wires": [
            [
                "70e0ce7d.ca96a"
            ]
        ]
    },
    {
        "id": "97e44a56.00d798",
        "type": "function",
        "z": "bce21295.990a9",
        "name": "set eye URL",
        "func": "msg.url = \"192.168.42.118:1880/\" + \"eye?eye=\" + msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 1300,
        "wires": [
            []
        ]
    },
    {
        "id": "e25a49dd.8e4928",
        "type": "function",
        "z": "bce21295.990a9",
        "name": "set eye URL",
        "func": "msg.url = \"192.168.42.107:1880/\" + \"eye?eye=\" + msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 1340,
        "wires": [
            []
        ]
    },
    {
        "id": "4864f5c1.5a2a7c",
        "type": "ui_group",
        "z": "",
        "name": "Sensor Data",
        "tab": "3c395a80.5962e6",
        "order": 1,
        "disp": true,
        "width": "6"
    },
    {
        "id": "442a10c0.1bc67",
        "type": "wiotp-credentials",
        "z": "",
        "name": "Send IoTF",
        "org": "9qs5ql",
        "serverName": "",
        "devType": "TjBot",
        "devId": "tjbot-oh",
        "keepalive": "60",
        "cleansession": true,
        "tls": "",
        "usetls": false
    },
    {
        "id": "3c395a80.5962e6",
        "type": "ui_tab",
        "z": "",
        "name": "TjBot-OH",
        "icon": "dashboard",
        "order": 1
    }
]