TjBot-Other/TjBot-Flows-Demo/Take-Photo.json
[{"id":"b04bf707.4d0858","type":"comment","z":"8e67a99e.076828","name":"Take Photo - Demo Flow","info":"","x":150,"y":60,"wires":[]},{"id":"3c2184d6.e11e0c","type":"camerapi-takephoto","z":"8e67a99e.076828","filemode":"0","filename":"","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"2","rotation":"180","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","quality":"80","imageeffect":"none","exposuremode":"auto","iso":"0","agcwait":"0.3","led":"1","awb":"cloudy","name":"Take It","x":310,"y":200,"wires":[["96f0c08.00ec74","cd1df394.23f78"]]},{"id":"a89e192a.7a5018","type":"inject","z":"8e67a99e.076828","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":200,"wires":[["3c2184d6.e11e0c"]]},{"id":"96f0c08.00ec74","type":"debug","z":"8e67a99e.076828","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":490,"y":140,"wires":[]},{"id":"8d72343.3c42bc8","type":"ui_template","z":"8e67a99e.076828","group":"43ec0122.238e6","name":"Show Pic","order":0,"width":0,"height":0,"format":"<div layout=\"row\" layout-align=\"space-between\">\n    <img src=\"data:image/jpg;base64,{{msg.payload}}\"\n        width='290' \n        height='220' \n        id='img'\n        alt=' Getting Image'\n    >\n</div>","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":700,"y":200,"wires":[[]]},{"id":"2faaf6e6.04043a","type":"ui_button","z":"8e67a99e.076828","name":"","group":"43ec0122.238e6","order":0,"width":0,"height":0,"passthru":false,"label":"Take Picture","color":"","bgcolor":"","icon":"fa-photo","payload":"","payloadType":"str","topic":"","x":110,"y":120,"wires":[["3c2184d6.e11e0c"]]},{"id":"cd1df394.23f78","type":"base64","z":"8e67a99e.076828","name":"convert base64","action":"","property":"payload","x":500,"y":200,"wires":[["8d72343.3c42bc8"]]},{"id":"43ec0122.238e6","type":"ui_group","z":"","name":"Home","tab":"4485b2b3.23bb6c","disp":true,"width":"6","collapse":false},{"id":"4485b2b3.23bb6c","type":"ui_tab","z":"","name":"Demo","icon":"dashboard","order":3}]