TjBot-Other/TjBot-Test/Dogs.json
[{"id":"e906f647.cbc1a8","type":"comment","z":"e17c17b2.666958","name":" Work with classifier","info":"Download test-images under\n\nhttps://console.bluemix.net/docs/services/visual-recognition/tutorial-custom-classifier.html#creating-a-custom-model","x":110,"y":40,"wires":[]},{"id":"e22089a5.086a08","type":"visual-recognition-util-v3","z":"e17c17b2.666958","name":"retrieve classifiers list","apikey":"eOtONFxVkxM4mj19gEXaY246J2fiFAaSLX8y9lokFWnz","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"retrieveClassifiersList","x":540,"y":80,"wires":[["f8c0e260.da376"]]},{"id":"a692ccda.022cb","type":"visual-recognition-util-v3","z":"e17c17b2.666958","name":"retrieve classifier details","apikey":"eOtONFxVkxM4mj19gEXaY246J2fiFAaSLX8y9lokFWnz","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"retrieveClassifierDetails","x":550,"y":120,"wires":[["f8c0e260.da376"]]},{"id":"2cf475d6.56596a","type":"visual-recognition-util-v3","z":"e17c17b2.666958","name":"delete a classifier","apikey":"eOtONFxVkxM4mj19gEXaY246J2fiFAaSLX8y9lokFWnz","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"deleteClassifier","x":530,"y":160,"wires":[["f8c0e260.da376"]]},{"id":"7251a2d2.335ccc","type":"inject","z":"e17c17b2.666958","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":80,"wires":[["e22089a5.086a08"]]},{"id":"72fc6d50.b7e364","type":"inject","z":"e17c17b2.666958","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":120,"wires":[["756dfd3.6177804"]]},{"id":"dee6bb98.b8f848","type":"inject","z":"e17c17b2.666958","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":160,"wires":[["528ddd78.d44834"]]},{"id":"f8c0e260.da376","type":"debug","z":"e17c17b2.666958","name":"","active":true,"console":"false","complete":"result","x":810,"y":120,"wires":[]},{"id":"756dfd3.6177804","type":"function","z":"e17c17b2.666958","name":"set classifier_id","func":"msg.params={'classifier_id':'dogs_1784804271'};\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":120,"wires":[["a692ccda.022cb"]]},{"id":"528ddd78.d44834","type":"function","z":"e17c17b2.666958","name":"set classifier_id","func":"msg.params={'classifier_id':'dogs_1784804271'};\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":160,"wires":[["2cf475d6.56596a"]]},{"id":"6d6b3ec0.b7dd4","type":"inject","z":"e17c17b2.666958","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":200,"wires":[["b99f213a.14f7a"]]},{"id":"b99f213a.14f7a","type":"visual-recognition-util-v3","z":"e17c17b2.666958","name":"delete All classifiers","apikey":"eOtONFxVkxM4mj19gEXaY246J2fiFAaSLX8y9lokFWnz","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"deleteAllClassifiers","x":530,"y":200,"wires":[["f8c0e260.da376"]]},{"id":"3e8c9576.4f8e7a","type":"comment","z":"e17c17b2.666958","name":"Dropbox","info":"","x":1200,"y":440,"wires":[]},{"id":"ca09da1b.75e568","type":"switch","z":"e17c17b2.666958","name":"Key-switch","property":"$string(msg.payload)","propertyType":"jsonata","rules":[{"t":"cont","v":"key1","vt":"str"},{"t":"cont","v":"key2","vt":"str"},{"t":"else"}],"checkall":"false","outputs":3,"x":110,"y":1060,"wires":[[],[],[]]},{"id":"e05cebb6.c52b78","type":"inject","z":"e17c17b2.666958","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":340,"wires":[["128a17e.58cd0e8"]]},{"id":"128a17e.58cd0e8","type":"file in","z":"e17c17b2.666958","name":"4-dog","filename":"/home/pi/Downloads/4-dog.jpg","format":"","chunk":false,"sendError":true,"x":270,"y":340,"wires":[["a5600afc.b34e48"]]},{"id":"a5600afc.b34e48","type":"function","z":"e17c17b2.666958","name":"Classify","func":"msg.params={};\nmsg.params[\"owners\"]=\"me\";\nmsg.params[\"classifier_ids\"]=\"dogs_1784804271,default\";\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":340,"wires":[["bf9f8334.30cfb"]]},{"id":"bf9f8334.30cfb","type":"visual-recognition-v3","z":"e17c17b2.666958","name":"","apikey":"__PWRD__","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"classifyImage","lang":"en","x":610,"y":340,"wires":[["10972c1b.0415d4","f1d9a147.ff97b"]]},{"id":"10972c1b.0415d4","type":"function","z":"e17c17b2.666958","name":"Result","func":"if(msg.result.images[0].classifiers[0]) {\nreturn  [   {payload:msg.result.images[0].classifiers[0].classifier_id},\n            {payload:msg.result.images[0].classifiers[0].classes[0].score * 100}\n        ]\n} else {\n    return  [   {payload:\"none\"},\n                {payload:0}\n            ]\n}","outputs":"2","noerr":0,"x":790,"y":340,"wires":[["3d58954f.20097a"],["527f6ef8.01b21"]]},{"id":"f1d9a147.ff97b","type":"debug","z":"e17c17b2.666958","name":"","active":true,"tosidebar":true,"console":false,"complete":"result","x":810,"y":400,"wires":[]},{"id":"3d58954f.20097a","type":"ui_text","z":"e17c17b2.666958","group":"14dc7699.94aed9","order":2,"width":0,"height":0,"name":"","label":"Class","format":"{{msg.payload}}","layout":"row-spread","x":950,"y":300,"wires":[]},{"id":"527f6ef8.01b21","type":"ui_gauge","z":"e17c17b2.666958","name":"Confidence","group":"14dc7699.94aed9","order":3,"width":0,"height":0,"gtype":"donut","title":"Confidence","label":"%","format":"{{value  | number:2}}%","min":0,"max":"100","colors":["#ff0000","#ffff00","#00f000"],"x":970,"y":360,"wires":[]},{"id":"d191aa43.144608","type":"comment","z":"e17c17b2.666958","name":"Test classifier","info":"","x":90,"y":300,"wires":[]},{"id":"7fab3db3.b31724","type":"comment","z":"e17c17b2.666958","name":"Train first classifier","info":"","x":110,"y":460,"wires":[]},{"id":"f1a71725.e05a78","type":"inject","z":"e17c17b2.666958","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":520,"wires":[["214c35e6.bd7cda"]]},{"id":"214c35e6.bd7cda","type":"function","z":"e17c17b2.666958","name":"dogs training","func":"msg.params={'name':'dogs'};\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":520,"wires":[["529cfc3a.fb1264"]]},{"id":"529cfc3a.fb1264","type":"file in","z":"e17c17b2.666958","name":"positive","filename":"/home/pi/Downloads/beagle.zip","format":"","chunk":false,"sendError":true,"x":440,"y":520,"wires":[["8fa2cd3a.4d366"]]},{"id":"8fa2cd3a.4d366","type":"change","z":"e17c17b2.666958","name":"beagle","rules":[{"t":"set","p":"params.beagle_positive_examples","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":520,"wires":[["78bb1dd3.f1f4b4"]]},{"id":"78bb1dd3.f1f4b4","type":"file in","z":"e17c17b2.666958","name":"positive","filename":"/home/pi/Downloads/husky.zip","format":"","chunk":false,"sendError":true,"x":440,"y":560,"wires":[["f102ac17.a8c8f"]]},{"id":"f102ac17.a8c8f","type":"change","z":"e17c17b2.666958","name":"husky","rules":[{"t":"set","p":"params.husky_positive_examples","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":560,"wires":[["a04faf2e.045f4"]]},{"id":"a04faf2e.045f4","type":"file in","z":"e17c17b2.666958","name":"positive","filename":"/home/pi/Downloads/golden-retriever.zip","format":"","chunk":false,"sendError":true,"x":440,"y":600,"wires":[["1e98c4a2.80316b"]]},{"id":"1e98c4a2.80316b","type":"change","z":"e17c17b2.666958","name":"goldenretriever","rules":[{"t":"set","p":"params.goldenretriever_positive_examples","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":600,"wires":[["e3df3cb3.346ad"]]},{"id":"e3df3cb3.346ad","type":"file in","z":"e17c17b2.666958","name":"negative","filename":"/home/pi/Downloads/cats.zip","format":"","chunk":false,"sendError":true,"x":440,"y":640,"wires":[["28c356bf.cc97aa"]]},{"id":"28c356bf.cc97aa","type":"change","z":"e17c17b2.666958","name":"cats","rules":[{"t":"set","p":"params.negative_examples","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":640,"wires":[["6514da3e.63c344"]]},{"id":"6514da3e.63c344","type":"visual-recognition-util-v3","z":"e17c17b2.666958","name":"create dogs classifier","apikey":"__PWRD__","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"createClassifier","x":560,"y":700,"wires":[["8d17256.f4e19d8"]]},{"id":"8d17256.f4e19d8","type":"debug","z":"e17c17b2.666958","name":"Classifier","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"result","x":760,"y":700,"wires":[]},{"id":"a648effa.0ad7c","type":"comment","z":"e17c17b2.666958","name":"Enhance classifier","info":"","x":110,"y":760,"wires":[]},{"id":"738ca0e9.6c9b9","type":"inject","z":"e17c17b2.666958","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":820,"wires":[["a6379e6c.e371"]]},{"id":"a6379e6c.e371","type":"function","z":"e17c17b2.666958","name":"dogs training","func":"msg.params={'name':'dogs'};\nmsg.params[\"owners\"]=\"me\";\nmsg.params[\"classifier_id\"]=\"dogs_1784804271\";\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":820,"wires":[["8254dcda.94d5c"]]},{"id":"8254dcda.94d5c","type":"file in","z":"e17c17b2.666958","name":"positive","filename":"/home/pi/Downloads/dalmatian.zip","format":"","chunk":false,"sendError":true,"x":440,"y":820,"wires":[["b91acc3e.b33ea"]]},{"id":"b91acc3e.b33ea","type":"change","z":"e17c17b2.666958","name":"dalmatian","rules":[{"t":"set","p":"params.dalmatian_positive_examples","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":820,"wires":[["3c55cdf0.18c4c2"]]},{"id":"3c55cdf0.18c4c2","type":"file in","z":"e17c17b2.666958","name":"negative","filename":"/home/pi/Downloads/more-cats.zip","format":"","chunk":false,"sendError":true,"x":440,"y":860,"wires":[["f326831c.055fe"]]},{"id":"f326831c.055fe","type":"change","z":"e17c17b2.666958","name":"more-cats","rules":[{"t":"set","p":"params.negative_examples","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":860,"wires":[["19a5436a.bd277d"]]},{"id":"19a5436a.bd277d","type":"visual-recognition-util-v3","z":"e17c17b2.666958","name":"update dogs classifier","apikey":"","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"updateClassifier","x":560,"y":920,"wires":[["6f499a83.a64204"]]},{"id":"6f499a83.a64204","type":"debug","z":"e17c17b2.666958","name":"Classifier","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"result","x":760,"y":920,"wires":[]},{"id":"14dc7699.94aed9","type":"ui_group","z":"","name":"Classifier Info","tab":"1d0c5e1d.fdcea2","order":2,"disp":true,"width":"6"},{"id":"1d0c5e1d.fdcea2","type":"ui_tab","z":"","name":"Faces","icon":"dashboard","order":4}]