TjBot-Other/TjBot-Test/MotionTraining.json
[{"id":"995c9615.a38348","type":"comment","z":"d4bd76d9.cccd88","name":"Motion Training - Demo Flow","info":"","x":160,"y":40,"wires":[]},{"id":"29baaa5e.b53f66","type":"rpi-sensehat in","z":"d4bd76d9.cccd88","name":"Motions","motion":true,"env":false,"stick":false,"x":90,"y":500,"wires":[["a3fb6f23.dc28e"]]},{"id":"21dcf3a0.06f3ec","type":"function","z":"d4bd76d9.cccd88","name":"Store Motions","func":"// Get Motion Array\nvar motion = flow.get('motions') || [];\nvar acceleration = flow.get('acceleration') || [];\nvar qyroscope = flow.get('qyroscope') || [];\nvar orientation = flow.get('orientation') || [];\nvar compass = flow.get('compass') || [];\n\n// Push and store values\nmotion.push(msg.payload);\nacceleration.push(msg.payload.acceleration);\nqyroscope.push(msg.payload.qyroscope);\norientation.push(msg.payload.orientation);\ncompass.push(msg.payload.compass);\n\n// Store Environment\nflow.set('motions',motion);\nflow.set('acceleration', acceleration);\nflow.set('qyroscope', qyroscope);\nflow.set('orientation', orientation);\nflow.set('compass',compass);\nflow.set('recorded', true);\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":480,"wires":[[]]},{"id":"ff12ce48.43077","type":"debug","z":"d4bd76d9.cccd88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":850,"y":480,"wires":[]},{"id":"2490c5d1.cc428a","type":"ui_button","z":"d4bd76d9.cccd88","name":"Start","group":"e1834bbc.b00e88","order":2,"width":0,"height":0,"passthru":true,"label":"Start Monitoring","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":290,"y":260,"wires":[["c3929589.040058","70c3f0.a2863c1"]]},{"id":"e61cd3fe.3ce6a","type":"ui_button","z":"d4bd76d9.cccd88","name":"Stop","group":"e1834bbc.b00e88","order":3,"width":0,"height":0,"passthru":true,"label":"Stop Monitoring","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":290,"y":160,"wires":[["c3929589.040058"]]},{"id":"524f6161.41a09","type":"ui_text","z":"d4bd76d9.cccd88","group":"e1834bbc.b00e88","order":4,"width":0,"height":0,"name":"","label":"Motion Detection","format":"{{msg.payload}}","layout":"row-spread","x":850,"y":200,"wires":[]},{"id":"6770d097.07f4f","type":"template","z":"d4bd76d9.cccd88","name":"Set Message","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Is running: {{payload}} !","output":"str","x":650,"y":200,"wires":[["524f6161.41a09"]]},{"id":"c3929589.040058","type":"change","z":"d4bd76d9.cccd88","name":"Set Motion","rules":[{"t":"set","p":"store","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":200,"wires":[["6770d097.07f4f"]]},{"id":"d1661230.993bb","type":"inject","z":"d4bd76d9.cccd88","name":"Init","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":100,"wires":[["6c3967d7.ffab28","e61cd3fe.3ce6a"]]},{"id":"a3fb6f23.dc28e","type":"switch","z":"d4bd76d9.cccd88","name":"Store ?","property":"store","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":260,"y":500,"wires":[["21dcf3a0.06f3ec"],["370837b0.b4e6f8"]]},{"id":"370837b0.b4e6f8","type":"switch","z":"d4bd76d9.cccd88","name":"Recorded ?","property":"recorded","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":450,"y":540,"wires":[["30285948.370226"]]},{"id":"30285948.370226","type":"change","z":"d4bd76d9.cccd88","name":"","rules":[{"t":"set","p":"recorded","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"motions","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":540,"wires":[["ff12ce48.43077","e0b90815.2217a8","db823865.249608"]]},{"id":"c9620ee8.ad9ec","type":"file","z":"d4bd76d9.cccd88","name":"Motions FileWrite","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"true","x":390,"y":660,"wires":[]},{"id":"c0ab15c7.b84248","type":"ui_text","z":"d4bd76d9.cccd88","group":"e1834bbc.b00e88","order":5,"width":0,"height":0,"name":"","label":"Recoded elements:","format":"{{msg.payload}}","layout":"row-spread","x":410,"y":340,"wires":[]},{"id":"70c3f0.a2863c1","type":"change","z":"d4bd76d9.cccd88","name":"None","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"recorded","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":260,"wires":[["ad923de.c84dcc"]]},{"id":"1e60d875.96b668","type":"link in","z":"d4bd76d9.cccd88","name":"Store ","links":["e0b90815.2217a8"],"x":55,"y":660,"wires":[["b2642307.d807f"]]},{"id":"e0b90815.2217a8","type":"link out","z":"d4bd76d9.cccd88","name":"Jump Store","links":["1e60d875.96b668"],"x":815,"y":540,"wires":[]},{"id":"b2642307.d807f","type":"function","z":"d4bd76d9.cccd88","name":"Store File","func":"var now = new Date();  // the current datetime as a Date object\nvar iso = now.toISOString();  // converted to YYYY-MM-DDThh:mm:ss.dddZ format\nvar utc = iso.replace(/^(.*)T(.*)Z$/, \"$1 $2\");  // with the 'T' and 'Z' removed\nvar figure = flow.get('figure');\n\nmsg.filename = 'Motions ' + figure + ' ' + utc + '.json';\n\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":660,"wires":[["c9620ee8.ad9ec","a908ab34.4e5438"]]},{"id":"47e3a7ed.e902e8","type":"ui_dropdown","z":"d4bd76d9.cccd88","name":"","label":"Figure","place":"Select option","group":"e1834bbc.b00e88","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"X","value":"X","type":"str"},{"label":"Horicontal Line","value":"HL","type":"str"},{"label":"Vertrical Line","value":"VL","type":"str"}],"payload":"","topic":"","x":490,"y":100,"wires":[["62a890fd.f63f4"]]},{"id":"62a890fd.f63f4","type":"change","z":"d4bd76d9.cccd88","name":"Set Figure","rules":[{"t":"set","p":"figure","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":100,"wires":[["ce8b6802.011788"]]},{"id":"6c3967d7.ffab28","type":"function","z":"d4bd76d9.cccd88","name":"Init Environment","func":"// Set defaults\nflow.set('store',false);\nflow.set('recorded', false);\nflow.set('motions',[]);\nflow.set('acceleration',[]);\nflow.set('qyroscope', []);\nflow.set('orientation', []);\nflow.set('compass',[]);\n\n// Set Figure to default\nmsg.payload = 'X';\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":100,"wires":[["47e3a7ed.e902e8"]]},{"id":"ced2b0e2.b31d5","type":"comment","z":"d4bd76d9.cccd88","name":"Handle Motions","info":"","x":120,"y":440,"wires":[]},{"id":"ae33ae98.05699","type":"comment","z":"d4bd76d9.cccd88","name":"Store training","info":"","x":110,"y":600,"wires":[]},{"id":"bc61478f.c6cf98","type":"link in","z":"d4bd76d9.cccd88","name":"Show recorded Elements","links":["ad923de.c84dcc","ce8b6802.011788","161f1222.2e839e"],"x":255,"y":340,"wires":[["c0ab15c7.b84248"]]},{"id":"ad923de.c84dcc","type":"link out","z":"d4bd76d9.cccd88","name":"Jump show","links":["bc61478f.c6cf98"],"x":555,"y":260,"wires":[]},{"id":"ce8b6802.011788","type":"link out","z":"d4bd76d9.cccd88","name":"Jump show","links":["bc61478f.c6cf98"],"x":775,"y":100,"wires":[]},{"id":"db823865.249608","type":"change","z":"d4bd76d9.cccd88","name":"Set length","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.length","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":600,"wires":[["161f1222.2e839e"]]},{"id":"161f1222.2e839e","type":"link out","z":"d4bd76d9.cccd88","name":"Jump show","links":["bc61478f.c6cf98"],"x":955,"y":600,"wires":[]},{"id":"a908ab34.4e5438","type":"function","z":"d4bd76d9.cccd88","name":"Reset Arrays","func":"flow.set('motions',[]);\nflow.set('acceleration',[]);\nflow.set('qyroscope', []);\nflow.set('orientation', []);\nflow.set('compass',[]);\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":720,"wires":[[]]},{"id":"e1834bbc.b00e88","type":"ui_group","z":"","name":"Motion Training","tab":"6d8e56e9.a3aa98","order":3,"disp":true,"width":"6","collapse":false},{"id":"6d8e56e9.a3aa98","type":"ui_tab","z":"","name":"Training Motions","icon":"dashboard","order":3}]