TjBot-Other/TjBot-Test/SenseHAT.json
[{"id":"149cc5c3.a7a25a","type":"rpi-sensehat in","z":"82a3e728.1dfbc8","name":"","motion":true,"env":true,"stick":true,"x":107,"y":102,"wires":[["1331b650.2b8e6a"]]},{"id":"7f13f53b.b022ac","type":"debug","z":"82a3e728.1dfbc8","name":"","active":true,"console":"false","complete":"true","x":850,"y":100,"wires":[]},{"id":"78a0a6e4.1911e8","type":"rpi-sensehat out","z":"82a3e728.1dfbc8","name":"","x":1051,"y":209,"wires":[]},{"id":"84f05702.3378a8","type":"inject","z":"82a3e728.1dfbc8","name":"","topic":"","payload":"this is a test","payloadType":"str","repeat":"","crontab":"","once":false,"x":559,"y":187,"wires":[["1710a97d.b56ed7"]]},{"id":"1710a97d.b56ed7","type":"change","z":"82a3e728.1dfbc8","name":"","rules":[{"t":"set","p":"color","pt":"msg","to":"blue","tot":"str"},{"t":"set","p":"speed","pt":"msg","to":"5","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":836,"y":209,"wires":[["78a0a6e4.1911e8"]]},{"id":"32fad2d0.53d98e","type":"inject","z":"82a3e728.1dfbc8","name":"","topic":"Red","payload":"0,0,red,0,7,#00ff00,7,7,yellow,7,0,0,0,255","payloadType":"str","repeat":"","crontab":"","once":false,"x":581,"y":248,"wires":[["1710a97d.b56ed7"]]},{"id":"1331b650.2b8e6a","type":"switch","z":"82a3e728.1dfbc8","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"environment","vt":"str"}],"checkall":"true","outputs":1,"x":282,"y":102,"wires":[["4fca1fa3.29f7f"]]},{"id":"f712f843.eabca8","type":"rbe","z":"82a3e728.1dfbc8","name":"","func":"deadband","gap":"2","start":"","inout":"in","x":671,"y":102,"wires":[["7f13f53b.b022ac","1710a97d.b56ed7"]]},{"id":"4fca1fa3.29f7f","type":"change","z":"82a3e728.1dfbc8","name":"","rules":[{"t":"set","p":"backup","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":474,"y":102,"wires":[["f712f843.eabca8"]]},{"id":"64702173.a960c","type":"inject","z":"82a3e728.1dfbc8","name":"","topic":"","payload":"surprised","payloadType":"str","repeat":"","crontab":"","once":false,"x":120,"y":397,"wires":[["5715b519.80902c"]]},{"id":"391e1b23.f9aa94","type":"rpi-sensehat out","z":"82a3e728.1dfbc8","name":"","x":507,"y":452,"wires":[]},{"id":"f1ddad2f.0ca77","type":"debug","z":"82a3e728.1dfbc8","name":"","active":true,"console":"false","complete":"false","x":508,"y":384,"wires":[]},{"id":"5715b519.80902c","type":"function","z":"82a3e728.1dfbc8","name":"Smilys","func":"var smily = [ \n\"o\",\"o\",\"o\",\"e\",\"e\",\"o\",\"o\",\"o\",\n\"w\",\"w\",\"w\",\"e\",\"e\",\"w\",\"w\",\"w\",\n\"w\",\"b\",\"w\",\"e\",\"e\",\"w\",\"b\",\"w\",\n\"w\",\"w\",\"w\",\"e\",\"e\",\"w\",\"w\",\"w\",\n\"e\",\"e\",\"e\",\"y\",\"y\",\"e\",\"e\",\"e\",\n\"r\",\"e\",\"e\",\"e\",\"e\",\"e\",\"e\",\"r\",\n\"e\",\"r\",\"r\",\"r\",\"r\",\"r\",\"r\",\"e\",\n\"e\",\"e\",\"e\",\"r\",\"r\",\"e\",\"e\",\"e\"\n];\n\nvar frusty = [ \n\"o\",\"o\",\"o\",\"e\",\"e\",\"o\",\"o\",\"o\",\n\"w\",\"w\",\"w\",\"e\",\"e\",\"w\",\"w\",\"w\",\n\"w\",\"b\",\"w\",\"e\",\"e\",\"w\",\"b\",\"w\",\n\"w\",\"w\",\"w\",\"e\",\"e\",\"w\",\"w\",\"w\",\n\"e\",\"e\",\"e\",\"y\",\"y\",\"e\",\"e\",\"e\",\n\"e\",\"e\",\"e\",\"e\",\"e\",\"e\",\"e\",\"e\",\n\"e\",\"r\",\"r\",\"r\",\"r\",\"r\",\"r\",\"e\",\n\"r\",\"r\",\"e\",\"e\",\"e\",\"e\",\"r\",\"r\"\n];\n\nvar surprised = [ \n\"o\",\"o\",\"o\",\"e\",\"e\",\"o\",\"o\",\"o\",\n\"w\",\"w\",\"w\",\"e\",\"e\",\"w\",\"w\",\"w\",\n\"w\",\"b\",\"w\",\"e\",\"e\",\"w\",\"b\",\"w\",\n\"w\",\"w\",\"w\",\"e\",\"e\",\"w\",\"w\",\"w\",\n\"e\",\"e\",\"e\",\"y\",\"y\",\"e\",\"e\",\"e\",\n\"e\",\"e\",\"r\",\"r\",\"r\",\"r\",\"e\",\"e\",\n\"e\",\"e\",\"r\",\"e\",\"e\",\"r\",\"e\",\"e\",\n\"e\",\"e\",\"r\",\"r\",\"r\",\"r\",\"e\",\"e\"\n];\n\nvar nutreal = [ \n\"o\",\"o\",\"o\",\"e\",\"e\",\"o\",\"o\",\"o\",\n\"w\",\"w\",\"w\",\"e\",\"e\",\"w\",\"w\",\"w\",\n\"w\",\"b\",\"w\",\"e\",\"e\",\"w\",\"b\",\"w\",\n\"w\",\"w\",\"w\",\"e\",\"e\",\"w\",\"w\",\"w\",\n\"e\",\"e\",\"e\",\"y\",\"y\",\"e\",\"e\",\"e\",\n\"e\",\"e\",\"e\",\"e\",\"e\",\"e\",\"e\",\"e\",\n\"e\",\"r\",\"r\",\"r\",\"r\",\"r\",\"r\",\"e\",\n\"e\",\"e\",\"r\",\"r\",\"r\",\"r\",\"e\",\"e\"\n];\n\nswitch (msg.payload) {\n    case \"smily\":\n        var image = smily;\n        break;\n    case \"frusty\":\n        var image = frusty;\n        break;\n    case \"surprised\":\n        var image = surprised;\n        break;\n    default: \n        var image = nutreal;\n        break;\n}\n\nvar sImage = \"\";\nvar first = true;\nfor (var y = 0; y < 8; y++) {\n    for (var x = 0; x < 8; x++) {\n        if (first === true) {\n            // sImage = \"R180\\n\";\n            sImage = sImage + y + \",\" + x;\n            first = false;\n        } else {\n            sImage = sImage + \",\" + y + \",\" + x;\n        }\n        switch (image[y*8+x]) {\n            case \"r\":\n                sImage = sImage + \",red\";\n                break;\n            case \"g\":\n                sImage = sImage + \",green\";\n                break;\n            case \"b\":\n                sImage = sImage + \",blue\";\n                break;\n            case \"y\":\n                sImage = sImage + \",yellow\";\n                break;\n            case \"o\":\n                sImage = sImage + \",210,105,30\";\n                break;\n            case \"w\":\n                sImage = sImage + \",white\";\n                break;\n            default:\n                sImage = sImage + \",off\";\n                break;\n        }    \n    }\n}\n\nmsg.payload = sImage;\nmsg.speed = 5;\n\nreturn msg;","outputs":1,"noerr":0,"x":321,"y":453,"wires":[["f1ddad2f.0ca77","391e1b23.f9aa94"]]},{"id":"9656eb91.96dab8","type":"inject","z":"82a3e728.1dfbc8","name":"","topic":"","payload":"smily","payloadType":"str","repeat":"","crontab":"","once":false,"x":129,"y":437,"wires":[["5715b519.80902c"]]},{"id":"84cd8380.35179","type":"inject","z":"82a3e728.1dfbc8","name":"","topic":"","payload":"frusty","payloadType":"str","repeat":"","crontab":"","once":false,"x":128,"y":477,"wires":[["5715b519.80902c"]]},{"id":"66cc0571.15129c","type":"inject","z":"82a3e728.1dfbc8","name":"","topic":"","payload":"nutreal","payloadType":"str","repeat":"","crontab":"","once":false,"x":129,"y":517,"wires":[["5715b519.80902c"]]}]