TjBot-FH-Education/Cloud-Flows/Tab1-Receive.json
[
    {
        "id": "b6cef2dc.e754d",
        "type": "tab",
        "label": "Education",
        "disabled": false,
        "info": ""
    },
    {
        "id": "443097f6.5ed6b8",
        "type": "ibmiot in",
        "z": "b6cef2dc.e754d",
        "authentication": "boundService",
        "apiKey": "",
        "inputType": "evt",
        "logicalInterface": "",
        "ruleId": "",
        "deviceId": "",
        "applicationId": "",
        "deviceType": "+",
        "eventType": "environment",
        "commandType": "",
        "format": "json",
        "name": "IBM IoT Environment",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": true,
        "allLogicalInterfaces": "",
        "allEvents": false,
        "allCommands": "",
        "allFormats": "",
        "qos": 0,
        "x": 180,
        "y": 140,
        "wires": [
            [
                "b3220418.74cad8",
                "9e7f6a21.0504b8"
            ]
        ]
    },
    {
        "id": "d96d3487.928998",
        "type": "comment",
        "z": "b6cef2dc.e754d",
        "name": "Education",
        "info": "",
        "x": 80,
        "y": 40,
        "wires": []
    },
    {
        "id": "b3220418.74cad8",
        "type": "debug",
        "z": "b6cef2dc.e754d",
        "name": "Environment",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 430,
        "y": 100,
        "wires": []
    },
    {
        "id": "9e7f6a21.0504b8",
        "type": "cloudant out",
        "z": "b6cef2dc.e754d",
        "name": "",
        "cloudant": "",
        "database": "environment",
        "service": "TjBot-IoTController-oh-cloudantNoSQLDB",
        "payonly": false,
        "operation": "insert",
        "x": 430,
        "y": 140,
        "wires": []
    },
    {
        "id": "76a16204.30f70c",
        "type": "ibmiot in",
        "z": "b6cef2dc.e754d",
        "authentication": "boundService",
        "apiKey": "",
        "inputType": "evt",
        "logicalInterface": "",
        "ruleId": "",
        "deviceId": "",
        "applicationId": "",
        "deviceType": "+",
        "eventType": "motions",
        "commandType": "",
        "format": "json",
        "name": "IBM IoT Motions",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": true,
        "allLogicalInterfaces": "",
        "allEvents": false,
        "allCommands": "",
        "allFormats": "",
        "qos": 0,
        "x": 160,
        "y": 280,
        "wires": [
            [
                "115026f7.2dc629",
                "991e33fa.331f5"
            ]
        ]
    },
    {
        "id": "115026f7.2dc629",
        "type": "debug",
        "z": "b6cef2dc.e754d",
        "name": "Motion",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 410,
        "y": 240,
        "wires": []
    },
    {
        "id": "991e33fa.331f5",
        "type": "cloudant out",
        "z": "b6cef2dc.e754d",
        "name": "",
        "cloudant": "",
        "database": "motions",
        "service": "TjBot-IoTController-oh-cloudantNoSQLDB",
        "payonly": false,
        "operation": "insert",
        "x": 420,
        "y": 280,
        "wires": []
    },
    {
        "id": "9b9c18bd.c8dfd8",
        "type": "ibmiot in",
        "z": "b6cef2dc.e754d",
        "authentication": "boundService",
        "apiKey": "",
        "inputType": "evt",
        "logicalInterface": "",
        "ruleId": "",
        "deviceId": "",
        "applicationId": "",
        "deviceType": "+",
        "eventType": "image",
        "commandType": "",
        "format": "json",
        "name": "IBM IoT Images",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": true,
        "allLogicalInterfaces": "",
        "allEvents": false,
        "allCommands": "",
        "allFormats": "",
        "qos": 0,
        "x": 160,
        "y": 380,
        "wires": [
            [
                "845730d3.a1711",
                "9aac933c.188db"
            ]
        ]
    },
    {
        "id": "845730d3.a1711",
        "type": "cloudant out",
        "z": "b6cef2dc.e754d",
        "name": "",
        "cloudant": "",
        "database": "images",
        "service": "TjBot-IoTController-oh-cloudantNoSQLDB",
        "payonly": false,
        "operation": "insert",
        "x": 420,
        "y": 380,
        "wires": []
    },
    {
        "id": "9aac933c.188db",
        "type": "debug",
        "z": "b6cef2dc.e754d",
        "name": "Image",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 410,
        "y": 340,
        "wires": []
    }
]