TjBot-Base/Tab4-Image.json
[
    {
        "id": "98604ae7.426328",
        "type": "tab",
        "label": "Image",
        "disabled": false,
        "info": ""
    },
    {
        "id": "828d0ff1.3e534",
        "type": "comment",
        "z": "98604ae7.426328",
        "name": "Take Photo - Demo Flow",
        "info": "",
        "x": 130,
        "y": 60,
        "wires": []
    },
    {
        "id": "95229a0.32c8168",
        "type": "camerapi-takephoto",
        "z": "98604ae7.426328",
        "filemode": "0",
        "filename": "",
        "filedefpath": "1",
        "filepath": "",
        "fileformat": "jpeg",
        "resolution": "2",
        "rotation": "180",
        "fliph": "0",
        "flipv": "0",
        "brightness": "50",
        "contrast": "0",
        "sharpness": "0",
        "quality": "80",
        "imageeffect": "none",
        "exposuremode": "auto",
        "iso": "0",
        "agcwait": "0.3",
        "led": "1",
        "awb": "cloudy",
        "name": "Take It",
        "x": 270,
        "y": 140,
        "wires": [
            [
                "ca6189ab.57c858",
                "4cc6ea54.187e84",
                "aa46e0a3.630ea"
            ]
        ]
    },
    {
        "id": "16a2bb3b.e50eb5",
        "type": "inject",
        "z": "98604ae7.426328",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 160,
        "wires": [
            [
                "95229a0.32c8168"
            ]
        ]
    },
    {
        "id": "ca6189ab.57c858",
        "type": "debug",
        "z": "98604ae7.426328",
        "name": "TakePhoto",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 450,
        "y": 100,
        "wires": []
    },
    {
        "id": "5f051108.2d967",
        "type": "ui_template",
        "z": "98604ae7.426328",
        "group": "7c21d1ff.573c5",
        "name": "Show Pic",
        "order": 2,
        "width": 0,
        "height": 0,
        "format": "<div layout=\"row\" layout-align=\"space-between\">\n    <img src=\"data:image/jpg;base64,{{msg.payload}}\"\n        width='290' \n        height='220' \n        id='img'\n        alt=' Getting Image'\n    >\n</div>",
        "storeOutMessages": false,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 640,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "3a716b5e.f10134",
        "type": "ui_button",
        "z": "98604ae7.426328",
        "name": "",
        "group": "7c21d1ff.573c5",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Take Picture",
        "color": "",
        "bgcolor": "",
        "icon": "fa-photo",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 110,
        "y": 120,
        "wires": [
            [
                "95229a0.32c8168"
            ]
        ]
    },
    {
        "id": "4cc6ea54.187e84",
        "type": "base64",
        "z": "98604ae7.426328",
        "name": "convert base64",
        "action": "",
        "property": "payload",
        "x": 460,
        "y": 140,
        "wires": [
            [
                "5f051108.2d967"
            ]
        ]
    },
    {
        "id": "b1aeed8e.8100a",
        "type": "inject",
        "z": "98604ae7.426328",
        "name": "Default",
        "topic": "",
        "payload": "/home/pi/Pictures/",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 120,
        "y": 340,
        "wires": [
            [
                "9de000c1.7313"
            ]
        ]
    },
    {
        "id": "9de000c1.7313",
        "type": "ui_dropdown",
        "z": "98604ae7.426328",
        "name": "",
        "label": "Path",
        "place": "Select option",
        "group": "3eac0ab4.0c8ee6",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "options": [
            {
                "label": "/Pictures/",
                "value": "/home/pi/Pictures/",
                "type": "str"
            },
            {
                "label": "/",
                "value": "/home/pi/",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 250,
        "y": 340,
        "wires": [
            [
                "44f346d2.3687e8"
            ]
        ]
    },
    {
        "id": "44f346d2.3687e8",
        "type": "function",
        "z": "98604ae7.426328",
        "name": "Set LS",
        "func": "flow.set (\"lspath\", msg.payload);\nflow.set (\"lsobj\", \"\");\n\nmsg.payload = \" -m \" + msg.payload + \"*.jpg\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 340,
        "wires": [
            [
                "e5006478.419d78"
            ]
        ]
    },
    {
        "id": "e5006478.419d78",
        "type": "exec",
        "z": "98604ae7.426328",
        "command": "ls",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 510,
        "y": 340,
        "wires": [
            [
                "516617e1.d964f8"
            ],
            [],
            []
        ]
    },
    {
        "id": "516617e1.d964f8",
        "type": "function",
        "z": "98604ae7.426328",
        "name": "Parse",
        "func": "var i;\nvar str = msg.payload;\nvar path = flow.get(\"lspath\");\nvar list = msg.payload.replace(/\\n|\\r/g, \"\");\nlist = list.split(\",\");\n\nfor (i in list) {\n    list[i] = list[i].replace(path,\"\").trim();\n    console.log(str);\n}\n\nmsg.options = list;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 340,
        "wires": [
            [
                "6140efaa.ec4b3"
            ]
        ]
    },
    {
        "id": "6140efaa.ec4b3",
        "type": "ui_dropdown",
        "z": "98604ae7.426328",
        "name": "",
        "label": "Files",
        "place": "Select option",
        "group": "3eac0ab4.0c8ee6",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 790,
        "y": 340,
        "wires": [
            [
                "2c0b4e39.2f51a2"
            ]
        ]
    },
    {
        "id": "2c0b4e39.2f51a2",
        "type": "function",
        "z": "98604ae7.426328",
        "name": "Filename",
        "func": "msg.filename = flow.get(\"lspath\") + msg.payload;\nflow.set(\"lsobj\", msg.filename);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 280,
        "y": 400,
        "wires": [
            [
                "9c5e09a2.8ebf28"
            ]
        ]
    },
    {
        "id": "9c5e09a2.8ebf28",
        "type": "file in",
        "z": "98604ae7.426328",
        "name": "Load Pic",
        "filename": "",
        "format": "",
        "chunk": false,
        "sendError": false,
        "x": 420,
        "y": 400,
        "wires": [
            [
                "6ff2dbbf.df9574",
                "2ad1d52a.ac5b8a"
            ]
        ]
    },
    {
        "id": "6ff2dbbf.df9574",
        "type": "base64",
        "z": "98604ae7.426328",
        "name": " base64",
        "action": "",
        "property": "payload",
        "x": 580,
        "y": 400,
        "wires": [
            [
                "e2aa4e22.2b219"
            ]
        ]
    },
    {
        "id": "e2aa4e22.2b219",
        "type": "ui_template",
        "z": "98604ae7.426328",
        "group": "3eac0ab4.0c8ee6",
        "name": "Show Pic",
        "order": 3,
        "width": 0,
        "height": 0,
        "format": "<div layout=\"row\" layout-align=\"space-between\">\n    <img src=\"data:image/jpg;base64,{{msg.payload}}\"\n        width='290' \n        height='220' \n        id='img'\n        alt=' Getting Image'\n    >\n</div>",
        "storeOutMessages": false,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 740,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "36a1f978.bbb2f6",
        "type": "comment",
        "z": "98604ae7.426328",
        "name": "Load Photo from Disk",
        "info": "",
        "x": 120,
        "y": 280,
        "wires": []
    },
    {
        "id": "9cd83a92.0af758",
        "type": "camera",
        "z": "98604ae7.426328",
        "name": "",
        "x": 270,
        "y": 200,
        "wires": [
            [
                "4cc6ea54.187e84"
            ]
        ]
    },
    {
        "id": "119c2378.b9ceed",
        "type": "visual-recognition-v3",
        "z": "98604ae7.426328",
        "name": "Visual Recognition",
        "vr-service-endpoint": "https://gateway.watsonplatform.net/visual-recognition/api",
        "image-feature": "detectFaces",
        "lang": "en",
        "x": 210,
        "y": 560,
        "wires": [
            [
                "3d95d962.657666",
                "de7fe3e5.0da01",
                "6cbf2f1f.3e098",
                "77e43b8a.d177d4",
                "8a6f1d22.dd98e",
                "ec3a4223.75fa9"
            ]
        ]
    },
    {
        "id": "3d95d962.657666",
        "type": "debug",
        "z": "98604ae7.426328",
        "name": "VisRec",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 440,
        "y": 520,
        "wires": []
    },
    {
        "id": "de7fe3e5.0da01",
        "type": "ui_text",
        "z": "98604ae7.426328",
        "group": "7c21d1ff.573c5",
        "order": 3,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "Age Max:",
        "format": "{{msg.result.images[0].faces[0].age.max}}",
        "layout": "row-left",
        "x": 440,
        "y": 560,
        "wires": []
    },
    {
        "id": "6cbf2f1f.3e098",
        "type": "ui_text",
        "z": "98604ae7.426328",
        "group": "7c21d1ff.573c5",
        "order": 4,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "Age Min:",
        "format": "{{msg.result.images[0].faces[0].age.min}}",
        "layout": "row-left",
        "x": 440,
        "y": 600,
        "wires": []
    },
    {
        "id": "77e43b8a.d177d4",
        "type": "ui_text",
        "z": "98604ae7.426328",
        "group": "7c21d1ff.573c5",
        "order": 6,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "Gender",
        "format": "{{msg.result.images[0].faces[0].gender.gender}}",
        "layout": "row-spread",
        "x": 440,
        "y": 680,
        "wires": []
    },
    {
        "id": "8a6f1d22.dd98e",
        "type": "ui_text",
        "z": "98604ae7.426328",
        "group": "7c21d1ff.573c5",
        "order": 7,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "Gender Score",
        "format": "{{msg.result.images[0].faces[0].gender.score}}",
        "layout": "row-spread",
        "x": 460,
        "y": 720,
        "wires": []
    },
    {
        "id": "ec3a4223.75fa9",
        "type": "ui_text",
        "z": "98604ae7.426328",
        "group": "7c21d1ff.573c5",
        "order": 5,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Age Score:",
        "format": "{{msg.result.images[0].faces[0].age.score}}",
        "layout": "row-left",
        "x": 450,
        "y": 640,
        "wires": []
    },
    {
        "id": "6f2bfe13.8df8",
        "type": "comment",
        "z": "98604ae7.426328",
        "name": "Classify Foto",
        "info": "",
        "x": 90,
        "y": 480,
        "wires": []
    },
    {
        "id": "d111e2a4.2f2c2",
        "type": "link in",
        "z": "98604ae7.426328",
        "name": "VisRec",
        "links": [
            "2ad1d52a.ac5b8a",
            "aa46e0a3.630ea"
        ],
        "x": 55,
        "y": 560,
        "wires": [
            [
                "119c2378.b9ceed"
            ]
        ]
    },
    {
        "id": "2ad1d52a.ac5b8a",
        "type": "link out",
        "z": "98604ae7.426328",
        "name": "Jump VisRec",
        "links": [
            "d111e2a4.2f2c2"
        ],
        "x": 535,
        "y": 440,
        "wires": []
    },
    {
        "id": "aa46e0a3.630ea",
        "type": "link out",
        "z": "98604ae7.426328",
        "name": "Jump VisRec",
        "links": [
            "d111e2a4.2f2c2"
        ],
        "x": 395,
        "y": 180,
        "wires": []
    },
    {
        "id": "7c21d1ff.573c5",
        "type": "ui_group",
        "z": "",
        "name": "Take Photo",
        "tab": "4441480e.5522c8",
        "order": 2,
        "disp": true,
        "width": "6"
    },
    {
        "id": "3eac0ab4.0c8ee6",
        "type": "ui_group",
        "z": "",
        "name": "Local Image",
        "tab": "4441480e.5522c8",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "4441480e.5522c8",
        "type": "ui_tab",
        "z": "",
        "name": "Watson",
        "icon": "fa-bullhorn",
        "order": 2
    }
]