TjBot-Visual-Recog/Tab2-Classify Image.json
[{"id":"b04bf707.4d0858","type":"comment","z":"8e67a99e.076828","name":"Take Photo - Demo Flow","info":"","x":130,"y":160,"wires":[]},{"id":"3c2184d6.e11e0c","type":"camerapi-takephoto","z":"8e67a99e.076828","filemode":"0","filename":"","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"2","rotation":"180","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","quality":"80","imageeffect":"none","exposuremode":"auto","iso":"0","agcwait":"0.3","led":"1","awb":"cloudy","name":"Take It","x":270,"y":220,"wires":[["96f0c08.00ec74","cd1df394.23f78","b85d979f.3f0978"]]},{"id":"a89e192a.7a5018","type":"inject","z":"8e67a99e.076828","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":240,"wires":[["3c2184d6.e11e0c"]]},{"id":"96f0c08.00ec74","type":"debug","z":"8e67a99e.076828","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":470,"y":180,"wires":[]},{"id":"8d72343.3c42bc8","type":"ui_template","z":"8e67a99e.076828","group":"43ec0122.238e6","name":"Show Pic","order":0,"width":0,"height":0,"format":"<div layout=\"row\" layout-align=\"space-between\">\n    <img src=\"data:image/jpg;base64,{{msg.payload}}\"\n        width='290' \n        height='220' \n        id='img'\n        alt=' Getting Image'\n    >\n</div>","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":680,"y":220,"wires":[[]]},{"id":"2faaf6e6.04043a","type":"ui_button","z":"8e67a99e.076828","name":"","group":"43ec0122.238e6","order":0,"width":0,"height":0,"passthru":false,"label":"Take Picture","color":"","bgcolor":"","icon":"fa-photo","payload":"","payloadType":"str","topic":"","x":110,"y":200,"wires":[["3c2184d6.e11e0c"]]},{"id":"cd1df394.23f78","type":"base64","z":"8e67a99e.076828","name":"convert base64","action":"","property":"payload","x":500,"y":220,"wires":[["8d72343.3c42bc8"]]},{"id":"b114a03.70fed6","type":"inject","z":"8e67a99e.076828","name":"Default","topic":"","payload":"/home/pi/Pictures/","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":120,"y":400,"wires":[["cc71271.50fb2d8"]]},{"id":"cc71271.50fb2d8","type":"ui_dropdown","z":"8e67a99e.076828","name":"","label":"Path","place":"Select option","group":"12933f80.26ff81","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"/Pictures/","value":"/home/pi/Pictures/","type":"str"},{"label":"/","value":"/home/pi/","type":"str"}],"payload":"","topic":"","x":250,"y":400,"wires":[["11c6681c.c6e668"]]},{"id":"11c6681c.c6e668","type":"function","z":"8e67a99e.076828","name":"Set LS","func":"flow.set (\"lspath\", msg.payload);\nflow.set (\"lsobj\", \"\");\n\nmsg.payload = \" -m \" + msg.payload + \"*.jpg\";\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":400,"wires":[["660cafbb.4886c"]]},{"id":"660cafbb.4886c","type":"exec","z":"8e67a99e.076828","command":"ls","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":510,"y":400,"wires":[["f69d833e.65ea"],[],[]]},{"id":"f69d833e.65ea","type":"function","z":"8e67a99e.076828","name":"Parse","func":"var i;\nvar str = msg.payload;\nvar path = flow.get(\"lspath\");\nvar list = msg.payload.replace(/\\n|\\r/g, \"\");\nlist = list.split(\",\");\n\nfor (i in list) {\n    list[i] = list[i].replace(path,\"\").trim();\n    console.log(str);\n}\n\nmsg.options = list;\n\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":400,"wires":[["604f9abf.5df444"]]},{"id":"604f9abf.5df444","type":"ui_dropdown","z":"8e67a99e.076828","name":"","label":"Files","place":"Select option","group":"12933f80.26ff81","order":2,"width":0,"height":0,"passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":790,"y":400,"wires":[["a7b22a8f.e29508"]]},{"id":"a7b22a8f.e29508","type":"function","z":"8e67a99e.076828","name":"Filename","func":"msg.filename = flow.get(\"lspath\") + msg.payload;\nflow.set(\"lsobj\", msg.filename);\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":460,"wires":[["60d3922a.9087fc"]]},{"id":"60d3922a.9087fc","type":"file in","z":"8e67a99e.076828","name":"Load Pic","filename":"","format":"","chunk":false,"sendError":false,"x":420,"y":460,"wires":[["cdf1b84e.259b08","e0882442.c811e8"]]},{"id":"cdf1b84e.259b08","type":"base64","z":"8e67a99e.076828","name":" base64","action":"","property":"payload","x":560,"y":460,"wires":[["df7fecea.f8c12"]]},{"id":"df7fecea.f8c12","type":"ui_template","z":"8e67a99e.076828","group":"12933f80.26ff81","name":"Show Pic","order":3,"width":0,"height":0,"format":"<div layout=\"row\" layout-align=\"space-between\">\n    <img src=\"data:image/jpg;base64,{{msg.payload}}\"\n        width='290' \n        height='220' \n        id='img'\n        alt=' Getting Image'\n    >\n</div>","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":700,"y":460,"wires":[[]]},{"id":"45f8c212.b2516c","type":"comment","z":"8e67a99e.076828","name":"Load Photo ","info":"","x":90,"y":360,"wires":[]},{"id":"7a1db673.4ed908","type":"link in","z":"8e67a99e.076828","name":"Classify","links":["b85d979f.3f0978","e0882442.c811e8"],"x":75,"y":600,"wires":[["75d73915.56bf78","6a60225e.a39dec"]]},{"id":"b85d979f.3f0978","type":"link out","z":"8e67a99e.076828","name":"Jump Classify","links":["7a1db673.4ed908"],"x":435,"y":260,"wires":[]},{"id":"e0882442.c811e8","type":"link out","z":"8e67a99e.076828","name":"Jump Classify","links":["7a1db673.4ed908"],"x":515,"y":500,"wires":[]},{"id":"8ddce242.dd401","type":"comment","z":"8e67a99e.076828","name":"Get Classifier Infos ","info":"","x":110,"y":560,"wires":[]},{"id":"6a60225e.a39dec","type":"visual-recognition-v3","z":"8e67a99e.076828","name":"Faces","apikey":"Aku048bpY4H0ayVzY-EVd6EOKwMyh_gbzz85b35SMmal","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"detectFaces","lang":"en","x":330,"y":600,"wires":[["5d039811.dfeb68"]]},{"id":"5d039811.dfeb68","type":"debug","z":"8e67a99e.076828","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":550,"y":600,"wires":[]},{"id":"1b2022b1.dd726d","type":"visual-recognition-v3","z":"8e67a99e.076828","name":"Detect","apikey":"__PWRD__","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"classifyImage","lang":"en","x":330,"y":640,"wires":[["cbd7225d.77ef8"]]},{"id":"cbd7225d.77ef8","type":"debug","z":"8e67a99e.076828","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":550,"y":640,"wires":[]},{"id":"75d73915.56bf78","type":"function","z":"8e67a99e.076828","name":"","func":"var model = flow.get(\"model\");\nvar classifiers = flow.get(\"classifiers\");\nvar classifier;\nvar i;\n\nfor (i in classifiers) {\n    if (classifiers[i].name == model) {\n        classifier = classifiers[i].classifier_id;\n    }\n}\nmsg.params = {};\nmsg.params[\"classifier_ids\"] = classifier + \",Default\";\n\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":640,"wires":[["1b2022b1.dd726d"]]},{"id":"435e1e34.73796","type":"inject","z":"8e67a99e.076828","name":"Init","topic":"","payload":"oh","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":40,"wires":[["44a1d7e3.5b4698"]]},{"id":"44a1d7e3.5b4698","type":"visual-recognition-util-v3","z":"8e67a99e.076828","name":"retrieve classifiers list","apikey":"Aku048bpY4H0ayVzY-EVd6EOKwMyh_gbzz85b35SMmal","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"retrieveClassifiersList","x":300,"y":40,"wires":[["1cf55c30.6e5fc4"]]},{"id":"1cf55c30.6e5fc4","type":"function","z":"8e67a99e.076828","name":"Parse","func":"var i;\nvar arr = [];\nvar first = \"\";\n\nfor (i in msg.result.classifiers) {\n    arr.push(msg.result.classifiers[i].name); \n    if (first === \"\") {\n        first = msg.result.classifiers[i].name;\n    }\n}\n\nmsg.options = arr;\nmsg.payload = first;\n\nflow.set(\"classifiers\", msg.result.classifiers);\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":40,"wires":[["7d6860bb.6855d"]]},{"id":"7d6860bb.6855d","type":"ui_dropdown","z":"8e67a99e.076828","name":"","label":"Model","place":"Select option","group":"6396440d.db33cc","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":630,"y":40,"wires":[["1de6a285.dad5ed"]]},{"id":"1de6a285.dad5ed","type":"change","z":"8e67a99e.076828","name":"Model","rules":[{"t":"set","p":"model","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":40,"wires":[[]]},{"id":"43ec0122.238e6","type":"ui_group","z":"","name":"Get Picture","tab":"4485b2b3.23bb6c","order":2,"disp":true,"width":"6","collapse":false},{"id":"12933f80.26ff81","type":"ui_group","z":"","name":"Local Images","tab":"4485b2b3.23bb6c","order":3,"disp":true,"width":"6","collapse":false},{"id":"6396440d.db33cc","type":"ui_group","z":"","name":"Selection","tab":"4485b2b3.23bb6c","order":1,"disp":true,"width":"6","collapse":false},{"id":"4485b2b3.23bb6c","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1}]