TjBot-Visual-Recog/Tab4-Train-Fotos.json
[{"id":"fd5ecd67.98e3","type":"comment","z":"502f8c3b.acf664","name":"classifier work","info":"","x":110,"y":1580,"wires":[]},{"id":"d3550a.0898eaf8","type":"comment","z":"502f8c3b.acf664","name":"Take Photo Training - Demo Flow","info":"","x":150,"y":40,"wires":[]},{"id":"191ec85e.8abf38","type":"camerapi-takephoto","z":"502f8c3b.acf664","filemode":"0","filename":"","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"2","rotation":"180","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","quality":"80","imageeffect":"none","exposuremode":"auto","iso":"0","agcwait":"0.3","led":"1","awb":"cloudy","name":"Take It","x":290,"y":300,"wires":[["5fb9c107.faa23","50cf7e47.7cd04","3062e90.2ed6818"]]},{"id":"fb10c9cd.afebb8","type":"inject","z":"502f8c3b.acf664","name":"Take Foto","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":240,"wires":[["191ec85e.8abf38"]]},{"id":"5fb9c107.faa23","type":"debug","z":"502f8c3b.acf664","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":450,"y":240,"wires":[]},{"id":"1f9f9a78.e58216","type":"ui_template","z":"502f8c3b.acf664","group":"7bf6c49.b0a333c","name":"Show Pic","order":2,"width":0,"height":0,"format":"<div layout=\"row\" layout-align=\"space-between\">\n    <img src=\"data:image/jpg;base64,{{msg.payload}}\"\n        width='290' \n        height='220' \n        id='img'\n        alt=' Getting Image'\n    >\n</div>","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":660,"y":300,"wires":[[]]},{"id":"8f1ad561.5f2a48","type":"ui_button","z":"502f8c3b.acf664","name":"","group":"7bf6c49.b0a333c","order":3,"width":0,"height":0,"passthru":false,"label":"Take Picture","color":"","bgcolor":"","icon":"fa-photo","payload":"","payloadType":"str","topic":"","x":110,"y":300,"wires":[["191ec85e.8abf38"]]},{"id":"50cf7e47.7cd04","type":"base64","z":"502f8c3b.acf664","name":"convert base64","action":"","property":"payload","x":480,"y":300,"wires":[["1f9f9a78.e58216"]]},{"id":"4dedb9cc.e36048","type":"ui_dropdown","z":"502f8c3b.acf664","name":"","label":"Class","place":"Select option","group":"8ea1d0c9.8c697","order":2,"width":0,"height":0,"passthru":true,"options":[{"label":"Olaf Hahn","value":"oh","type":"str"}],"payload":"","topic":"","x":390,"y":100,"wires":[["8bc3b050.27858"]]},{"id":"d0bd2ab8.b6c568","type":"function","z":"502f8c3b.acf664","name":"Uniqe name","func":"var now = new Date();  // the current datetime as a Date object\nvar iso = now.toISOString();  // converted to YYYY-MM-DDThh:mm:ss.dddZ format\nvar utc = iso.replace(/^(.*)T(.*)Z$/, \"$1 $2\");  // with the 'T' and 'Z' removed\nvar obj = flow.get('class');\n\n// set objectname and filename\nmsg.filename = 'Picture ' + obj + ' ' + utc + '.jpg';\nmsg.objectname = msg.filename;\n\n// set bucket for the trainingset\nmsg.bucket = 'tjbot-pictures-' +  obj;\n\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":360,"wires":[["793b0d20.445a84"]]},{"id":"8bc3b050.27858","type":"change","z":"502f8c3b.acf664","name":"Set Class","rules":[{"t":"set","p":"class","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"not running","tot":"str"},{"t":"set","p":"directory","pt":"flow","to":"/home/pi","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":100,"wires":[["fb960b4a.1c1178","261f9b19.54feb4","bd70d9ec.8d3108"]]},{"id":"6db779d8.18c348","type":"inject","z":"502f8c3b.acf664","name":"Init","topic":"","payload":"oh","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":100,"wires":[["9f50a200.64e72"]]},{"id":"3062e90.2ed6818","type":"switch","z":"502f8c3b.acf664","name":"Class set ?","property":"class","propertyType":"flow","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":470,"y":360,"wires":[["d0bd2ab8.b6c568"]]},{"id":"a46f7b0d.ee40a8","type":"debug","z":"502f8c3b.acf664","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":950,"y":360,"wires":[]},{"id":"bdcec008.7eb37","type":"cos-qry","z":"502f8c3b.acf664","name":"Qry Buckets","list":"0","bucket":"oh-cos-bucket","maxkeys":50,"cosconfig":"957c3444.5c5c48","x":290,"y":1100,"wires":[["ed1155b6.f93c88"]]},{"id":"16827906.742f07","type":"inject","z":"502f8c3b.acf664","name":"Init","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":1100,"wires":[["bdcec008.7eb37"]]},{"id":"793b0d20.445a84","type":"cos-put","z":"502f8c3b.acf664","name":"Put Object","bucket":"xyz-test-bucket","create":"1","objectname":"Test","mode":"1","filepath":"","filename":"","contentType":"image/jpeg","geturl":true,"cosconfig":"957c3444.5c5c48","x":790,"y":360,"wires":[["a46f7b0d.ee40a8"]]},{"id":"1a9fd860.947568","type":"cos-qry","z":"502f8c3b.acf664","name":"Qry Objects","list":"1","bucket":"oh-cos-bucket","maxkeys":50,"cosconfig":"957c3444.5c5c48","x":470,"y":620,"wires":[["4cae192b.16ea28","d56bc3da.8bb2e"]]},{"id":"4cae192b.16ea28","type":"debug","z":"502f8c3b.acf664","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":630,"y":560,"wires":[]},{"id":"40568b5a.311874","type":"comment","z":"502f8c3b.acf664","name":"Take Photo and store ","info":"","x":120,"y":180,"wires":[]},{"id":"9fba8a79.f6b848","type":"ui_button","z":"502f8c3b.acf664","name":"","group":"8ea1d0c9.8c697","order":4,"width":0,"height":0,"passthru":true,"label":"Train Faces","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":110,"y":620,"wires":[["8cdefe87.0b56b","7b9c27b9.35fca8"]]},{"id":"1e03b9ea.45fdc6","type":"inject","z":"502f8c3b.acf664","name":"Train","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":560,"wires":[["8cdefe87.0b56b"]]},{"id":"8cdefe87.0b56b","type":"function","z":"502f8c3b.acf664","name":"Bucket name","func":"var obj = flow.get('class');\n\n// set bucket for the trainingset\nmsg.bucket = 'tjbot-pictures-' +  obj;\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":620,"wires":[["1a9fd860.947568"]]},{"id":"334b5ba.10fe9a4","type":"link in","z":"502f8c3b.acf664","name":"show training msg","links":["9e9d81a7.82934","fb960b4a.1c1178","b3b14b51.a73808","7e5a1ca5.c97c34"],"x":55,"y":500,"wires":[["f36c7ca0.c695f"]]},{"id":"9e9d81a7.82934","type":"link out","z":"502f8c3b.acf664","name":"jump train msg","links":["334b5ba.10fe9a4"],"x":395,"y":560,"wires":[]},{"id":"f36c7ca0.c695f","type":"ui_text","z":"502f8c3b.acf664","group":"8ea1d0c9.8c697","order":6,"width":0,"height":0,"name":"","label":"Training","format":"{{msg.payload}}","layout":"row-spread","x":180,"y":500,"wires":[]},{"id":"7b9c27b9.35fca8","type":"change","z":"502f8c3b.acf664","name":"running","rules":[{"t":"set","p":"payload","pt":"msg","to":"is running","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":560,"wires":[["9e9d81a7.82934"]]},{"id":"fb960b4a.1c1178","type":"link out","z":"502f8c3b.acf664","name":"jump train msg","links":["334b5ba.10fe9a4"],"x":655,"y":60,"wires":[]},{"id":"5d98b59c.2c0c1c","type":"comment","z":"502f8c3b.acf664","name":"Train out of a collection","info":"","x":120,"y":440,"wires":[]},{"id":"2eb8984a.81d2e8","type":"link in","z":"502f8c3b.acf664","name":"loop","links":["13e19261.cdcd4e","7988447e.57ffdc"],"x":55,"y":720,"wires":[["85687286.0e39d"]]},{"id":"13e19261.cdcd4e","type":"link out","z":"502f8c3b.acf664","name":"jump loop","links":["2eb8984a.81d2e8"],"x":895,"y":620,"wires":[]},{"id":"85687286.0e39d","type":"switch","z":"502f8c3b.acf664","name":"","property":"x","propertyType":"flow","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":170,"y":720,"wires":[["b98b3330.5c89d"],["a3635d30.2e56a"]]},{"id":"b3b14b51.a73808","type":"link out","z":"502f8c3b.acf664","name":"jump train msg","links":["334b5ba.10fe9a4"],"x":815,"y":960,"wires":[]},{"id":"75f00ed2.77534","type":"change","z":"502f8c3b.acf664","name":"trained","rules":[{"t":"set","p":"payload","pt":"msg","to":"trained","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":960,"wires":[["b3b14b51.a73808"]]},{"id":"537c0e75.581a5","type":"cos-get","z":"502f8c3b.acf664","name":"get foto","bucket":"bucket","objectname":"object","mode":"0","filepath":"filepath","filename":"filename","geturl":false,"cosconfig":"957c3444.5c5c48","x":500,"y":680,"wires":[["9eb7006d.b13f1","f063192c.8f1388"]]},{"id":"9eb7006d.b13f1","type":"function","z":"502f8c3b.acf664","name":"counter","func":"flow.set('x', flow.get('x') - 1);\n\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":680,"wires":[["7988447e.57ffdc"]]},{"id":"b98b3330.5c89d","type":"function","z":"502f8c3b.acf664","name":"get object","func":"var obj = flow.get('class');\nvar keys = flow.get('keys');\nvar dir = flow.get('directory') + '/' + obj + '/';\nvar x = flow.get('x')-1;\nmsg.keys = keys;\nmsg.x = x;\nmsg.dir = dir;\n\n// Set environment for download\nmsg.objectname = keys[x].Key;\nmsg.filename = keys[x].Key;\nmsg.filepath = dir;\nmsg.bucket = 'tjbot-pictures-' +  obj;\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":680,"wires":[["537c0e75.581a5"]]},{"id":"7988447e.57ffdc","type":"link out","z":"502f8c3b.acf664","name":"jump loop","links":["2eb8984a.81d2e8"],"x":775,"y":680,"wires":[]},{"id":"f063192c.8f1388","type":"debug","z":"502f8c3b.acf664","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":670,"y":720,"wires":[]},{"id":"35cabc49.3a4184","type":"exec","z":"502f8c3b.acf664","command":"zip ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Zip Fotos","x":500,"y":760,"wires":[["b4f54b4e.174ce8"],[],[]]},{"id":"a3635d30.2e56a","type":"function","z":"502f8c3b.acf664","name":"zip name","func":"var obj = flow.get(\"class\");\n\nmsg.payload = '-m ' + obj + '.zip' + ' /home/pi/' +  obj + '/*.*';\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":760,"wires":[["35cabc49.3a4184"]]},{"id":"243fd517.44221a","type":"exec","z":"502f8c3b.acf664","command":"mkdir ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"mkdir","x":770,"y":620,"wires":[["13e19261.cdcd4e"],[],[]]},{"id":"d56bc3da.8bb2e","type":"function","z":"502f8c3b.acf664","name":"class","func":"var obj = flow.get('class');\nflow.set('keys', msg.payload);\nflow.set('x', msg.found);\n\nmsg.payload = obj;\n\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":620,"wires":[["243fd517.44221a"]]},{"id":"95a327d7.2328a8","type":"exec","z":"502f8c3b.acf664","command":"rmdir","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":550,"y":820,"wires":[["18f89f5f.f40891"],[],[]]},{"id":"b4f54b4e.174ce8","type":"function","z":"502f8c3b.acf664","name":"Class","func":"\nmsg.payload = flow.get('class');\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":820,"wires":[["95a327d7.2328a8"]]},{"id":"ed1155b6.f93c88","type":"function","z":"502f8c3b.acf664","name":"Parse","func":"var i;\nvar arr = [];\n\nfor (i in msg.payload) {\n    if (msg.payload[i].Name.search(\"tjbot-pictures\") != -1) {\n     arr.push(msg.payload[i].Name);   \n    }\n}\n\nmsg.options = arr;\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":1100,"wires":[["f87bc773.8c2148"]]},{"id":"f87bc773.8c2148","type":"ui_dropdown","z":"502f8c3b.acf664","name":"","label":"Collection","place":"Select option","group":"8de7a73d.a3bc48","order":1,"width":0,"height":0,"passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":600,"y":1100,"wires":[["47535cac.d585a4"]]},{"id":"fa6ca89a.9dc668","type":"ui_dropdown","z":"502f8c3b.acf664","name":"","label":"Fotos","place":"Select option","group":"8de7a73d.a3bc48","order":2,"width":0,"height":0,"passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":590,"y":1180,"wires":[["d59530d2.3d95f"]]},{"id":"2609c74c.fa9d68","type":"cos-qry","z":"502f8c3b.acf664","name":"Qry Objects","list":"1","bucket":"oh-cos-bucket","maxkeys":50,"cosconfig":"957c3444.5c5c48","x":290,"y":1180,"wires":[["cf48a06b.0dbc4"]]},{"id":"47535cac.d585a4","type":"change","z":"502f8c3b.acf664","name":"Bucket","rules":[{"t":"set","p":"bucket","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"qrybucket","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":130,"y":1180,"wires":[["2609c74c.fa9d68"]]},{"id":"cf48a06b.0dbc4","type":"function","z":"502f8c3b.acf664","name":"Parse","func":"var i;\nvar arr = [];\n\nfor (i in msg.payload) {\n    arr.push(msg.payload[i].Key);   \n}\n\nmsg.options = arr;\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":1180,"wires":[["fa6ca89a.9dc668"]]},{"id":"fac3f1a0.070db","type":"ui_template","z":"502f8c3b.acf664","group":"8de7a73d.a3bc48","name":"Show Pic","order":3,"width":0,"height":0,"format":"<div layout=\"row\" layout-align=\"space-between\">\n    <img src=\"data:image/jpg;base64,{{msg.payload}}\"\n        width='290' \n        height='220' \n        id='img'\n        alt=' Getting Image'\n    >\n</div>","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":620,"y":1260,"wires":[[]]},{"id":"6e123fb2.ea0e7","type":"base64","z":"502f8c3b.acf664","name":"convert ","action":"","property":"payload","x":460,"y":1260,"wires":[["fac3f1a0.070db"]]},{"id":"d59530d2.3d95f","type":"function","z":"502f8c3b.acf664","name":"get object","func":"// Set environment for download\nmsg.objectname = msg.payload;\nmsg.bucket = flow.get('qrybucket');\nreturn msg;","outputs":1,"noerr":0,"x":140,"y":1260,"wires":[["9884c732.a25198"]]},{"id":"9884c732.a25198","type":"cos-get","z":"502f8c3b.acf664","name":"get foto","bucket":"bucket","objectname":"object","mode":"1","filepath":"/home/pi/","filename":"filename","geturl":false,"cosconfig":"957c3444.5c5c48","x":300,"y":1260,"wires":[["6e123fb2.ea0e7"]]},{"id":"aa556707.f01cb8","type":"comment","z":"502f8c3b.acf664","name":"Show existing Fotos","info":"","x":130,"y":1060,"wires":[]},{"id":"ec4d59b6.3f13e8","type":"inject","z":"502f8c3b.acf664","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":1380,"wires":[["799cf642.73e598"]]},{"id":"799cf642.73e598","type":"function","z":"502f8c3b.acf664","name":"set name","func":"msg.params={'name':'tjbot'};\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":1380,"wires":[["dfcd7d58.04cf9"]]},{"id":"dfcd7d58.04cf9","type":"file in","z":"502f8c3b.acf664","name":"positive","filename":"/home/pi/Pictures/oh_positive.zip","format":"","chunk":false,"sendError":true,"x":440,"y":1380,"wires":[["1064e6b1.9352b9"]]},{"id":"1064e6b1.9352b9","type":"change","z":"502f8c3b.acf664","name":"set positives","rules":[{"t":"set","p":"params.retrievers_positive_examples","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1380,"wires":[["b1ef62ff.f96ea"]]},{"id":"b1ef62ff.f96ea","type":"file in","z":"502f8c3b.acf664","name":"negative","filename":"/home/pi/Pictures/retrievers_negative.zip","format":"","chunk":false,"sendError":true,"x":440,"y":1420,"wires":[["db989c46.6a93"]]},{"id":"db989c46.6a93","type":"change","z":"502f8c3b.acf664","name":"set negative","rules":[{"t":"set","p":"params.negative_examples","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1420,"wires":[["732a888e.8b5818"]]},{"id":"732a888e.8b5818","type":"visual-recognition-util-v3","z":"502f8c3b.acf664","name":"create first classifier","apikey":"__PWRD__","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"createClassifier","x":560,"y":1480,"wires":[["ba7375cb.603128"]]},{"id":"ba7375cb.603128","type":"debug","z":"502f8c3b.acf664","name":"Classifier","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"result","x":760,"y":1480,"wires":[]},{"id":"e727fbcc.f785c8","type":"comment","z":"502f8c3b.acf664","name":"first classifier","info":"","x":110,"y":1320,"wires":[]},{"id":"fae84718.c5cec8","type":"ui_text","z":"502f8c3b.acf664","group":"8ea1d0c9.8c697","order":5,"width":0,"height":0,"name":"","label":"Update training for","format":"{{msg.payload}}","layout":"row-spread","x":890,"y":100,"wires":[]},{"id":"3c766ada.cbfeb6","type":"visual-recognition-util-v3","z":"502f8c3b.acf664","name":"delete All classifiers","apikey":"eOtONFxVkxM4mj19gEXaY246J2fiFAaSLX8y9lokFWnz","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"deleteAllClassifiers","x":510,"y":1740,"wires":[["eedeccee.cae86"]]},{"id":"79736bea.896a74","type":"inject","z":"502f8c3b.acf664","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":1740,"wires":[["3c766ada.cbfeb6"]]},{"id":"eedeccee.cae86","type":"debug","z":"502f8c3b.acf664","name":"","active":true,"console":"false","complete":"result","x":770,"y":1680,"wires":[]},{"id":"b5fa078f.6eb3a8","type":"visual-recognition-util-v3","z":"502f8c3b.acf664","name":"retrieve classifiers list","apikey":"eOtONFxVkxM4mj19gEXaY246J2fiFAaSLX8y9lokFWnz","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"retrieveClassifiersList","x":520,"y":1620,"wires":[["eedeccee.cae86"]]},{"id":"c1ff05a.e836df8","type":"visual-recognition-util-v3","z":"502f8c3b.acf664","name":"retrieve classifier details","apikey":"eOtONFxVkxM4mj19gEXaY246J2fiFAaSLX8y9lokFWnz","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"retrieveClassifierDetails","x":530,"y":1660,"wires":[["eedeccee.cae86"]]},{"id":"e2df98f3.6df2c8","type":"visual-recognition-util-v3","z":"502f8c3b.acf664","name":"delete a classifier","apikey":"eOtONFxVkxM4mj19gEXaY246J2fiFAaSLX8y9lokFWnz","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"deleteClassifier","x":510,"y":1700,"wires":[["eedeccee.cae86"]]},{"id":"9f4f0448.912ec8","type":"inject","z":"502f8c3b.acf664","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":1620,"wires":[["b5fa078f.6eb3a8"]]},{"id":"b3f0ed20.3c416","type":"function","z":"502f8c3b.acf664","name":"set classifier_id","func":"msg.params={'classifier_id':'dogs_1784804271'};\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":1660,"wires":[["c1ff05a.e836df8"]]},{"id":"e5307f5c.dbc2c","type":"function","z":"502f8c3b.acf664","name":"set classifier_id","func":"msg.params={'classifier_id':'retrievers2_2143367605'};\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":1700,"wires":[["e2df98f3.6df2c8"]]},{"id":"891e0730.4b7238","type":"inject","z":"502f8c3b.acf664","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":1660,"wires":[["b3f0ed20.3c416"]]},{"id":"61897c81.99c234","type":"inject","z":"502f8c3b.acf664","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":1700,"wires":[["e5307f5c.dbc2c"]]},{"id":"9f50a200.64e72","type":"function","z":"502f8c3b.acf664","name":"Setup","func":"var arr = [];\n\narr.push({\"Olaf Hahn\":\"oh\"});\narr.push({\"Magdalena Hahn\":\"mh\"});\narr.push({\"Paul Hahn\":\"ph\"});\narr.push({\"Husky\":\"husky\"});\narr.push({\"Dalmatian\":\"dalmatian\"});\narr.push({\"Beagle\":\"beagle\"});\narr.push({\"Golden-retriever\":\"golden-retriever\"});\narr.push({\"Cats\":\"cats\"});\n\n\nflow.set(\"knownclasses\",arr);\n\nmsg.options = arr;\nmsg.payload = \"oh\";\n\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":100,"wires":[["4dedb9cc.e36048"]]},{"id":"261f9b19.54feb4","type":"function","z":"502f8c3b.acf664","name":"Get name","func":"var kf = flow.get(\"knownclasses\");\nvar f = flow.get(\"class\");\nvar name = \"\";\n\n// Get the name to the key\nfor (var i in kf) {\n    for (var y in kf[i]) {\n        if (kf[i][y] == f) {\n            name = y;\n        }\n    }\n}\n\nmsg.payload = name;\n\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":100,"wires":[["fae84718.c5cec8"]]},{"id":"bd70d9ec.8d3108","type":"visual-recognition-util-v3","z":"502f8c3b.acf664","name":"retrieve classifiers list","apikey":"__PWRD__","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"retrieveClassifiersList","x":740,"y":140,"wires":[["d3b4acf2.ce8c3"]]},{"id":"d3b4acf2.ce8c3","type":"function","z":"502f8c3b.acf664","name":"Parse","func":"var i;\nvar arr = [];\nvar first = \"\";\n\nfor (i in msg.result.classifiers) {\n    arr.push(msg.result.classifiers[i].name); \n    if (first === \"\") {\n        first = msg.result.classifiers[i].name;\n    }\n}\n\nmsg.options = arr;\nmsg.payload = first;\n\nflow.set(\"classifiers\", msg.result.classifiers);\n\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":140,"wires":[["c5ef0927.7b7b38"]]},{"id":"c5ef0927.7b7b38","type":"ui_dropdown","z":"502f8c3b.acf664","name":"","label":"Model","place":"Select option","group":"8ea1d0c9.8c697","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":1070,"y":140,"wires":[["3e464d26.9c21f2"]]},{"id":"3e464d26.9c21f2","type":"change","z":"502f8c3b.acf664","name":"Model","rules":[{"t":"set","p":"model","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":140,"wires":[[]]},{"id":"18f89f5f.f40891","type":"function","z":"502f8c3b.acf664","name":"Zip-Filename","func":"msg.filename = \"/home/pi/\" + flow.get(\"class\") + \".zip\";\n\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":900,"wires":[["d552f191.1c21a"]]},{"id":"d552f191.1c21a","type":"file in","z":"502f8c3b.acf664","name":"Zip upload","filename":"/home/pi/oh.zip","format":"","chunk":false,"sendError":true,"x":310,"y":900,"wires":[["dc2a8558.2f10d8"]]},{"id":"be474586.84b698","type":"visual-recognition-util-v3","z":"502f8c3b.acf664","name":"update classifier","apikey":"eOtONFxVkxM4mj19gEXaY246J2fiFAaSLX8y9lokFWnz","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"updateClassifier","x":480,"y":960,"wires":[["31ecb394.9a5e4c","75f00ed2.77534"]]},{"id":"31ecb394.9a5e4c","type":"debug","z":"502f8c3b.acf664","name":"Classifier","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"result","x":720,"y":920,"wires":[]},{"id":"dc2a8558.2f10d8","type":"function","z":"502f8c3b.acf664","name":"Model and Name","func":"var i;\nvar arr = [];\nvar classifiers = flow.get(\"classifiers\");\nvar model = flow.get(\"model\");\nvar face_positive = flow.get(\"class\")+\"_positive_examples\";\nvar classifier_id;\n\nmsg.params={'name':'tjbot'};\nmsg.params[\"owners\"]=\"me\";\n\nfor (i in classifiers) {\n    if (classifiers[i].name === model) {\n        classifier_id = classifiers[i].classifier_id;\n    }\n}\n\nmsg.params[\"classifier_id\"]=classifier_id;\nmsg.params[face_positive] = msg.payload;\n//msg.params.retrievers_positive_examples = msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":900,"wires":[["be474586.84b698","38b897ab.c2f8b8"]]},{"id":"38b897ab.c2f8b8","type":"debug","z":"502f8c3b.acf664","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":710,"y":860,"wires":[]},{"id":"465975f2.c6e5ac","type":"comment","z":"502f8c3b.acf664","name":"Status of model","info":"","x":120,"y":1820,"wires":[]},{"id":"9d94be19.0ff97","type":"inject","z":"502f8c3b.acf664","name":"Check","topic":"","payload":"","payloadType":"date","repeat":"30","crontab":"","once":true,"onceDelay":"1","x":140,"y":1860,"wires":[["534b9b0.f782e64"]]},{"id":"4678f7b2.a4cbb8","type":"visual-recognition-util-v3","z":"502f8c3b.acf664","name":"retrieve classifiers list","apikey":"eOtONFxVkxM4mj19gEXaY246J2fiFAaSLX8y9lokFWnz","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"retrieveClassifierDetails","x":540,"y":1860,"wires":[["a3554a37.763238"]]},{"id":"534b9b0.f782e64","type":"function","z":"502f8c3b.acf664","name":"set classifier_id","func":"var i;\nvar classifiers = flow.get(\"classifiers\");\nvar model = flow.get(\"model\");\nvar classifier;\n\nfor (i in classifiers) {\n    if (classifiers[i].name == model) {\n        classifier = classifiers[i].classifier_id;\n    }\n}\nmsg.params = {};\nmsg.params[\"classifier_id\"]=classifier;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":320,"y":1860,"wires":[["4678f7b2.a4cbb8"]]},{"id":"d116ad2b.d5ca3","type":"ui_text","z":"502f8c3b.acf664","group":"8ea1d0c9.8c697","order":3,"width":0,"height":0,"name":"","label":"Status","format":"{{msg.payload}}","layout":"row-spread","x":870,"y":1860,"wires":[]},{"id":"a3554a37.763238","type":"function","z":"502f8c3b.acf664","name":"status","func":"msg.payload = msg.result.status;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":730,"y":1860,"wires":[["d116ad2b.d5ca3"]]},{"id":"79a07bc1.e94614","type":"inject","z":"502f8c3b.acf664","name":"Default","topic":"","payload":"/home/pi/Pictures/","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":120,"y":2000,"wires":[["81e330cd.aa569"]]},{"id":"6ade23f9.bbebbc","type":"function","z":"502f8c3b.acf664","name":"Parse","func":"var i;\nvar str = msg.payload;\nvar path = flow.get(\"lspath\");\nvar list = msg.payload.replace(/\\n|\\r/g, \"\");\nlist = list.split(\",\");\n\nfor (i in list) {\n    list[i] = list[i].replace(path,\"\").trim();\n    console.log(str);\n}\n\n//while (str.length && str.indexOf(\",\") > 0) {\n//    arr.push(str.slice(0, str.indexOf(\",\")).replace(path,\"\"));\n//    str = str.substr(str.indexOf(\",\")+1);\n//}\n\nmsg.options = list;\n\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":2000,"wires":[["10ea6932.8c8827","c8bf11d9.53b1b"]]},{"id":"195a7248.24c09e","type":"ui_button","z":"502f8c3b.acf664","name":"","group":"6fa56e61.2d96","order":4,"width":0,"height":0,"passthru":false,"label":"Upload","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":180,"y":2120,"wires":[["cba95d87.49ffc"]]},{"id":"10ea6932.8c8827","type":"ui_dropdown","z":"502f8c3b.acf664","name":"","label":"Files","place":"Select option","group":"6fa56e61.2d96","order":2,"width":0,"height":0,"passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":770,"y":2000,"wires":[["c32b35f1.813f08"]]},{"id":"2233edae.6427c2","type":"exec","z":"502f8c3b.acf664","command":"ls","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":510,"y":2000,"wires":[["6ade23f9.bbebbc","c8bf11d9.53b1b"],[],[]]},{"id":"fffd77a8.c25398","type":"function","z":"502f8c3b.acf664","name":"Set LS","func":"flow.set (\"lspath\", msg.payload);\nflow.set (\"lsobj\", \"\");\n\nmsg.payload = \" -m \" + msg.payload + \"*.jpg\";\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":2000,"wires":[["2233edae.6427c2"]]},{"id":"1759718e.bfd4ce","type":"ui_template","z":"502f8c3b.acf664","group":"6fa56e61.2d96","name":"Show Pic","order":3,"width":0,"height":0,"format":"<div layout=\"row\" layout-align=\"space-between\">\n    <img src=\"data:image/jpg;base64,{{msg.payload}}\"\n        width='290' \n        height='220' \n        id='img'\n        alt=' Getting Image'\n    >\n</div>","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":700,"y":2060,"wires":[[]]},{"id":"343baa65.820926","type":"base64","z":"502f8c3b.acf664","name":" base64","action":"","property":"payload","x":560,"y":2060,"wires":[["1759718e.bfd4ce"]]},{"id":"c32b35f1.813f08","type":"function","z":"502f8c3b.acf664","name":"Filename","func":"msg.filename = flow.get(\"lspath\") + msg.payload;\nflow.set(\"lsobj\", msg.filename);\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":2060,"wires":[["cf51627e.db477"]]},{"id":"cf51627e.db477","type":"file in","z":"502f8c3b.acf664","name":"Load Pic","filename":"","format":"","chunk":false,"sendError":false,"x":420,"y":2060,"wires":[["343baa65.820926"]]},{"id":"81e330cd.aa569","type":"ui_dropdown","z":"502f8c3b.acf664","name":"","label":"Path","place":"Select option","group":"6fa56e61.2d96","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"/Pictures/","value":"/home/pi/Pictures/","type":"str"},{"label":"/","value":"/home/pi/","type":"str"}],"payload":"","topic":"","x":250,"y":2000,"wires":[["fffd77a8.c25398"]]},{"id":"37151311.1a436c","type":"comment","z":"502f8c3b.acf664","name":"Local Files","info":"","x":100,"y":1960,"wires":[]},{"id":"c8bf11d9.53b1b","type":"debug","z":"502f8c3b.acf664","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":750,"y":1940,"wires":[]},{"id":"c8ce1800.91baa8","type":"function","z":"502f8c3b.acf664","name":"Uniqe name","func":"var now = new Date();  // the current datetime as a Date object\nvar iso = now.toISOString();  // converted to YYYY-MM-DDThh:mm:ss.dddZ format\nvar utc = iso.replace(/^(.*)T(.*)Z$/, \"$1 $2\");  // with the 'T' and 'Z' removed\nvar obj = flow.get('class');\n\n// set objectname and filename\nmsg.filename = 'Picture ' + obj + ' ' + utc + '.jpg';\nmsg.objectname = msg.filename;\n\n// set bucket for the trainingset\nmsg.bucket = 'tjbot-pictures-' +  obj;\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":2180,"wires":[["ad43df82.4cab1"]]},{"id":"a9f35883.942558","type":"switch","z":"502f8c3b.acf664","name":"Class set ?","property":"class","propertyType":"flow","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":2180,"wires":[["c8ce1800.91baa8"]]},{"id":"1c49258c.05907a","type":"debug","z":"502f8c3b.acf664","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":750,"y":2180,"wires":[]},{"id":"ad43df82.4cab1","type":"cos-put","z":"502f8c3b.acf664","name":"Put Object","bucket":"xyz-test-bucket","create":"1","objectname":"Test","mode":"1","filepath":"","filename":"","contentType":"image/jpeg","geturl":true,"cosconfig":"957c3444.5c5c48","x":590,"y":2180,"wires":[["1c49258c.05907a"]]},{"id":"ded57d73.6289e","type":"function","z":"502f8c3b.acf664","name":"Filename","func":"msg.filename = flow.get(\"lsobj\", msg.filename);\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":2120,"wires":[["bcaf7a63.a3fc78"]]},{"id":"bcaf7a63.a3fc78","type":"file in","z":"502f8c3b.acf664","name":"Load Pic","filename":"","format":"","chunk":false,"sendError":false,"x":600,"y":2120,"wires":[["a9f35883.942558"]]},{"id":"cba95d87.49ffc","type":"switch","z":"502f8c3b.acf664","name":"lsobj set ?","property":"lsobj","propertyType":"flow","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":320,"y":2120,"wires":[["ded57d73.6289e"]]},{"id":"7bf6c49.b0a333c","type":"ui_group","z":"","name":"Photo Capture","tab":"de1614f2.6dd1e8","order":3,"disp":true,"width":"6","collapse":false},{"id":"8ea1d0c9.8c697","type":"ui_group","z":"","name":"Train Model","tab":"de1614f2.6dd1e8","order":1,"disp":true,"width":"6","collapse":false},{"id":"957c3444.5c5c48","type":"cos-config","z":"","apiKeyId":"CHdBkuCV3ANCygdWFVgwL5N9gPjJl_a62GKK2HEFzERr","location":"us-geo","ibmAuthEndpoint":"https://iam.ng.bluemix.net/oidc/token","endpoint":"s3-api.us-geo.objectstorage.softlayer.net","serviceInstanceId":"crn:v1:bluemix:public:iam-identity::a/19f662d586832d82b96df0d107630ba9::serviceid:ServiceId-d1857c2b-1fbf-4412-af20-18a15427cf68","hmac":true,"accesskeyid":"39eee12e53534ae5927484a0288e9605","accesskey":"adfc0ac958f67eb697fb4e6f6ac41066834d5dd06878532d","name":"Qry"},{"id":"8de7a73d.a3bc48","type":"ui_group","z":"","name":"Display Collection of Fotos","tab":"de1614f2.6dd1e8","order":4,"disp":true,"width":"7","collapse":false},{"id":"6fa56e61.2d96","type":"ui_group","z":"","name":"Local Pictures","tab":"de1614f2.6dd1e8","disp":true,"width":"6","collapse":false},{"id":"de1614f2.6dd1e8","type":"ui_tab","z":"","name":"Training Fotos","icon":"dashboard","order":2}]