TjBot-Image-Handwriting/Tab9-Handwriting-Detection.json
[
    {
        "id": "d1d598b6.2d3c88",
        "type": "tab",
        "label": "Handwriting",
        "disabled": false,
        "info": ""
    },
    {
        "id": "93a0d9fa.304698",
        "type": "comment",
        "z": "d1d598b6.2d3c88",
        "name": "Detect Handwriting - Demo Flow",
        "info": "",
        "x": 150,
        "y": 40,
        "wires": []
    },
    {
        "id": "ec90d55d.ded938",
        "type": "camerapi-takephoto",
        "z": "d1d598b6.2d3c88",
        "filemode": "0",
        "filename": "",
        "filedefpath": "1",
        "filepath": "",
        "fileformat": "jpeg",
        "resolution": "1",
        "rotation": "0",
        "fliph": "0",
        "flipv": "0",
        "brightness": "50",
        "contrast": "100",
        "sharpness": "100",
        "quality": "80",
        "imageeffect": "none",
        "exposuremode": "auto",
        "iso": "0",
        "agcwait": "0.3",
        "led": "1",
        "awb": "auto",
        "name": "Take It",
        "x": 390,
        "y": 260,
        "wires": [
            [
                "983004f5.c9a948",
                "493fe82.4a7c418"
            ]
        ]
    },
    {
        "id": "ab7d229a.11964",
        "type": "ui_template",
        "z": "d1d598b6.2d3c88",
        "group": "68f7bdf6.3e3894",
        "name": "Show Pic",
        "order": 0,
        "width": "0",
        "height": "0",
        "format": "<style>\n#photo {\n    position:absolute;\n    z-index:1;\n    width:320px; \n    height:240px;\n}\n\n#container{\n    display:inline-block;\n    width:320px; \n    height:240px;\n    margin: 0 auto; \n    position:relative; \n}\n\n#gameCanvas{\n    position:relative;\n    z-index:20;\n}\n</style>\n\n<div id=\"container\">\n    <img id=\"photo\", class=\"image\" src=\"\" alt=\"Caputred image\"/>\n    <canvas id=\"gameCanvas\" width='320' height='240'></canvas>\n</div>\n\n<script>\n(function(scope) {\n  scope.$watch('msg', function(msg) {\n    \n    var canvas=document.getElementById(\"gameCanvas\"),\n    ctx = canvas.getContext(\"2d\");\n    \n    if (msg) {\n        if(msg.photo) {\n            $(\"#photo\").attr(\"src\", \"data:image/png;base64, \" + msg.payload);\n            ctx.clearRect(0, 0, canvas.width, canvas.height);\n\n        } else if(msg.bbox) {\n            ctx.clearRect(0, 0, canvas.width, canvas.height);\n            \n            l = msg.bbox[0];\n            t = msg.bbox[1];\n            r = msg.bbox[2];\n            b = msg.bbox[3];\n            ctx.beginPath();\n            ctx.lineWidth = \"1\";\n            ctx.strokeStyle = msg.color;\n            ctx.rect(l-2, t-2, r-l+4, b-t+4);\n            ctx.stroke();\n            \n        } else if(msg.clear) {\n            ctx.clearRect(0, 0, canvas.width, canvas.height);\n        }\n    }\n  });\n})(scope);\n</script>",
        "storeOutMessages": false,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 240,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "c2932b33.8c10e8",
        "type": "ui_button",
        "z": "d1d598b6.2d3c88",
        "name": "",
        "group": "fe5e6e92.e74cb",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Prieview",
        "color": "",
        "bgcolor": "",
        "icon": "fa-photo",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 100,
        "y": 220,
        "wires": [
            [
                "cd4e79bf.8c58d8"
            ]
        ]
    },
    {
        "id": "a20cc8f4.cc21a8",
        "type": "inject",
        "z": "d1d598b6.2d3c88",
        "name": "Default",
        "topic": "",
        "payload": "/home/pi/Pictures/",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 120,
        "y": 400,
        "wires": [
            [
                "578bfddf.085764"
            ]
        ]
    },
    {
        "id": "578bfddf.085764",
        "type": "ui_dropdown",
        "z": "d1d598b6.2d3c88",
        "name": "",
        "label": "Path",
        "place": "Select option",
        "group": "91d76a9f.182008",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "options": [
            {
                "label": "/Pictures/",
                "value": "/home/pi/Pictures/",
                "type": "str"
            },
            {
                "label": "/",
                "value": "/home/pi/",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 270,
        "y": 440,
        "wires": [
            [
                "1ea9a9d7.3f22a6"
            ]
        ]
    },
    {
        "id": "1ea9a9d7.3f22a6",
        "type": "function",
        "z": "d1d598b6.2d3c88",
        "name": "Set LS",
        "func": "flow.set (\"lspath\", msg.payload);\nflow.set (\"lsobj\", \"\");\n\nmsg.payload = \" -m \" + msg.payload + \"*.jpg\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 440,
        "wires": [
            [
                "8706b59c.c28348"
            ]
        ]
    },
    {
        "id": "8706b59c.c28348",
        "type": "exec",
        "z": "d1d598b6.2d3c88",
        "command": "ls",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 530,
        "y": 440,
        "wires": [
            [
                "859bca38.e39938"
            ],
            [],
            []
        ]
    },
    {
        "id": "859bca38.e39938",
        "type": "function",
        "z": "d1d598b6.2d3c88",
        "name": "Parse",
        "func": "var i;\nvar str = msg.payload;\nvar path = flow.get(\"lspath\");\nvar list = msg.payload.replace(/\\n|\\r/g, \"\");\nlist = list.split(\",\");\n\nfor (i in list) {\n    list[i] = list[i].replace(path,\"\").trim();\n    console.log(str);\n}\n\nmsg.options = list;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 670,
        "y": 440,
        "wires": [
            [
                "78a4eaf4.fa8384"
            ]
        ]
    },
    {
        "id": "78a4eaf4.fa8384",
        "type": "ui_dropdown",
        "z": "d1d598b6.2d3c88",
        "name": "",
        "label": "Files",
        "place": "Select option",
        "group": "91d76a9f.182008",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 810,
        "y": 440,
        "wires": [
            [
                "9af91ecf.f187e"
            ]
        ]
    },
    {
        "id": "9af91ecf.f187e",
        "type": "function",
        "z": "d1d598b6.2d3c88",
        "name": "Filename",
        "func": "msg.filename = flow.get(\"lspath\") + msg.payload;\nflow.set(\"lsobj\", msg.filename);\n\nmsg.action = \"loaded\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 300,
        "y": 500,
        "wires": [
            [
                "b9c77eb7.7c2f8"
            ]
        ]
    },
    {
        "id": "b9c77eb7.7c2f8",
        "type": "file in",
        "z": "d1d598b6.2d3c88",
        "name": "Load Pic",
        "filename": "",
        "format": "",
        "chunk": false,
        "sendError": false,
        "x": 460,
        "y": 500,
        "wires": [
            [
                "5025bf9b.db29"
            ]
        ]
    },
    {
        "id": "f8b3d200.e7736",
        "type": "comment",
        "z": "d1d598b6.2d3c88",
        "name": "Load Photo from Disk",
        "info": "",
        "x": 120,
        "y": 360,
        "wires": []
    },
    {
        "id": "b78b92ba.a319",
        "type": "comment",
        "z": "d1d598b6.2d3c88",
        "name": "Classify Foto",
        "info": "",
        "x": 90,
        "y": 960,
        "wires": []
    },
    {
        "id": "a98e9a09.b64398",
        "type": "link in",
        "z": "d1d598b6.2d3c88",
        "name": "VisRec",
        "links": [
            "a60cc970.6d9108",
            "1466ce38.b4ce72"
        ],
        "x": 55,
        "y": 1000,
        "wires": [
            [
                "6b454caa.888ff4"
            ]
        ]
    },
    {
        "id": "a60cc970.6d9108",
        "type": "link out",
        "z": "d1d598b6.2d3c88",
        "name": "Jump VisRec",
        "links": [
            "a98e9a09.b64398"
        ],
        "x": 935,
        "y": 540,
        "wires": []
    },
    {
        "id": "1466ce38.b4ce72",
        "type": "link out",
        "z": "d1d598b6.2d3c88",
        "name": "Jump VisRec",
        "links": [
            "a98e9a09.b64398"
        ],
        "x": 935,
        "y": 360,
        "wires": []
    },
    {
        "id": "36069bbb.192e04",
        "type": "link in",
        "z": "d1d598b6.2d3c88",
        "name": "DisplayFoto",
        "links": [
            "5dee86b.f071478",
            "2d3a931d.38010c",
            "e470b050.1abc3"
        ],
        "x": 55,
        "y": 620,
        "wires": [
            [
                "ab7d229a.11964"
            ]
        ]
    },
    {
        "id": "95366c53.f1949",
        "type": "comment",
        "z": "d1d598b6.2d3c88",
        "name": "Display Foto",
        "info": "",
        "x": 90,
        "y": 580,
        "wires": []
    },
    {
        "id": "5dee86b.f071478",
        "type": "link out",
        "z": "d1d598b6.2d3c88",
        "name": "",
        "links": [
            "36069bbb.192e04"
        ],
        "x": 1015,
        "y": 280,
        "wires": []
    },
    {
        "id": "2d3a931d.38010c",
        "type": "link out",
        "z": "d1d598b6.2d3c88",
        "name": "",
        "links": [
            "36069bbb.192e04"
        ],
        "x": 935,
        "y": 500,
        "wires": []
    },
    {
        "id": "a83b3cf4.425fd",
        "type": "link out",
        "z": "d1d598b6.2d3c88",
        "name": "Jump Store",
        "links": [
            "e3238d96.c3ed"
        ],
        "x": 935,
        "y": 320,
        "wires": []
    },
    {
        "id": "cf72e3f5.e688e",
        "type": "comment",
        "z": "d1d598b6.2d3c88",
        "name": "Store Foto",
        "info": "",
        "x": 80,
        "y": 760,
        "wires": []
    },
    {
        "id": "e3238d96.c3ed",
        "type": "link in",
        "z": "d1d598b6.2d3c88",
        "name": "Store",
        "links": [
            "a83b3cf4.425fd"
        ],
        "x": 55,
        "y": 840,
        "wires": [
            [
                "49bcea50.17f364"
            ]
        ]
    },
    {
        "id": "cd4e79bf.8c58d8",
        "type": "change",
        "z": "d1d598b6.2d3c88",
        "name": "action",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "preview",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 250,
        "y": 220,
        "wires": [
            [
                "ec90d55d.ded938"
            ]
        ]
    },
    {
        "id": "16f8ffa4.92efc",
        "type": "ui_button",
        "z": "d1d598b6.2d3c88",
        "name": "",
        "group": "fe5e6e92.e74cb",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Store",
        "color": "",
        "bgcolor": "",
        "icon": "fa-photo",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 90,
        "y": 260,
        "wires": [
            [
                "e496d608.8f32a8"
            ]
        ]
    },
    {
        "id": "e496d608.8f32a8",
        "type": "change",
        "z": "d1d598b6.2d3c88",
        "name": "action",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "store",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 250,
        "y": 260,
        "wires": [
            [
                "ec90d55d.ded938"
            ]
        ]
    },
    {
        "id": "d92ffb1e.bcc978",
        "type": "ui_button",
        "z": "d1d598b6.2d3c88",
        "name": "",
        "group": "fe5e6e92.e74cb",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Detect",
        "color": "",
        "bgcolor": "",
        "icon": "fa-photo",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 90,
        "y": 300,
        "wires": [
            [
                "77508525.8fdf1c"
            ]
        ]
    },
    {
        "id": "77508525.8fdf1c",
        "type": "change",
        "z": "d1d598b6.2d3c88",
        "name": "action",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "detect",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 250,
        "y": 300,
        "wires": [
            [
                "ec90d55d.ded938"
            ]
        ]
    },
    {
        "id": "a6f07204.26fe3",
        "type": "switch",
        "z": "d1d598b6.2d3c88",
        "name": "Action ?",
        "property": "action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "preview",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "store",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "detect",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 760,
        "y": 320,
        "wires": [
            [
                "24b53c6.ad3f4c4"
            ],
            [
                "a83b3cf4.425fd",
                "24b53c6.ad3f4c4"
            ],
            [
                "1466ce38.b4ce72",
                "24b53c6.ad3f4c4"
            ]
        ]
    },
    {
        "id": "20619e5a.02c482",
        "type": "ui_switch",
        "z": "d1d598b6.2d3c88",
        "name": "",
        "label": "Local or Cloud",
        "group": "fe5e6e92.e74cb",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 300,
        "y": 80,
        "wires": [
            [
                "946e7b9a.322438"
            ]
        ]
    },
    {
        "id": "946e7b9a.322438",
        "type": "change",
        "z": "d1d598b6.2d3c88",
        "name": "localorcloud",
        "rules": [
            {
                "t": "set",
                "p": "localorcloud",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "cca9919e.99e0b",
        "type": "inject",
        "z": "d1d598b6.2d3c88",
        "name": "Init",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 110,
        "y": 80,
        "wires": [
            [
                "20619e5a.02c482"
            ]
        ]
    },
    {
        "id": "cb992985.cdc9b8",
        "type": "function",
        "z": "d1d598b6.2d3c88",
        "name": "Set name",
        "func": "\n// get the path from the path-selector\nlet dat = new Date();\n\nmsg.filename = flow.get(\"lspath\") + \"Image_\" + dat.toISOString() + \".jpg\"; \nmsg.payload = msg.image;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 340,
        "y": 800,
        "wires": [
            [
                "64344b08.50ec04",
                "4942ed36.b3ed74"
            ]
        ]
    },
    {
        "id": "64344b08.50ec04",
        "type": "file",
        "z": "d1d598b6.2d3c88",
        "name": "",
        "filename": "",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "false",
        "x": 490,
        "y": 800,
        "wires": [
            [
                "ac3779e0.b6d038"
            ]
        ]
    },
    {
        "id": "c63fad26.af3f4",
        "type": "function",
        "z": "d1d598b6.2d3c88",
        "name": "Set IoT Data",
        "func": "// enhance payload with a timestamp & devicename\nvar dat = new Date();\nmsg.payload.image = msg.b64image;\nmsg.payload.timestamp = Math.floor(dat);\nmsg.payload.date = dat.toJSON();\nmsg.payload.device = \"tjbot-01\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 880,
        "wires": [
            [
                "f9db7350.6d25e",
                "2c95aa6d.c38cc6"
            ]
        ]
    },
    {
        "id": "f9db7350.6d25e",
        "type": "wiotp out",
        "z": "d1d598b6.2d3c88",
        "authType": "d",
        "qs": "false",
        "qsDeviceId": "",
        "deviceKey": "787dd67f.06a908",
        "deviceType": "",
        "deviceId": "",
        "event": "image",
        "format": "json",
        "qos": "",
        "name": "Sent2IoTF",
        "x": 530,
        "y": 900,
        "wires": []
    },
    {
        "id": "49bcea50.17f364",
        "type": "switch",
        "z": "d1d598b6.2d3c88",
        "name": "Send ?",
        "property": "localorcloud",
        "propertyType": "flow",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 180,
        "y": 840,
        "wires": [
            [
                "cb992985.cdc9b8"
            ],
            [
                "c63fad26.af3f4"
            ]
        ]
    },
    {
        "id": "4942ed36.b3ed74",
        "type": "debug",
        "z": "d1d598b6.2d3c88",
        "name": "File Image",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 510,
        "y": 760,
        "wires": []
    },
    {
        "id": "2c95aa6d.c38cc6",
        "type": "debug",
        "z": "d1d598b6.2d3c88",
        "name": "Image IoTF",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 530,
        "y": 860,
        "wires": []
    },
    {
        "id": "21bd10b9.2bab4",
        "type": "ui_text",
        "z": "d1d598b6.2d3c88",
        "group": "68f7bdf6.3e3894",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Size",
        "format": "{{msg.size}}{{msg.unit}} {{msg.suffix}}",
        "layout": "row-spread",
        "x": 330,
        "y": 660,
        "wires": []
    },
    {
        "id": "e1b2e92f.6103d8",
        "type": "function",
        "z": "d1d598b6.2d3c88",
        "name": "Set size",
        "func": "size = {\n    'size': Math.round(msg.payload.length / 1000),\n    'unit': 'kB',\n    'suffix' : \"\"\n}\n\nif (msg.action == \"store\") {\n    size.suffix = flow.get(\"localorcloud\") ? \"local\" : \"cloud\";\n} else if (msg.action == \"preview\") {\n    size.suffix = \"preview\";\n} else if (msg.action == \"loaded\") {\n    size.suffix = \"load and detect\";\n} else {\n    size.suffix = \"detect\";\n}\n\nmsg = size;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 180,
        "y": 660,
        "wires": [
            [
                "21bd10b9.2bab4"
            ]
        ]
    },
    {
        "id": "f452e049.2a178",
        "type": "debug",
        "z": "d1d598b6.2d3c88",
        "name": "Class Outcome",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 540,
        "y": 1080,
        "wires": []
    },
    {
        "id": "d03d453c.c8cfd8",
        "type": "http request",
        "z": "d1d598b6.2d3c88",
        "name": "Get Token",
        "method": "GET",
        "ret": "obj",
        "url": "https://eu-de.ml.cloud.ibm.com/v3/identity/token",
        "tls": "",
        "x": 350,
        "y": 1000,
        "wires": [
            [
                "a1305b49.db2a68"
            ]
        ]
    },
    {
        "id": "d5b331e3.e359f",
        "type": "http request",
        "z": "d1d598b6.2d3c88",
        "name": "Get Classification",
        "method": "POST",
        "ret": "obj",
        "url": "",
        "tls": "",
        "x": 290,
        "y": 1120,
        "wires": [
            [
                "f452e049.2a178",
                "3d508094.6a502",
                "63490770.a987e8"
            ]
        ]
    },
    {
        "id": "a1305b49.db2a68",
        "type": "function",
        "z": "d1d598b6.2d3c88",
        "name": "Classification Request",
        "func": "msg.headers = {\n    \"Accept\": \"application/json\",\n    \"Authorization\": 'Bearer ' + msg.payload.token,\n    \"Content-Type\": \"application/json;charset=UTF-8\"\n};\n\n// msg.url = \"https://eu-de.ml.cloud.ibm.com/v3/wml_instances/c6cffbe7-484d-4ddc-ba18-11212d5417d8/deployments/0bacdc42-4409-4170-bcff-1eb12bdf1341/online\"\nmsg.url = \"https://eu-de.ml.cloud.ibm.com/v3/wml_instances/ca8827ac-42b3-4b43-bfdc-7eafb3bf054b/deployments/270ba656-5d19-4ed8-98ad-db98c2530d6d/online\";\nmsg.payload = msg.scoring_payload;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 300,
        "y": 1060,
        "wires": [
            [
                "d5b331e3.e359f"
            ]
        ]
    },
    {
        "id": "3d508094.6a502",
        "type": "function",
        "z": "d1d598b6.2d3c88",
        "name": "Result Summary",
        "func": "// there is a list of results for the one image\n// sent for classification\nresults = msg.payload[0];\n\nvar text = '';\nfor(i = 0; i < results.length; i++) {\n    if( text !== '') {\n        text += ',';\n    }\n    text += results[i].class;\n}\n\nmsg = {\n    'payload': text,\n    'color': 'blue',\n    'speed': 4\n}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 1160,
        "wires": [
            [
                "6c7e168c.a24778",
                "557954fe.63ce0c"
            ]
        ],
        "outputLabels": [
            "SENSEHAT"
        ]
    },
    {
        "id": "3fa829f1.cb9bb6",
        "type": "ui_text",
        "z": "d1d598b6.2d3c88",
        "group": "68f7bdf6.3e3894",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Classification",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 190,
        "y": 700,
        "wires": []
    },
    {
        "id": "6c7e168c.a24778",
        "type": "rpi-sensehat out",
        "z": "d1d598b6.2d3c88",
        "name": "",
        "x": 770,
        "y": 1160,
        "wires": []
    },
    {
        "id": "63490770.a987e8",
        "type": "function",
        "z": "d1d598b6.2d3c88",
        "name": "Animate Result",
        "func": "// there is a list of results for the one image\n// sent for classification\n\nfunction num_words(str) {\n  return str.trim().split(/\\s+/).length;\n}\n\n\nspeech = {'payload': 'I could read the following digits.'}\nvar results = msg.payload[0];\nvar delay = 1;\n\nfunction send_result(i) {\n    \n    if( i >= results.length) {\n        node.send([null, {clear: true}]);\n        return;\n    }\n    \n    var photo = {};\n\n    r = results[i];\n    \n    digit = r.class.toString();\n    \n    photo.bbox = r.bbox;\n    \n    if(r.certainty > 0.9) {\n        text = digit;\n        photo.color = '#006600';\n\n    } else if (r.certainty > 0.75) {\n        text =  \"probably \" + digit;\n        photo.color = 'orange';\n        \n    } else {\n        text = \"probably \" + digit + \" but I'm not confident\";\n        photo.color = 'red';\n\n    }\n    \n    if( i < results.length - 1 ) {\n        text = text + ',';\n    }\n\n    if( i == results.length - 1 ) {\n        text = ' and ' + text + '.';\n    }\n    \n    speech = {payload: text};\n    node.send([speech, photo]);\n    \n    if( i < results.length) {\n        setTimeout(send_result, 1400 + num_words(text)*400, i+1);\n    }\n\n}\n\n\nnode.send([speech,null]);\n\nsetTimeout(send_result, 3000, 0);\n\nreturn null;\n",
        "outputs": 2,
        "noerr": 0,
        "x": 280,
        "y": 1240,
        "wires": [
            [
                "749848e6.9ea658"
            ],
            [
                "e470b050.1abc3"
            ]
        ],
        "outputLabels": [
            "SPEECH",
            "PHOTO"
        ]
    },
    {
        "id": "749848e6.9ea658",
        "type": "watson-text-to-speech",
        "z": "d1d598b6.2d3c88",
        "name": "",
        "lang": "en-GB",
        "langhidden": "en-GB",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "voice": "en-GB_KateVoice",
        "voicehidden": "en-US_MichaelVoice",
        "format": "audio/wav",
        "password": "",
        "apikey": "3LW7p8r-BVXn068KEZ1bG22bjQGHBH2dGbmGrgTkYeed",
        "payload-response": true,
        "default-endpoint": false,
        "service-endpoint": "https://stream-fra.watsonplatform.net/text-to-speech/api",
        "x": 500,
        "y": 1220,
        "wires": [
            [
                "4d6822b6.25657c"
            ]
        ]
    },
    {
        "id": "4d6822b6.25657c",
        "type": "speakerpi-output",
        "z": "d1d598b6.2d3c88",
        "choose": "filebased",
        "filename": "",
        "channels": "1",
        "bitdepth": "8",
        "samplerate": "22050",
        "name": "Speaker",
        "x": 680,
        "y": 1220,
        "wires": []
    },
    {
        "id": "e470b050.1abc3",
        "type": "link out",
        "z": "d1d598b6.2d3c88",
        "name": "",
        "links": [
            "36069bbb.192e04"
        ],
        "x": 435,
        "y": 1260,
        "wires": []
    },
    {
        "id": "557954fe.63ce0c",
        "type": "link out",
        "z": "d1d598b6.2d3c88",
        "name": "",
        "links": [
            "182f9e1e.04b8a2"
        ],
        "x": 715,
        "y": 1120,
        "wires": []
    },
    {
        "id": "182f9e1e.04b8a2",
        "type": "link in",
        "z": "d1d598b6.2d3c88",
        "name": "Classify",
        "links": [
            "557954fe.63ce0c",
            "a02246f0.d2def8",
            "7c11628e.1f28cc"
        ],
        "x": 55,
        "y": 700,
        "wires": [
            [
                "3fa829f1.cb9bb6"
            ]
        ]
    },
    {
        "id": "6b454caa.888ff4",
        "type": "function",
        "z": "d1d598b6.2d3c88",
        "name": "crt payload",
        "func": "\nmsg.scoring_payload = {\n    'values' : [msg.payload]\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 170,
        "y": 1000,
        "wires": [
            [
                "d03d453c.c8cfd8"
            ]
        ]
    },
    {
        "id": "ac3779e0.b6d038",
        "type": "function",
        "z": "d1d598b6.2d3c88",
        "name": "set path",
        "func": "msg.payload = flow.get(\"lspath\");\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 640,
        "y": 800,
        "wires": [
            [
                "573ba7c3.2210e8"
            ]
        ]
    },
    {
        "id": "573ba7c3.2210e8",
        "type": "link out",
        "z": "d1d598b6.2d3c88",
        "name": "Jump Fileload",
        "links": [
            "537c62a9.6df49c"
        ],
        "x": 755,
        "y": 800,
        "wires": []
    },
    {
        "id": "537c62a9.6df49c",
        "type": "link in",
        "z": "d1d598b6.2d3c88",
        "name": "Fileload",
        "links": [
            "573ba7c3.2210e8"
        ],
        "x": 55,
        "y": 440,
        "wires": [
            [
                "578bfddf.085764"
            ]
        ]
    },
    {
        "id": "983004f5.c9a948",
        "type": "change",
        "z": "d1d598b6.2d3c88",
        "name": "sav img",
        "rules": [
            {
                "t": "set",
                "p": "image",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 260,
        "wires": [
            [
                "5a217186.09d7f"
            ]
        ]
    },
    {
        "id": "5a217186.09d7f",
        "type": "base64",
        "z": "d1d598b6.2d3c88",
        "name": "b64",
        "action": "",
        "property": "payload",
        "x": 410,
        "y": 320,
        "wires": [
            [
                "acf89239.23423"
            ]
        ]
    },
    {
        "id": "acf89239.23423",
        "type": "change",
        "z": "d1d598b6.2d3c88",
        "name": "sav b64image",
        "rules": [
            {
                "t": "set",
                "p": "b64image",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 320,
        "wires": [
            [
                "a6f07204.26fe3",
                "b1b4a23f.c6c96"
            ]
        ]
    },
    {
        "id": "5025bf9b.db29",
        "type": "change",
        "z": "d1d598b6.2d3c88",
        "name": "sav img",
        "rules": [
            {
                "t": "set",
                "p": "image",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 500,
        "wires": [
            [
                "cb8d7501.aa4a68"
            ]
        ]
    },
    {
        "id": "cb8d7501.aa4a68",
        "type": "base64",
        "z": "d1d598b6.2d3c88",
        "name": "b64",
        "action": "",
        "property": "payload",
        "x": 630,
        "y": 540,
        "wires": [
            [
                "7c7efc98.f9b114"
            ]
        ]
    },
    {
        "id": "7c7efc98.f9b114",
        "type": "change",
        "z": "d1d598b6.2d3c88",
        "name": "sav b64image",
        "rules": [
            {
                "t": "set",
                "p": "b64image",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "photo",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 540,
        "wires": [
            [
                "a60cc970.6d9108",
                "2d3a931d.38010c",
                "613aad69.2e5bd4"
            ]
        ]
    },
    {
        "id": "2ed90aa3.8af0c6",
        "type": "comment",
        "z": "d1d598b6.2d3c88",
        "name": "Commands & Take Photo",
        "info": "",
        "x": 130,
        "y": 180,
        "wires": []
    },
    {
        "id": "24b53c6.ad3f4c4",
        "type": "change",
        "z": "d1d598b6.2d3c88",
        "name": "sav photo",
        "rules": [
            {
                "t": "set",
                "p": "photo",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 280,
        "wires": [
            [
                "5dee86b.f071478"
            ]
        ]
    },
    {
        "id": "b1b4a23f.c6c96",
        "type": "function",
        "z": "d1d598b6.2d3c88",
        "name": "set clasify",
        "func": "msg.payload = \"\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 760,
        "y": 380,
        "wires": [
            [
                "7c11628e.1f28cc"
            ]
        ]
    },
    {
        "id": "7c11628e.1f28cc",
        "type": "link out",
        "z": "d1d598b6.2d3c88",
        "name": "",
        "links": [
            "182f9e1e.04b8a2"
        ],
        "x": 875,
        "y": 380,
        "wires": []
    },
    {
        "id": "67ca88e9.80e6f8",
        "type": "link in",
        "z": "d1d598b6.2d3c88",
        "name": "Size",
        "links": [
            "613aad69.2e5bd4"
        ],
        "x": 55,
        "y": 660,
        "wires": [
            [
                "e1b2e92f.6103d8"
            ]
        ]
    },
    {
        "id": "493fe82.4a7c418",
        "type": "link out",
        "z": "d1d598b6.2d3c88",
        "name": "",
        "links": [],
        "x": 495,
        "y": 220,
        "wires": []
    },
    {
        "id": "613aad69.2e5bd4",
        "type": "link out",
        "z": "d1d598b6.2d3c88",
        "name": "Jump Size",
        "links": [
            "67ca88e9.80e6f8"
        ],
        "x": 935,
        "y": 580,
        "wires": []
    },
    {
        "id": "68f7bdf6.3e3894",
        "type": "ui_group",
        "z": "",
        "name": "Output",
        "tab": "247e3d79.183d62",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "fe5e6e92.e74cb",
        "type": "ui_group",
        "z": "",
        "name": "Commands",
        "tab": "247e3d79.183d62",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "91d76a9f.182008",
        "type": "ui_group",
        "z": "",
        "name": "Local Image",
        "tab": "247e3d79.183d62",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "787dd67f.06a908",
        "type": "wiotp-credentials",
        "z": "",
        "name": "",
        "org": "bgn6wt",
        "serverName": "",
        "devType": "TjBot",
        "devId": "tjbot-01",
        "keepalive": "60",
        "cleansession": true,
        "tls": "",
        "usetls": false
    },
    {
        "id": "247e3d79.183d62",
        "type": "ui_tab",
        "z": "",
        "name": "Handwriting",
        "icon": "dashboard",
        "order": 5
    }
]