TjBot-Other/TjBot-Motion-Python/cloud.json
[{"id":"69384e50.a3f45","type":"tab","label":"TJBot","disabled":false,"info":""},{"id":"fa5dc3af.8b2c1","type":"ibmiot out","z":"69384e50.a3f45","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"TJBot1","deviceType":"TJBot","eventCommandType":"take-photo","format":"json","data":"{chatId: msg.chatId}","qos":0,"name":"IBM IoT Take Photo","service":"registered","x":950,"y":500,"wires":[]},{"id":"df48be89.216ad8","type":"visual-recognition-v3","z":"69384e50.a3f45","name":"","apikey":"__PWRD__","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"classifyImage","lang":"de","x":450,"y":220,"wires":[["7596813d.f59758","9fb9f0bd.69828","ddfd1e0.9b8936"]]},{"id":"b2ac4aab.ba9c78","type":"http in","z":"69384e50.a3f45","name":"Take Photo","url":"/upload/take-photo","method":"post","upload":false,"swaggerDoc":"","x":90,"y":220,"wires":[["cd6c719.ec47f1"]]},{"id":"cd6c719.ec47f1","type":"function","z":"69384e50.a3f45","name":"","func":"msg.payload = Buffer.from(msg.req.body, 'binary');\nmsg.chatId = msg.req.headers['chat-id'];\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":220,"wires":[["df48be89.216ad8"]]},{"id":"dd17ee5d.c3b468","type":"http response","z":"69384e50.a3f45","name":"Take Photo Response","statusCode":"200","headers":{},"x":880,"y":160,"wires":[]},{"id":"7596813d.f59758","type":"function","z":"69384e50.a3f45","name":"","func":"msg.payload = msg.results;\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":160,"wires":[["dd17ee5d.c3b468"]]},{"id":"9fb9f0bd.69828","type":"function","z":"69384e50.a3f45","name":"","func":"let obj = msg.result.images[0].classifiers[0].classes[0];\nreturn {\n    payload: {\n        chatId: msg.chatId,\n        type: \"photo\",\n        caption: \"Ich bin mir zu \" +\n        (Math.floor(obj.score*100) ) + \"% sicher, \" +\n        \"dass ich etwas sehe, das sich \\\"\" + \n        obj.class + \"\\\" nennt.\",\n        content: msg.payload\n    }\n};","outputs":1,"noerr":0,"x":510,"y":340,"wires":[["c3043c6d.6416d"]]},{"id":"17b1f61.cae1e8a","type":"watson-conversation-v1","z":"69384e50.a3f45","name":"","workspaceid":"f36d31a9-39a0-4491-a6d5-4fdea9cd250e","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":false,"service-endpoint":"https://gateway-fra.watsonplatform.net/assistant/api","timeout":"","optout-learning":false,"x":460,"y":520,"wires":[["94018334.0894c","34827999.6c283e"]]},{"id":"3a7a376e.a11a6","type":"telegram receiver","z":"69384e50.a3f45","name":"","bot":"29d844fd.33c26c","saveDataDir":"","x":90,"y":520,"wires":[["8d36b979.e7cfc"],[]]},{"id":"8d36b979.e7cfc","type":"function","z":"69384e50.a3f45","name":"","func":"msg.chatId = msg.payload.chatId;\nmsg.payload = msg.payload.content;\nmsg.params = {\n    \"context\": {\n        \"private\": {\n            \"credentials\": {\n                \"user\": \"dc27097b-a909-461f-9669-722eb8a17487\",\n                \"password\": \"QFxZ0bunRjqkdmx7WNNkLOBfAWhxUm7wqo9Cz3aCMZa7FKmrTmPooJFRDt4gE9U1\"\n            }\n        }\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":520,"wires":[["17b1f61.cae1e8a"]]},{"id":"34827999.6c283e","type":"function","z":"69384e50.a3f45","name":"","func":"msg.payload = {\n  chatId: msg.chatId,\n  type: \"message\",\n  content: msg.payload.output.text[0]\n};\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":380,"wires":[["c3043c6d.6416d"]]},{"id":"94018334.0894c","type":"switch","z":"69384e50.a3f45","name":"","property":"payload.intents[0].intent","propertyType":"msg","rules":[{"t":"eq","v":"take-photo","vt":"str"},{"t":"eq","v":"change-color","vt":"str"},{"t":"eq","v":"play-game","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":630,"y":520,"wires":[["606aa513.c72424"],["9bb66da0.817248"],["6da031f8.ed1dd8"],[]]},{"id":"71b7de30.b182d8","type":"telegram sender","z":"69384e50.a3f45","name":"","bot":"29d844fd.33c26c","x":990,"y":380,"wires":[[]]},{"id":"606aa513.c72424","type":"function","z":"69384e50.a3f45","name":"","func":"msg.payload.chatId = msg.chatId;\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":500,"wires":[["fa5dc3af.8b2c1"]]},{"id":"aa984de2.6daa9","type":"ibmiot out","z":"69384e50.a3f45","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"TJBot1","deviceType":"TJBot","eventCommandType":"speak","format":"json","data":"{text: msg.payload}","qos":"0","name":"IBM IoT Speak","service":"registered","x":980,"y":440,"wires":[]},{"id":"a00d110e.7b5bf","type":"function","z":"69384e50.a3f45","name":"","func":"let text = (msg.payload.caption !== undefined) ? msg.payload.caption : msg.payload.content;\nreturn {\n    payload: {\n        text: text\n    }\n};","outputs":1,"noerr":0,"x":810,"y":440,"wires":[["aa984de2.6daa9"]]},{"id":"c3043c6d.6416d","type":"function","z":"69384e50.a3f45","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":380,"wires":[["a00d110e.7b5bf","71b7de30.b182d8"]]},{"id":"59a8c755.132bd8","type":"ui_template","z":"69384e50.a3f45","group":"c856bf44.55ced","name":"","order":0,"width":"16","height":"12","format":"<div>\n    <img style=\"width: 100%; height: auto;\" src=\"data:image/jpeg;base64,{{msg.payload}}\"/>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":820,"y":260,"wires":[[]]},{"id":"ddfd1e0.9b8936","type":"function","z":"69384e50.a3f45","name":"","func":"return {\n    payload: msg.payload.toString(\"base64\")\n};","outputs":1,"noerr":0,"x":680,"y":260,"wires":[["59a8c755.132bd8"]]},{"id":"1f93f37c.4f1275","type":"ibmiot out","z":"69384e50.a3f45","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"TJBot1","deviceType":"TJBot","eventCommandType":"change-color","format":"json","data":"{color: msg.payload.color}","qos":0,"name":"IBM IoT","service":"registered","x":940,"y":560,"wires":[]},{"id":"9bb66da0.817248","type":"function","z":"69384e50.a3f45","name":"","func":"for (var i in msg.payload.entities) {\n    var ent = msg.payload.entities[i];\n    if (ent.entity == \"color\") {\n        msg.color = ent.value;\n        msg.payload.color = ent.value;\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":560,"wires":[["1f93f37c.4f1275"]]},{"id":"6da031f8.ed1dd8","type":"function","z":"69384e50.a3f45","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":620,"wires":[["7615ad59.a59c14"]]},{"id":"7615ad59.a59c14","type":"ibmiot out","z":"69384e50.a3f45","authentication":"boundService","apiKey":"cb7c3235.23e9a8","outputType":"cmd","deviceId":"TJBot1","deviceType":"TJBot","eventCommandType":"play-game","format":"json","data":"{}","qos":0,"name":"IBM IoT","service":"registered","x":960,"y":620,"wires":[]},{"id":"29d844fd.33c26c","type":"telegram bot","z":"","botname":"WatsonLorenzChatBot","usernames":"","chatids":"","baseapiurl":"","pollinterval":"300"},{"id":"c856bf44.55ced","type":"ui_group","z":"","name":"Default","tab":"932e94ac.4aabb8","disp":true,"width":"16","collapse":false},{"id":"cb7c3235.23e9a8","type":"ibmiot","z":"","name":"iotworkshop"},{"id":"932e94ac.4aabb8","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]