TjBot-Other/TjBot-Motion-Python/raspi.json
[{"id":"77f5332.6f1a7cc","type":"tab","label":"TJBot IoT Listener","disabled":false,"info":""},{"id":"1e300bd3.7d51e4","type":"tab","label":"Sollte in Cloud sein","disabled":true,"info":""},{"id":"25726c6d.f99264","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"95d1743f.077b2","type":"tab","label":"SensorTag","disabled":true,"info":""},{"id":"afa5ddc7.c9d23","type":"tjbot-config","z":"","botGender":"male","name":"IBM TJBot","listen":"en-UK","speak":"de-DE","hasServo":true,"hasLED":false,"hasSpeaker":true,"hasMicrophone":true,"hasCamera":true,"speakerDeviceId":"plughw:0,0"},{"id":"5f99e8ca.c4d988","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"82471083.8feee","type":"ui_group","z":"","name":"Default","tab":"5f99e8ca.c4d988","disp":true,"width":"6","collapse":false},{"id":"30ee33a5.1b31dc","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"61d2b612.10b0c8","type":"telegram bot","z":"","botname":"WatsonLorenzChatBot","usernames":"","chatids":"","baseapiurl":"","pollinterval":"300"},{"id":"c73db71e.b58608","type":"ui_group","z":"","name":"Image","tab":"5f99e8ca.c4d988","disp":true,"width":"16","collapse":false},{"id":"dc98ef2c.827c28","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","verifyservercert":true},{"id":"11ee367f.2348fa","type":"ibmiot","z":"","name":"IBM IoT","keepalive":"60","serverName":"geq9fm.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"8f07f462.b507b8","type":"ui_group","z":"","name":"Sensor Data","tab":"c498c0a6.6b5818","disp":true,"width":"6"},{"id":"7da7309f.1e502","type":"wiotp-credentials","z":"","name":"Send IoTF","org":"9qs5ql","serverName":"","devType":"TjBot","devId":"TjBot","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"c498c0a6.6b5818","type":"ui_tab","z":"","name":"TjBot","icon":"dashboard"},{"id":"f56fba7b.4cddb","type":"ui_group","z":"","name":"SmartPlug Switch","tab":"","order":1,"disp":true,"width":"4"},{"id":"14fabf12.3b4b81","type":"ui_group","z":"","name":"SmartPlug Power Usage Chart","tab":"","order":2,"disp":true,"width":"8","collapse":false},{"id":"ed8b0cb6.d14d5","type":"ui_group","z":"","name":"SmartPlug Current Usage Chart","tab":"","order":3,"disp":true,"width":"8"},{"id":"f8d79d61.ea8398","type":"wiotp-credentials","z":"","name":"","org":"2bjj1c","serverName":"","devType":"RaspberryPi","devId":"8193401as93","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"81f0559b.bc1378","type":"wiotp-credentials","z":"","name":"pi-maeve-alex","org":"u4oper","devType":"RaspberryPi","devId":"pi-maeve-alex"},{"id":"d4e1ccfa.a8","type":"mqtt-broker","z":"95d1743f.077b2","broker":"192.168.182.128","port":"1883","clientid":"LarryMacOS","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"a4de10b8.fe302","type":"ui_group","name":"Group 2","tab":"4e1594b9.6e854c","order":2,"disp":true,"width":6},{"id":"4e1594b9.6e854c","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1},{"id":"c3ef1b7c.24fae8","type":"dropbox-config","z":"","name":""},{"id":"944d6636.b4261","type":"wiotp-credentials","z":"","name":"","org":"","serverName":"","devType":"raspberrypi","devId":"pidevice007","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"c1662020.2e0d4","type":"websocket-listener","z":"","path":"","wholemsg":"false"},{"id":"82e8922f.3d9e1","type":"ui_button","z":"1e300bd3.7d51e4","name":"","group":"82471083.8feee","order":0,"width":0,"height":0,"passthru":false,"label":"Take Photo","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":230,"y":240,"wires":[["6a350ef2.61b03"]]},{"id":"6a350ef2.61b03","type":"tjbot-see","z":"1e300bd3.7d51e4","botId":"afa5ddc7.c9d23","mode":"takephoto","verticalFlip":false,"horizontalFlip":false,"width":960,"height":720,"name":"","x":410,"y":240,"wires":[["502a0f1d.3e6dd","8d20d868.8ae6e8","8aca520d.d","80e8c71a.b51a98"]]},{"id":"502a0f1d.3e6dd","type":"ui_text","z":"1e300bd3.7d51e4","group":"82471083.8feee","order":0,"width":0,"height":0,"name":"","label":"Filename","format":"{{msg.filename}}","layout":"col-center","x":660,"y":20,"wires":[]},{"id":"eb60a9ca.1f19f8","type":"telegram sender","z":"1e300bd3.7d51e4","name":"","bot":"61d2b612.10b0c8","x":1210,"y":580,"wires":[[]]},{"id":"584d4663.2116f8","type":"function","z":"1e300bd3.7d51e4","name":"","func":"msg.chatId = msg.payload.chatId;\nmsg.payload = msg.payload.content;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":480,"wires":[["b58d3e83.eeda6"]]},{"id":"cd9cad35.a0e53","type":"function","z":"1e300bd3.7d51e4","name":"","func":"msg.payload = {\n  chatId : msg.chatId,\n  type : \"message\",\n  content : msg.payload.output.text[0]\n};\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":580,"wires":[["eb60a9ca.1f19f8"]]},{"id":"b58d3e83.eeda6","type":"watson-conversation-v1","z":"1e300bd3.7d51e4","name":"","workspaceid":"fe98f7e5-b3c9-40bd-b411-628d1975e4ec","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/assistant/api","timeout":"","optout-learning":false,"x":640,"y":480,"wires":[["cd9cad35.a0e53","72dee03c.e55ce"]]},{"id":"72dee03c.e55ce","type":"function","z":"1e300bd3.7d51e4","name":"","func":"msg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":420,"wires":[["14d901f7.35cade"]]},{"id":"14d901f7.35cade","type":"tjbot-speak","z":"1e300bd3.7d51e4","botId":"afa5ddc7.c9d23","mode":"speak","payload":"","name":"","x":1210,"y":420,"wires":[[]]},{"id":"a014c726.d92c48","type":"ui_template","z":"1e300bd3.7d51e4","group":"c73db71e.b58608","name":"","order":0,"width":"16","height":"12","format":"<div>\n<img src=\"{{msg.filename}}\" style=\"width: 100%; height: auto;\"/>\n</div>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1040,"y":160,"wires":[[]]},{"id":"1498304d.0b522","type":"exec","z":"1e300bd3.7d51e4","command":"mv","addpay":true,"append":"/home/pi/images/","useSpawn":"false","timer":"","oldrc":false,"name":"","x":810,"y":80,"wires":[[],[],[]]},{"id":"8aca520d.d","type":"delay","z":"1e300bd3.7d51e4","name":"","pauseType":"delay","timeout":"0.0625","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":680,"y":160,"wires":[["439c62de.dfde8c","5560cc96.cc3a74"]]},{"id":"439c62de.dfde8c","type":"function","z":"1e300bd3.7d51e4","name":"","func":"var arr = msg.filename.split(\"/\");\nmsg.filename = \"/\" + arr[arr.length-1];\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":160,"wires":[["a014c726.d92c48"]]},{"id":"8d20d868.8ae6e8","type":"function","z":"1e300bd3.7d51e4","name":"","func":"msg.payload = msg.filename;\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":80,"wires":[["1498304d.0b522"]]},{"id":"9a72146b.876168","type":"visual-recognition-v3","z":"1e300bd3.7d51e4","name":"","apikey":"__PWRD__","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"classifyImage","lang":"de","x":690,"y":340,"wires":[["a5f32d58.025ff","4d62cd3.9d15a34","a669b9f3.484aa8"]]},{"id":"b984e6bc.e2cf78","type":"file in","z":"1e300bd3.7d51e4","name":"","filename":"","format":"","chunk":false,"sendError":false,"x":490,"y":340,"wires":[["9a72146b.876168"]]},{"id":"5560cc96.cc3a74","type":"function","z":"1e300bd3.7d51e4","name":"","func":"var arr = msg.filename.split(\"/\");\nmsg.filename = \"/home/pi/images/\" + arr[arr.length-1];\nreturn msg;\n","outputs":1,"noerr":0,"x":290,"y":340,"wires":[["b984e6bc.e2cf78"]]},{"id":"224be317.729cbc","type":"ui_text","z":"1e300bd3.7d51e4","group":"82471083.8feee","order":0,"width":"6","height":"12","name":"","label":"Watson","format":"{{msg.result}}","layout":"col-center","x":1100,"y":280,"wires":[]},{"id":"a5f32d58.025ff","type":"function","z":"1e300bd3.7d51e4","name":"","func":"let type = msg.result.images[0].classifiers[0].classes[0];\nmsg.payload = \n \"Ich bin mir zu \" + \n Math.floor(type.score*100) + \n \"% sicher, dass ich etwas sehe, das sich. '\" + \n type.class + \n \"'. nennt.\";\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":340,"wires":[["14d901f7.35cade"]]},{"id":"4d62cd3.9d15a34","type":"function","z":"1e300bd3.7d51e4","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":280,"wires":[["224be317.729cbc"]]},{"id":"f52b8ade.92b3c8","type":"tjbot-speak","z":"1e300bd3.7d51e4","botId":"afa5ddc7.c9d23","mode":"speak","payload":"","name":"","x":750,"y":260,"wires":[[]]},{"id":"80e8c71a.b51a98","type":"function","z":"1e300bd3.7d51e4","name":"","func":"msg.payload = \"Lass mich einen Moment nachdenken...\";\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":280,"wires":[["f52b8ade.92b3c8"]]},{"id":"a175b3e.ad49d5","type":"telegram command","z":"1e300bd3.7d51e4","name":"","command":"/see","bot":"61d2b612.10b0c8","x":90,"y":340,"wires":[["6a350ef2.61b03"],["584d4663.2116f8"]]},{"id":"a669b9f3.484aa8","type":"function","z":"1e300bd3.7d51e4","name":"","func":"let type = msg.result.images[0].classifiers[0].classes[0];\nmsg.payload = {\n  chatId : msg.chatId,\n  type : \"message\",\n  content :  \"Ich bin mir zu \" + \n   Math.floor(type.score*100) + \n   \"% sicher, dass ich etwas sehe, das sich '\" + \n   type.class + \n   \"' nennt.\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":380,"wires":[["eb60a9ca.1f19f8"]]},{"id":"5bb29c66.47ee14","type":"switch","z":"77f5332.6f1a7cc","name":"","property":"commandType","propertyType":"jsonata","rules":[{"t":"eq","v":"take-photo","vt":"str"},{"t":"eq","v":"speak","vt":"str"},{"t":"eq","v":"change-color","vt":"str"},{"t":"eq","v":"play-game","vt":"str"},{"t":"eq","v":"predict","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":110,"y":300,"wires":[["bc84662.1ab6518","b1507d22.ecf608"],["7b1d5a33.a7212c"],["94432c1e.555758","a445f10a.97e5f"],["79033bb0.f84644"],["9d7331f9.e5b13"]]},{"id":"bc84662.1ab6518","type":"tjbot-see","z":"77f5332.6f1a7cc","botId":"afa5ddc7.c9d23","mode":"takephoto","verticalFlip":false,"horizontalFlip":false,"width":960,"height":720,"name":"Take Photo","x":310,"y":220,"wires":[["792078de.984158"]]},{"id":"792078de.984158","type":"file in","z":"77f5332.6f1a7cc","name":"","filename":"","format":"","chunk":false,"sendError":false,"x":470,"y":220,"wires":[["f98f2125.05d418"]]},{"id":"33143230.94c7ce","type":"ibmiot in","z":"77f5332.6f1a7cc","authentication":"apiKey","apiKey":"11ee367f.2348fa","inputType":"cmd","logicalInterface":"","ruleId":"","deviceId":"TJBot1","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":true,"allFormats":"","qos":0,"x":90,"y":160,"wires":[["5bb29c66.47ee14","55546428.855044"]]},{"id":"f98f2125.05d418","type":"function","z":"77f5332.6f1a7cc","name":"","func":"return {\n    name: \"image\",\n    payload: msg.payload\n};","outputs":1,"noerr":0,"x":610,"y":220,"wires":[["447560dd.4a89a"]]},{"id":"447560dd.4a89a","type":"function","z":"77f5332.6f1a7cc","name":"","func":"return {\n    payload: msg.payload.toString('binary'),\n    headers: {\n        \"Chat-ID\": global.get('chatId')\n    }\n};","outputs":1,"noerr":0,"x":850,"y":180,"wires":[["3775b355.84f264"]]},{"id":"3775b355.84f264","type":"www-request","z":"77f5332.6f1a7cc","name":"","method":"POST","ret":"bin","url":"https://tjbot-watson-iot.eu-gb.mybluemix.net/upload/take-photo","follow-redirects":true,"tls":"dc98ef2c.827c28","x":1010,"y":180,"wires":[[]]},{"id":"6e4b0d65.88052c","type":"tjbot-speak","z":"77f5332.6f1a7cc","botId":"afa5ddc7.c9d23","mode":"speak","payload":"","name":"","x":470,"y":280,"wires":[[]]},{"id":"7b1d5a33.a7212c","type":"function","z":"77f5332.6f1a7cc","name":"","func":"msg.payload = msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":280,"wires":[[]]},{"id":"fa9959f5.e658b","type":"comment","z":"25726c6d.f99264","name":"TJBot - Send IoTF ","info":"","x":210,"y":40,"wires":[]},{"id":"9bc3e996.f28128","type":"debug","z":"25726c6d.f99264","name":"Environment","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":413,"y":81,"wires":[]},{"id":"8d0316b4.5962d8","type":"function","z":"25726c6d.f99264","name":"Split msg","func":"var msg1 = {payload: msg.payload.temperature};\nvar msg2 = {payload: msg.payload.humidity};\nvar msg3 = {payload: msg.payload.pressure};\n\nreturn [msg1, msg2, msg3];","outputs":"3","noerr":0,"x":403,"y":142.5,"wires":[["271f04fb.27f8bc"],["aef4d5f1.ef9e88"],["77976484.268354"]]},{"id":"c60260eb.16eea8","type":"rbe","z":"25726c6d.f99264","name":"Block 2% change ","func":"deadband","gap":"2%","start":"","inout":"in","property":"payload","x":230,"y":960,"wires":[["4e52dbfd.597d34"]]},{"id":"4e52dbfd.597d34","type":"switch","z":"25726c6d.f99264","name":"temp thresh","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"40","vt":"str"},{"t":"gt","v":"40","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":450.2666320800781,"y":963.566650390625,"wires":[["f227b158.f22518"],["a4714fb0.a3f558"]]},{"id":"f227b158.f22518","type":"template","z":"25726c6d.f99264","name":"safe","field":"text","fieldType":"msg","syntax":"mustache","template":"Temp ({{payload}})     is ok","x":618.2666320800781,"y":914.566650390625,"wires":[["2283b8c8.15caa8"]]},{"id":"a4714fb0.a3f558","type":"template","z":"25726c6d.f99264","name":"danger","field":"text","fieldType":"msg","syntax":"mustache","template":"Temp ({{payload}})     is critical","x":618.2666320800781,"y":1012.566650390625,"wires":[["2572dbdb.1c0464"]]},{"id":"2283b8c8.15caa8","type":"change","z":"25726c6d.f99264","name":"Set RGB","rules":[{"t":"set","p":"red","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"green","pt":"msg","to":"255","tot":"num"},{"t":"set","p":"blue","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":765.5000305175781,"y":914.3333435058594,"wires":[["64c98871.1b5c2"]]},{"id":"2572dbdb.1c0464","type":"change","z":"25726c6d.f99264","name":"Set RGB","rules":[{"t":"set","p":"red","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"green","pt":"msg","to":"255","tot":"num"},{"t":"set","p":"blue","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":770.3999328613281,"y":1012.933349609375,"wires":[["64c98871.1b5c2"]]},{"id":"64c98871.1b5c2","type":"function","z":"25726c6d.f99264","name":"Set LCD","func":"var devEvent = {\n    \"d\" : {\n        \"device\" : \"grovepi-0\",\n        \"cmd\" : \"temperature\",\n        \"text\" : msg.text,\n        \"rgb\" : [msg.red, msg.green, msg.blue]\n    }\n}\n\nmsg.payload = JSON.stringify(devEvent); \n\nreturn msg;","outputs":1,"noerr":0,"x":937.5000305175781,"y":963.6000366210938,"wires":[["5d9637e7.1c73d8"]]},{"id":"5d9637e7.1c73d8","type":"debug","z":"25726c6d.f99264","name":"LCD Command","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1125.2666320800781,"y":891.566650390625,"wires":[]},{"id":"31c9516f.5766b6","type":"ui_gauge","z":"25726c6d.f99264","name":"Temperature","group":"8f07f462.b507b8","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"°C","format":"{{value | number:2}}","min":"-20","max":"+50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":813.5,"y":80.00003051757812,"wires":[]},{"id":"e1003443.0303c8","type":"ui_gauge","z":"25726c6d.f99264","name":"Humidity","group":"8f07f462.b507b8","order":0,"width":0,"height":0,"gtype":"donut","title":"Humidity","label":"%","format":"{{value | number:1}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":799,"y":140.5,"wires":[]},{"id":"77976484.268354","type":"ui_gauge","z":"25726c6d.f99264","name":"Pressure","group":"8f07f462.b507b8","order":0,"width":0,"height":0,"gtype":"gage","title":"Pressure","label":"mbar","format":"{{value | number:0}}","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":604,"y":186.5,"wires":[]},{"id":"766971bc.d1a238","type":"function","z":"25726c6d.f99264","name":"Set IoTF TempHumPres","func":"//var pres = msg.payload.pressure * 0.001;\n// pres = parseInt(pres.toFixed(2));\n\nvar device = global.get(\"device\");\n\nvar sensor =\n    {\"d\":\n        {\n            \"device\" : device,\n            \"sensor\" : \"SenseHAT\",\n            \"sensortype\" : \"environment\",\n            \"timestamp\" : new Date(),\n            \"temperature\":msg.payload.temperature,\n            \"humidity\": msg.payload.humidity,\n            \"pressure\" : msg.payload.pressure\n        }\n    }; \n\nmsg.payload = JSON.stringify(sensor);\nreturn msg;","outputs":1,"noerr":0,"x":451,"y":234,"wires":[["be870575.abaec8"]]},{"id":"be870575.abaec8","type":"wiotp out","z":"25726c6d.f99264","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"7da7309f.1e502","deviceType":"","deviceId":"","event":"Environment","format":"json","qos":"","name":"Send IoTF ","x":700,"y":255,"wires":[]},{"id":"5d1074c.f13c68c","type":"debug","z":"25726c6d.f99264","name":"","active":true,"console":"false","complete":"false","x":827,"y":668,"wires":[]},{"id":"df4164ab.6d2a58","type":"debug","z":"25726c6d.f99264","name":"Joystick","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":382,"y":361,"wires":[]},{"id":"b35bade5.0242d","type":"function","z":"25726c6d.f99264","name":"Set IoTF Joystick","func":"var device = global.get(\"device\");\n\nvar sensor =\n    {\"d\":\n        {\n            \"device\" : device,\n            \"sensor\" : \"SenseHAT\", \n            \"sensortype\" : \"joystick\",\n            \"timestamp\" : new Date(),\n            \"key\":msg.payload.key,\n            \"state\" : msg.payload.state\n        }\n    }; \n\nmsg.payload = JSON.stringify(sensor);\nreturn msg;","outputs":1,"noerr":0,"x":412,"y":420,"wires":[["b8ef11c3.07bb"]]},{"id":"b8ef11c3.07bb","type":"wiotp out","z":"25726c6d.f99264","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"7da7309f.1e502","deviceType":"","deviceId":"","event":"Joystick","format":"json","qos":"","name":"Send IoTF ","x":622,"y":419,"wires":[]},{"id":"731488bc.fc971","type":"function","z":"25726c6d.f99264","name":"Set IoTF Motion","func":"var device = global.get(\"device\");\n\nvar sensor =\n    {\"d\":\n        {\n            \"device\" : device,\n            \"sensor\" : \"SenseHAT\", \n            \"sensortype\" : \"motion\",\n            \"timestamp\" : new Date(),\n            \"acceleration\":msg.payload.acceleration,\n            \"gyroscope\":msg.payload.gyroscope,\n            \"orientation\":msg.payload.orientation,\n            \"compass\":msg.payload.compass\n        }\n    }; \n\nmsg.payload = JSON.stringify(sensor);\nreturn msg;","outputs":1,"noerr":0,"x":619,"y":722,"wires":[["9b407003.90b2e8","5d1074c.f13c68c"]]},{"id":"9b407003.90b2e8","type":"wiotp out","z":"25726c6d.f99264","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"7da7309f.1e502","deviceType":"","deviceId":"","event":"Motion","format":"json","qos":"","name":"Send IoTF ","x":826,"y":722,"wires":[]},{"id":"3e3539a.4b69546","type":"inject","z":"25726c6d.f99264","name":"ON","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":195,"y":618,"wires":[["fc7cd9cd.9ddeb8"]]},{"id":"66063dfd.d9567c","type":"inject","z":"25726c6d.f99264","name":"OFF","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":true,"x":195,"y":658,"wires":[["fc7cd9cd.9ddeb8"]]},{"id":"64fa4541.75e3cc","type":"debug","z":"25726c6d.f99264","name":"Setup Motion","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":625,"y":638,"wires":[]},{"id":"fc7cd9cd.9ddeb8","type":"change","z":"25726c6d.f99264","name":"Enable / Disable Motion","rules":[{"t":"set","p":"motion-start-stop","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":395,"y":638,"wires":[["64fa4541.75e3cc"]]},{"id":"f293e1a1.c15408","type":"switch","z":"25726c6d.f99264","name":"Is motion enabled?","property":"motion-start-stop","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":385,"y":722,"wires":[["731488bc.fc971"]]},{"id":"4b31409c.9f5468","type":"comment","z":"25726c6d.f99264","name":"Motion is disabled on startup","info":"","x":240,"y":560,"wires":[]},{"id":"271f04fb.27f8bc","type":"change","z":"25726c6d.f99264","name":"Global Temp","rules":[{"t":"set","p":"temp","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":613,"y":80,"wires":[["31c9516f.5766b6"]]},{"id":"aef4d5f1.ef9e88","type":"change","z":"25726c6d.f99264","name":"Global Hum","rules":[{"t":"set","p":"hum","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":613,"y":141,"wires":[["e1003443.0303c8"]]},{"id":"54133f15.b336a8","type":"function","z":"25726c6d.f99264","name":"HAT Msg","func":"var hostname = global.get(\"device\") || \"\";\nvar ip = global.get(\"IP\") || \"\";\nvar rotation = global.get(\"rotation\");\n\nif (rotation) {\n    msg.payload = rotation + \"\\n\" + hostname + \" : \" + msg.ip;\n} else {\n    msg.payload = hostname + \" : \" + ip;\n}\nmsg.speed = 4;\n\nreturn msg;","outputs":1,"noerr":0,"x":576,"y":479,"wires":[["90aca87.342d6d8"]]},{"id":"b4b454a.82e84a8","type":"switch","z":"25726c6d.f99264","name":"Enter Click","property":"payload.key","propertyType":"msg","rules":[{"t":"eq","v":"ENTER","vt":"str"}],"checkall":"true","outputs":1,"x":390,"y":479,"wires":[["54133f15.b336a8"]]},{"id":"3f5014b6.8cdbb4","type":"debug","z":"25726c6d.f99264","name":"Motion","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":354.1909942626953,"y":794.7049026489258,"wires":[]},{"id":"984f4e48.b06058","type":"comment","z":"25726c6d.f99264","name":"Joystick handling","info":"","x":228.01734924316406,"y":329.0104064941406,"wires":[]},{"id":"f0ae2a69.aeb9a8","type":"comment","z":"25726c6d.f99264","name":"Joystick usage","info":"","x":201,"y":322,"wires":[]},{"id":"92cfdb06.03fe4","type":"rpi-sensehat in","z":"25726c6d.f99264","name":"Environment","motion":false,"env":true,"stick":false,"x":191,"y":142,"wires":[["9bc3e996.f28128","8d0316b4.5962d8","766971bc.d1a238"]]},{"id":"ed66a4fb.7f27d","type":"rpi-sensehat in","z":"25726c6d.f99264","name":"Motion","motion":true,"env":false,"stick":false,"x":171,"y":722,"wires":[["f293e1a1.c15408","3f5014b6.8cdbb4"]]},{"id":"76cab35c.7da3e4","type":"rpi-sensehat in","z":"25726c6d.f99264","name":"Joystick","motion":false,"env":false,"stick":true,"x":181,"y":420,"wires":[["df4164ab.6d2a58","b35bade5.0242d","b4b454a.82e84a8"]]},{"id":"90aca87.342d6d8","type":"rpi-sensehat out","z":"25726c6d.f99264","name":"","x":761,"y":479,"wires":[]},{"id":"4cd9f819.006db8","type":"inject","z":"25726c6d.f99264","name":"","topic":"","payload":"\"{red: 255, green: 0, blue: 16, text: \\\"Test?\\\"}\"","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":750,"y":840,"wires":[["64c98871.1b5c2"]]},{"id":"c2a64d55.19fe88","type":"rpi-sensehat out","z":"77f5332.6f1a7cc","name":"","x":670,"y":340,"wires":[]},{"id":"fb7d0b9b.117418","type":"function","z":"77f5332.6f1a7cc","name":"","func":"let color;\nswitch (msg.payload.color) {\n    case \"rot\": color = \"255,0,0\"; break;\n    case \"grün\": color = \"0,255,0\"; break;\n    case \"blau\": color = \"0,0,255\"; break;\n    case \"cyan\": color = \"0,255,255\"; break;\n    case \"magenta\": color = \"255,0,255\"; break;\n    case \"gelb\": color = \"255,255,0\"; break;\n}\nmsg.payload = \"*,*,\" + color;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":340,"wires":[["c2a64d55.19fe88"]]},{"id":"55546428.855044","type":"debug","z":"77f5332.6f1a7cc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":100,"y":400,"wires":[]},{"id":"8ba4b76b.b0001","type":"debug","z":"95d1743f.077b2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":696.8333129882812,"y":99.88887786865234,"wires":[]},{"id":"40535cc2.f8a9a4","type":"wiotp in","z":"95d1743f.077b2","authType":"d","deviceKey":"f8d79d61.ea8398","deviceType":"","deviceId":"","command":"takepic","commandType":"g","qos":0,"name":"","x":478.5,"y":110.25,"wires":[["b8714233.cf08a","8ba4b76b.b0001","83b27f7e.176e68"]]},{"id":"c5b6cc3.527d8b","type":"wiotp out","z":"95d1743f.077b2","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"f8d79d61.ea8398","deviceType":"","deviceId":"","event":"event","format":"json","qos":"","name":"","x":911.9444580078125,"y":525.3888549804688,"wires":[]},{"id":"6a9aa4ed.fb449c","type":"inject","z":"95d1743f.077b2","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":"1","x":521.9444580078125,"y":529.1388549804688,"wires":[["3de13914.e86be6"]]},{"id":"3de13914.e86be6","type":"exec","z":"95d1743f.077b2","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"read cpu temperature","x":666.4444580078125,"y":596.8888549804688,"wires":[["5cd9db03.968d8c"],[],[]]},{"id":"5cd9db03.968d8c","type":"function","z":"95d1743f.077b2","name":"format temperature","func":"msg.payload = Number(msg.payload.slice(5,-3));\nmsg.payload = {temp:msg.payload};\nreturn msg;","outputs":"1","noerr":0,"x":877.4444580078125,"y":657.8888549804688,"wires":[["c5b6cc3.527d8b"]]},{"id":"9b84c0af.7ace7","type":"comment","z":"95d1743f.077b2","name":"Read Raspberry Pi cpu temperature","info":"Reads the Raspberry Pi cpu temperature every 15 seconds, \nformats the data to tidy up the string and \nthen sends the data to the IBM Watson IOT platform\n\nAfter deploying the example, open the Watson IoT\nnode and click the link button to take you to the \nQuickstartdashboard for your flow.\n","x":569.4444580078125,"y":480.88885498046875,"wires":[]},{"id":"b8714233.cf08a","type":"function","z":"95d1743f.077b2","name":"","func":"msg.payload = {};\nreturn msg;","outputs":1,"noerr":0,"x":647.5,"y":152.75,"wires":[["12aafe3c.49fae2"]]},{"id":"b539050d.c30e1","type":"debug","z":"95d1743f.077b2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1060.5555419921875,"y":217.933349609375,"wires":[]},{"id":"55da1b59.591c6c","type":"inject","z":"95d1743f.077b2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":638.3333282470703,"y":199.1666717529297,"wires":[["12aafe3c.49fae2"]]},{"id":"19af6988.17c3ee","type":"dropbox out","z":"95d1743f.077b2","dropbox":"c3ef1b7c.24fae8","filename":"image01.jpg","localFilename":"/home/pi/Pictures/image01.jpg","name":"","x":1068.3333129882812,"y":164.7222137451172,"wires":[]},{"id":"5cb77c32.ea87ec","type":"wiotp out","z":"95d1743f.077b2","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"f8d79d61.ea8398","deviceType":"","deviceId":"","event":"picture","format":"json","qos":"","name":"","x":1023.555419921875,"y":274.5555725097656,"wires":[]},{"id":"fe4f285a.c5897","type":"function","z":"95d1743f.077b2","name":"","func":"msg.payload = {};\nreturn msg;","outputs":1,"noerr":0,"x":897.77783203125,"y":228.88888549804688,"wires":[["5cb77c32.ea87ec"]]},{"id":"8717634f.930df8","type":"rpi-sensehat in","z":"95d1743f.077b2","name":"","motion":false,"env":true,"stick":true,"x":504.5,"y":370,"wires":[["3b5078e9.656288"]]},{"id":"5be3baa5.ccd2c4","type":"wiotp out","z":"95d1743f.077b2","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"f8d79d61.ea8398","deviceType":"","deviceId":"","event":"sensehat","format":"json","qos":"","name":"","x":1023,"y":366,"wires":[]},{"id":"3b5078e9.656288","type":"function","z":"95d1743f.077b2","name":"temp","func":"msg.payload = {\n    temperature:msg.payload.temperature,\n    humidity:msg.payload.humidity,\n    pressure:msg.payload.pressure\n};\nreturn msg;","outputs":1,"noerr":0,"x":769.5,"y":368.75,"wires":[["5be3baa5.ccd2c4"]]},{"id":"33ad8a01.9f82f6","type":"debug","z":"95d1743f.077b2","name":"ERROR","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":636.5,"y":274.5,"wires":[]},{"id":"6e81aabb.618234","type":"catch","z":"95d1743f.077b2","name":"","scope":null,"x":448.5,"y":271.25,"wires":[["33ad8a01.9f82f6"]]},{"id":"386e5ab0.abd2de","type":"change","z":"95d1743f.077b2","name":"","rules":[{"t":"move","p":"payload.temperature","pt":"msg","to":"payload.d.temp","tot":"msg"},{"t":"move","p":"payload.humidity","pt":"msg","to":"payload.d.humidity","tot":"msg"},{"t":"move","p":"payload.pressure","pt":"msg","to":"payload.d.pressure","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":745,"y":728,"wires":[[]]},{"id":"f0fd642f.a894","type":"rpi-sensehat out","z":"95d1743f.077b2","name":"","x":875,"y":45,"wires":[]},{"id":"83b27f7e.176e68","type":"change","z":"95d1743f.077b2","name":"","rules":[{"t":"move","p":"command","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":665,"y":45,"wires":[["f0fd642f.a894"]]},{"id":"12aafe3c.49fae2","type":"usbcamera","z":"95d1743f.077b2","filemode":"1","filename":"image01","filedefpath":"0","filepath":"/home/pi/Pictures","fileformat":"jpeg","resolution":"3","name":"","x":868.6112060546875,"y":164.22222900390625,"wires":[["19af6988.17c3ee","b539050d.c30e1","fe4f285a.c5897"]]},{"id":"79033bb0.f84644","type":"function","z":"77f5332.6f1a7cc","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":460,"wires":[["583117e1.7d2368"]]},{"id":"583117e1.7d2368","type":"exec","z":"77f5332.6f1a7cc","command":"/home/pi/TJBot-python/pong.py","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"pong.py","x":480,"y":460,"wires":[[],[],[]]},{"id":"6199b5fe.f1e04c","type":"inject","z":"77f5332.6f1a7cc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":500,"wires":[["79033bb0.f84644"]]},{"id":"94432c1e.555758","type":"exec","z":"77f5332.6f1a7cc","command":"/home/pi/TJBot-python/kill-last.sh","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"kill-last.sh","x":320,"y":400,"wires":[[],[],[]]},{"id":"a445f10a.97e5f","type":"delay","z":"77f5332.6f1a7cc","name":"","pauseType":"delay","timeout":"0.25","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":330,"y":340,"wires":[["fb7d0b9b.117418"]]},{"id":"9d7331f9.e5b13","type":"exec","z":"77f5332.6f1a7cc","command":"/home/pi/TJBot-python/predict.py","addpay":true,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"predict.py","x":320,"y":600,"wires":[["8861f010.75853"],[],[]]},{"id":"b1507d22.ecf608","type":"function","z":"77f5332.6f1a7cc","name":"","func":"global.set('chatId', msg.payload.chatId);","outputs":1,"noerr":0,"x":290,"y":160,"wires":[[]]},{"id":"8861f010.75853","type":"rbe","z":"77f5332.6f1a7cc","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":530,"y":600,"wires":[["26c763cb.d8164c"]]},{"id":"5b219576.7d7454","type":"rpi-sensehat out","z":"77f5332.6f1a7cc","name":"","x":910,"y":520,"wires":[]},{"id":"26c763cb.d8164c","type":"function","z":"77f5332.6f1a7cc","name":"","func":"if (msg.payload == \"k\") {\n    return {\n        payload: \"O\",\n        color: \"red\",\n        speed: 2\n    };\n}","outputs":1,"noerr":0,"x":650,"y":520,"wires":[["5b219576.7d7454","94432c1e.555758"]]},{"id":"93c87e58.67bdc8","type":"inject","z":"77f5332.6f1a7cc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":600,"wires":[["9d7331f9.e5b13"]]}]